{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-accounting %}<li role="presentation" class="active"><a href="{% url 'accounting' fair.year %}">Accounting</a></li>{% endblock %}

{% block content %}
<h1>Accounting</h1>

<p>
	<a class="btn btn-default" type="button" href="{% url 'invoice_companies' fair.year %}">Invoice companies</a>
	<a class="btn btn-default" type="button" href="{% url 'companies_without_ths_customer_ids' fair.year %}">Companies without THS customer ID's</a>
	<a class="btn btn-default" type="button" href="{% url 'product_summary' fair.year %}">Product summary</a>
</p>
{% endblock %}
