{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load humanize %}

{% block nav-accounting %}<li role="presentation" class="active"><a href="{% url 'accounting' fair.year %}">Accounting</a></li>{% endblock %}

{% block content %}
<h1>Invoice companies</h1>

<p>
	<a class="btn btn-default" type="button" href="{% url 'invoice_companies' fair.year %}">Invoice companies</a>
	<a class="btn btn-default" type="button" href="{% url 'companies_without_ths_customer_ids' fair.year %}">Companies without THS customer ID's</a>
	<a class="btn btn-default" type="button" href="{% url 'product_summary' fair.year %}">Product summary</a>
</p>

<h1>Product summary</h1>
<p>The following tables summarize all orders for all products at this fair.</p>

{% for product in products %}
	<h2>{% if product.category %}{{ product.category }} – {% endif %}{{ product.name }}</h2>
	
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Company</th>
					<th style="width: 20%; text-align: right;">Quantity</th>
					<th style="width: 20%; text-align: right;">Unit price (SEK)</th>
					<th style="width: 20%; text-align: right;">Price (SEK)</th>
				</tr>
			</thead>
			
			<tbody>
				{% if product.orders %}
					{% for order in product.orders %}
						<tr>
							<td>
								<a href="{% url 'companies_orders_edit' fair.year order.purchasing_company.pk order.pk %}">{{ order.purchasing_company.name }}</a>
								
								{% if order.name %}
									<span style="font-style: italic;">({{ order.name }})</span>
								{% endif %}
								
								{% if order.comment %}
									<br />
									<span style="font-style: italic;">{{ order.comment }}</span>
								{% endif %}
							</td>
							<td style="text-align: right;">{{ order.quantity }}</td>
							<td style="text-align: right;">{% if order.unit_price is not None %}<span style="color: #000000;">{{ order.unit_price | intcomma }}</span>{% else %}<span style="color: #999999;">{{ product.unit_price | intcomma }}</span>{% endif %}</td>
							<td style="text-align: right;">{{ order.price | intcomma }}</td>
						</tr>
					{% endfor %}
					
					<tr>
						<td></td>
						<td style="text-align: right; font-weight: 700;">{{ product.total_quantity }}</td>
						<td></td>
						<td style="text-align: right; font-weight: 700;">{{ product.total_price | intcomma }}</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3" style="text-align: center;">No orders for this product.</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
	</div>
{% endfor %}
{% endblock %}
