{% load crispy_forms_tags %}{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta charset="utf-8" />
		{% include "header.html" %}{% block head-extra %}{% endblock %}
		<link href="{% static 'registration_style.css' %}" rel="stylesheet" media="screen" />
		<script src="{% static 'js/setmobile.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	</head>

	<body>
		<div class="container">
			<div class="text-center headline">
				<h2>{{ fair }}</h2>
				<h1>The After Party</h1>
			</div>

			<p>
				<span style="font-weight: bold;">Time and date:</span> {{ date }} <br />
				<span style="font-weight: bold;">Location:</span> {{ location }}
			</p>

			<p><br /></p>

			{% if form %}
				<form method="post">
					{% csrf_token %}
					{{ form | crispy }}

					<button type="submit" class="btn btn-lg btn-success center-block">Continue</button>
				</form>

			{% elif ticket is None  %}
				<form method="post">
					{% csrf_token %}
					<p><span style="font-weight: bold;">Total to pay:</span> SEK {{ amount }}</p>
					<button type="submit" class="btn btn-lg btn-success center-block">Proceed to Payment</button>
				</form>

			{% else %}
				<h2>You have a ticket!</h2>
				<p>Please look in your inbox; your ticket should be delivered electronically within an hour. If you have any questions, don't hesitate to write to <a href="mailto:support@armada.nu">support@armada.nu</a>.</p>

				<p><span style="font-weight: bold;">Ticket reference:</span> <span class="bg-info">{{ ticket.token }}</span></p>

				<p>Welcome to the After Party!</p>

				{% if has_paid is not True %}
					<div class="alert alert-warning" role="alert">We haven't received your payment of SEK {{ amount }}. If you haven't paid before the After Party, this ticket is invalid.</div>
						<form method="post">
							{% csrf_token %}
							<p><span style="font-weight: bold;">Total to pay:</span> SEK {{ amount }}</p>
							<button type="submit" class="btn btn-lg btn-success center-block">Proceed to Payment</button>
						</form>

				{% else %}
					<div class = "alert alert-success">We have received your payment of SEK {{ amount }}.</div>{% endif %}
				{% endif %}

		</div>
	</body>
</html>
