{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block nav-banquet %}
  <li role="presentation" class="active"><a href="{% url 'banquet_dashboard' fair.year %}">Banquet</a></li>
{% endblock %}

{% block content %}
  <h1>Your invitations</h1>

  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Banquet</th>
        <th>Time and date</th>
        <th>Location</th>
      </tr>
      </thead>

      <tbody>
      {% if invitiations %}
        {% for invitiation in invitiations %}
          <tr>
            <td>
              <a href="{% url 'banquet_invitation' fair.year invitiation.token %}">{{ invitiation.banquet }}</a>

              {% if invitiation.denied %}<span class="label label-danger">Not going</span>
              {% elif invitiation.participant %}<span class="label label-success">Going</span>
              {% else %}<span class="label label-default">Waiting for your response</span>{% endif %}
            </td>

            <td>{{ invitiation.banquet.date }}</td>
            <td>{{ invitiation.banquet.location }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="3" style="text-align: center;">You have no invitations.</td>
        </tr>
      {% endif %}
      </tbody>
    </table>
  </div>



  {% if after_party_invites.show %}
    <h1>Invite your friends to the after party</h1>
    Any Armada member can invite up to five friends to buy banquet after party tickets at a reduced price (50kr).
    They need to sign
    up for the after party with the same e-mail address that you enter here to get their discount.

    {% if after_party_invites.show_form %}
      <h3>You have {{ after_party_invites.left }} invite(s) left</h3>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
          {{ after_party_invites.form | crispy }}
        </div>
        <button class="btn btn-primary"><span class="glyphicon glyphicon-send"></span> Invite</button>
      </form>
    {% else %}
      <h3>You have made all your invites already, good job!</h3>
    {% endif %}

    {% if after_party_invites.invites %}
      <h3> Invited friends </h3>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>E-Mail</th>
          </tr>
        </thead>
        <tbody>
          {% for invite in after_party_invites.invites %}
            <tr>
              <td>{{ invite.name }}</td>
              <td>{{ invite.email }}</td>
            </tr>
          {% endfor %}
        </tbody>
        
      </table>
    {% endif %}

  {% endif %}


  {% if perms.banquet.base %}
    <h1>Manage banquets</h1>

    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>Banquet</th>
          <th>Time and date</th>
          <th>Location</th>
          <th style="text-align: right;">Going</th>
          <th style="text-align: right;">Not going</th>
          <th style="text-align: right;">Pending</th>
        </tr>
        </thead>

        <tbody>
        {% for banquet in banquets %}
          <tr>
            <td><a href="{% url 'banquet_manage' fair.year banquet.pk %}">{{ banquet.name }}</a></td>
            <td>{{ banquet.date }}</td>
            <td>{{ banquet.location }}</td>
            <td style="text-align: right;">{{ banquet.count_going }}</td>
            <td style="text-align: right;">{{ banquet.count_not_going }}</td>
            <td style="text-align: right;">{{ banquet.count_pending }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}

