{% extends "base.html" %}

{% block nav-banquet %}
<li role="presentation" class="active"><a href="{% url 'invite_list' fair.year %}">Banquet</a></li>
{% endblock %}

{% load crispy_forms_tags %} {% load staticfiles %}
<!DOCTYPE html>
{% block content %}
    <ol class="breadcrumb">
	    <li><a href="{% url 'invite_list' fair.year %}">Banquet</a></li>
        <li class="active">Internal Registration</li>
    </ol>

		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
                    <img src="{% static 'images/armada_logo_text_left_black.svg' %}" alt="Armada Ship" class="img-responsive">
				</div>
			</div>
			<div class="row">
                <div class="text-center headline">
                    <h1> INVITATION </h1>
                    <h2>THS ARMADA: {{year}} BANQUET</h2>
				</div>
			</div> 
            <hr class="my-4">
			<div class="row form-group">
				<div class="col-md-12">
                    <p>
                        Please fill out your personal information as well as dietary preferences to confirm your spot at the event.
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<form method="post">
						{% csrf_token %} {{ form | crispy }}
						<button type="submit" class="btn btn-success">Submit</button>
					</form>
				</div>
			</div>
		</div>

{% endblock %}
