
{% load crispy_forms_tags %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta charset="utf-8">
		{% include "header.html" %}{% block head-extra %}{% endblock %}
		<link href="{% static 'registration_style.css' %}" rel="stylesheet" media="screen">
		<script src="{% static 'js/setmobile.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<img src="{% static 'images/armada_logo_text_left_black.svg' %}" alt="Armada Ship" class="main-logo-small">
				</div>
			</div>
		
			<div class="row">
                <div class="text-center headline">
                    <h1>INVITATION</h1>
                    <h2>{{ form.instance.banquet.name }}</h2>
				</div>
			</div>
			<div class="row form-group">
				<div class="col-md-12">
                    <p>
                        Please fill out your personal information as well as dietary preferences to confirm your spot at the event.
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<form method="post">
						{% csrf_token %} {{ form | crispy }}
						<button type="submit" class="btn btn-lg btn-success center-block">Submit</button>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
