
{% extends "base.html" %}

{% block nav-banquet %}
<li role="presentation" class="active"><a href="{% url 'invite_list' fair.year %}">Banquet</a></li>
{% endblock %}

{% block content %}

    {% if not participant %}
        <div class="jumbotron">
            <h1 class="display-4">Hello, Armada Family!</h1>
            <h3> It Is Time For The Banquet.</h3>
            <hr class="my-4">
            <p class="lead">
                <a href="{% url "internal_invite" fair.year %}">
                    <button type="button" class="btn btn-success btn-lg btn-block">
                    Register Now! 
                    </button>
                </a>
            </p>
        </div>
	{% endif %}

	{% if perms.banquet.base %}
        <div class="row">
            <div class="col-md-12">
	    	    <h2>Invites</h2>

                <p>
                    <a href="{% url "send_invite" fair.year %}">
                        <button class="btn btn-default">
                        <span class="glyphicon glyphicon-plus"></span>
                        New Invitation
                        </button>
                    </a>
                
                    <a href="{% url "export_invitations" fair.year %}">
                        <button class="btn btn-default">
                            Export Invitations
                        </button>
                    </a>
                    <a href="{% url "participant_list" fair.year %}">
                        <button class="btn btn-default">
                            Confirmed Particpants
                        </button>
                    </a>
                </p>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>E-mail Address</th>
                            <th>Reason</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        {% for invite in object_list %}
                            <tr>
                                <td>{{ invite.name }}</td>
                                <td>{{ invite.email_address}}</td>
                                <td>{{ invite.reason}}</td>
                                <td>
                                    {% if invite.denied %}
                                        <span class="label label-danger">Denied</span>
                                    {% elif invite.participant %}
                                        <span class="label label-success">Completed</span>
                                    {% else %}
                                        <span class="label label-info">Sent</span>
                    
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
	{% endif %}
{% endblock %}

