{% load crispy_forms_tags %}{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta charset="utf-8" />
		{% include "header.html" %}{% block head-extra %}{% endblock %}
		<link href="{% static 'registration_style.css' %}" rel="stylesheet" media="screen" />
		<script src="{% static 'js/setmobile.js' %}" type="text/javascript" charset="utf-8" async defer></script>
	</head>
	
	<body>
		<div class="container">
			{% if form %}
				<div class="text-center headline">
					<h2>{{ form.instance.banquet.fair }}</h2>
					<h1>{{ form.instance.banquet.name }}</h1>
				</div>
				
				<p>
					<ul class="list-unstyled">
						{% if invitation.banquet.date %}<li><span style="font-weight: bold;">Time and date:</span> {{ invitation.banquet.date }}</li>{% endif %}
						{% if invitation.banquet.location %}<li><span style="font-weight: bold;">Location:</span> {{ invitation.banquet.location }}</li>{% endif %}
						{% if invitation.banquet.dress_code %}<li><span style="font-weight: bold;">Dress code:</span> {{ invitation.banquet.dress_code }}</li>{% endif %}
					</ul>
					
					<span style="font-weight: bold;">Invitation status:</span>
					{% if invitation.status == 'GOING' %}<span class="label label-success">You are going</span>{% endif %}
					{% if invitation.status == 'NOT_GOING' %}<span class="label label-danger">You are not going</span>{% endif %}
					{% if invitation.status == 'PENDING' %}<span class="label label-default">Your invitation is pending response</span>{% endif %}
				</p>
				
				<p><br /></p>
				
				{% if invitation.denied %}
					<h1>Not attending</h1>
					<p>You have chosen not to attend. If you change your mind, please press the button below.</p>
					
					<p><a href="{% url 'banquet_external_invitation_maybe' invitation.token %}" class="btn btn-default">I want to attend</a></p>
				{% else %}
					<h2>Not attending?</h2>
					<p>If you wish not to attend the banquet, please push the button below.</p>
					
					<p><a href="{% url 'banquet_external_invitation_no' invitation.token %}" class="btn btn-default">I will not attend</a></p>
					
					<p><br /></p>
					
					<h2>If you are attending</h2>
					{% if invitation.status == 'GOING' %}<p><span class="text-success">Your details have already been filled out and you have a spot on the banquet.</span> If you wish to change your details, you can do so here.</p>
					{% else %}<p>Please fill out your personal information as well as dietary preferences to confirm your spot at the banquet.</p>{% endif %}
				
					<form method="post">
						{% csrf_token %} {{ form | crispy }}
						<button type="submit" class="btn btn-lg btn-success center-block">Submit</button>
					</form>
				{% endif %}
			{% else %}
				<h1>Thank you!</h1>
				<p>Your repsonse has been recorded. If you would like to change your response for {{ invitation.banquet.name }}, you can <a href="{% url 'banquet_external_invitation' invitation.token %}">return to the form</a>.</p>
			{% endif %}
		</div>
	</body>
</html>
