{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-banquet %}
	<li role="presentation" class="active"><a href="{% url 'banquet_dashboard' fair.year %}">Banquet</a></li>
{% endblock %}

{% block content %}
	<h1>{{ banquet.name }} – Participant</h1>

	<p>
		<a class="btn btn-default" href="{% url 'banquet_manage_invitations' fair.year banquet.pk %}">Invitations</a>
		<a class="btn btn-default" href="{% url 'banquet_manage_participants' fair.year banquet.pk %}">Participants</a>
		{% if banquet.background %} <a class="btn btn-default" href="{% url 'banquet_manage_map' fair.year banquet.pk %}">Map</a> {% endif %}
	</p>

	<ul class="list-unstyled">
		{% if participant.company %}<li><span style="font-weight: bold;">Company:</span> {{ participant.company }}</li>{% endif %}
		<li><span style="font-weight: bold;">Name:</span> {{ participant.name }}</li>
		<li><span style="font-weight: bold;">E-mail address:</span> <a href="mailto:{{ participant.email_address }}">{{ participant.email_address }}</a></li>
		<li><span style="font-weight: bold;">Phone number:</span> <a href="tel:{{ participant.phone_number }}">{{ participant.phone_number }}</a></li>
		<li><span style="font-weight: bold;">Dietary preference:</span> <span>{{ participant.dietary_preference }}</span></li>
		<li><span style="font-weight: bold;">Dietary restrictions:</span> {% if participant.dietary_restrictions.all %}{{ participant.dietary_restrictions.all | join:', ' }}{% else %}<span style="font-style: italic;">-</span>{% endif %}</li>
		<li><span style="font-weight: bold;">Other dietary restrictions:</span> {% if participant.other_dietary_restrictions %}{{ participant.other_dietary_restrictions }}{% else %}<span style="font-style: italic;">-</span>{% endif %}</li>
		<li><span style="font-weight: bold;">Alcohol:</span> {{ participant.alcohol }}</li>
		<li><span style="font-weight: bold;">Giveaway:</span> {{ participant.giveaway }}</li>
	</ul>

	{% if participant.seat %}
		<ul class="list-unstyled">
			<li><span style="font-weight: bold;">Table:</span> {{ participant.seat.table.name }}</li>
			<li><span style="font-weight: bold;">Seat:</span> {{ participant.seat.name }}</li>
		</ul>
	{% else %}
		<p class="text-danger">The participant has no seat.</p>
	{% endif %}
	{% if participant.invitation_status == 'HAS_NOT_PAID' %}
		<p class="text-danger"><span style="font-weight: bold;">The participant has not paid yet.</span></p>
	{% endif %}

	<p>
		<a href="{% url 'banquet_manage_participant_remove' fair.year banquet.pk participant.pk %}" class="btn btn-danger" onclick="return confirm('Confirm the removal of {{ participant.name }}.');">Remove participant</a>
		<a href="{% url 'banquet_manage_participant_edit' fair.year banquet.pk participant.pk %}" class="btn btn-primary">Edit participant</a>
	</p>

	<h2>Ticket link</h2>

	{% if invitation %}
		{% if invitation.user is None %}
			<p>Give the following link to the participant.</p>
			<input type="text" value="https://ais.armada.nu{% url 'banquet_participant_display' participant.token %}" />
		{% else %}
			<p>This invitation is tied to a user account. Ask {{ invitation.user.get_full_name }} to sign in to the AIS and click Banquet in the menu.</p>
		{% endif %}

		{% if invitation.has_sent_mail %}
			<a href="{% url 'banquet_send_invitation_button' fair.year banquet.pk invitation.pk %}" class="btn btn-default" onclick="return confirm('An invite mail has already been sent to this person. Send again?')">Send invitation mail (already sent)</a>
		{% else %}
			<a href="{% url 'banquet_send_invitation_button' fair.year banquet.pk invitation.pk %}" class="btn btn-default">Send invitation mail</a>
		{% endif %}
	{% else %}
		<p class="text-danger">The participant has no invitation.</p>
	{% endif %}
{% endblock %}
