{% extends "base.html" %}

{% block nav-banquet %}
	<li role="presentation" class="active"><a href="{% url 'banquet_dashboard' fair.year %}">Banquet</a></li>
{% endblock %}

{% block content %}
	<style type="text/css">
		#map
		{
			width: 100%;
			background-size: cover; background-image: url('{{ banquet.background.url }}');
			position: relative;
		}
		
		#map .seat
		{
			position: absolute;
			width: 10px;
			height: 10px;
			cursor: crosshair;
		}
		
		#map .seat.taken
		{
			background: red;
		}
		
		#map .seat.free
		{
			background: green;
		}
	</style>
	
	<h1>{{ banquet.name }} – Map</h1>
	
	<p>
		<a class="btn btn-default" href="{% url 'banquet_manage_invitations' fair.year banquet.pk %}">Invitations</a>
		<a class="btn btn-default" href="{% url 'banquet_manage_participants' fair.year banquet.pk %}">Participants</a>
		<a class="btn btn-default" href="{% url 'banquet_manage_map' fair.year banquet.pk %}">Map</a>
	</p>
	
	<select id="selector">
		<option value="0">Add seat</option>
	</select>
	
	<div id="map"></div>
{% endblock %}

{% block scripts %}
	<script src="//static.kottnet.net/javascript/jquery.js"></script>
	<script src="//static.kottnet.net/javascript/jquery-ui.js"></script>
	<script>
		var image_width = {{ banquet.background.width }};
		var image_height = {{ banquet.background.height }};
		var seats = {{ seats | safe }};
		var scaling;
		
		$(function()
		{
			var scaling = $('#map').width() / image_width;
			
			$('#map').height(image_height * scaling);
			
			for (var seat of seats)
			{
				if (seat.top !== null) { add_seat(seat.top * scaling, seat.left * scaling, seat.id, seat.table + ' – ' + seat.name, seat.taken); }
				else { $('#selector').append('<option value="' + seat.id + '">' + seat.table + ' -- ' + seat.name + '</option>'); }
			}
			
			$('#selector').change(function()
			{
				var to_remove = $('#selector :selected');
				var added = parseInt(to_remove.val());
				
				if (added !== 0)
				{
					for (var seat of seats)
					{
						if (seat.id === added)
						{
							add_seat(20, 20, seat.id, seat.table + ' – ' + seat.name, seat.taken);
							$('#map .seat:last-of-type').draggable();
							
							$('#selector option:first-of-type').focus();
							to_remove.remove();
							break;
						}
					}
				}
			});
			
			$('#map').droppable(
			{
				drop: function(event, ui)
				{
					var id = parseInt($(ui.draggable).attr('data-id'));
					var top = parseInt($(ui.draggable).css('top').replace('px', ''));
					var left = parseInt($(ui.draggable).css('left').replace('px', ''));
					
					$(ui.draggable).css({ 'opacity': 0.3 });
					
					$.post('/api/banquet/{{ banquet.pk }}/seats/' + id,
					JSON.stringify({
						'id': id,
						'top': top / scaling,
						'left': left / scaling
					
					}), function(data)
					{
						setTimeout(function()
						{
							$(ui.draggable).css({ 'opacity': 1 });
						}, 100);
					});
				}
			});
		});
		
		
		var add_seat = function(top, left, id, name, taken)
		{
			$('#map').append('<div class="seat ' + (taken ? 'taken' : 'free') + '" style="top: ' + top + 'px; left: ' + left + 'px;" title="' + name + '" data-id="' + id + '"></div>');
			$('#map .seat:last-of-type').draggable(
			{
				containment: 'parent'
			});
		};
	</script>
{% endblock %}
