{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-banquet %}
	<li role="presentation" class="active"><a href="{% url 'banquet_dashboard' fair.year %}">Banquet</a></li>
{% endblock %}

{% block content %}
	<h1>{{ banquet.name }} – {% if participant %}Edit participant{% else %}New participant{% endif %}</h1>
	
	<p>
		<a class="btn btn-default" href="{% url 'banquet_manage_invitations' fair.year banquet.pk %}">Invitations</a>
		<a class="btn btn-default" href="{% url 'banquet_manage_participants' fair.year banquet.pk %}">Participants</a>
	</p>
	
	<form method="post">
        {% csrf_token %}
		{{ form | crispy }}
		<input type="submit" class="btn btn-primary" value="Save participant" />
	</form>
{% endblock %}
