{% extends "base.html" %}

{% block nav-banquet %}
	<li role="presentation" class="active"><a href="{% url 'banquet_dashboard' fair.year %}">Banquet</a></li>
{% endblock %}

{% block content %}
	<h1>{{ banquet.name }} – Participants ({{ participants | length }})</h1>

	<p>
		<a class="btn btn-default" href="{% url 'banquet_manage_invitations' fair.year banquet.pk %}">Invitations</a>
		<a class="btn btn-default" href="{% url 'banquet_manage_participants' fair.year banquet.pk %}">Participants</a>
		<a class="btn btn-default" href="{% url 'banquet_export_participants' fair.year banquet.pk %}">Export</a>
		{% if banquet.background %} <a class="btn btn-default" href="{% url 'banquet_manage_map' fair.year banquet.pk %}">Map</a> {% endif %}
	</p>

	<div class="table-responsive">
		<table class="table" id="participation_table">
			<thead>
				<tr>
					<th>Company</th>
					<th>Name</th>
					<th>E-mail address</th>
					<th>Alcohol?</th>
					<th>Preference (Restrictions)</th>
					<!-- <th>Seat</th> -->
					<th style="text-align: right; width: 0;">Options</th>
				</tr>
			</thead>

			<tbody>
				{% for participant in participants %}
					<tr>
						<td>{% if participant.company %} {{ participant.company }} {% endif %}</td>
						<td>
							{% if participant.user %}
								<a href="{% url 'people:profile' fair.year participant.user.pk %}">{{ participant.name }}</a>
							{% else %}
								{{ participant.name }}
							{% endif %}
							{% if participant.invitation.status == 'HAS_NOT_PAID' %}
								<span class="label label-warning">Has not paid</span>
							{% endif %}
						</td>
						<td><a href="mailto:{{ participant.email_address }}">{{ participant.email_address }}</a></td>
						<td>{% if participant.alcohol %} Yes {% else %} No {% endif %}</td>
						<td>{{ participant.dietary }}</td>
						<!-- <td style="white-space: nowrap;">{% if participant.seat %} {{ participant.seat.table.name }} – {{ participant.seat.name }} {% endif %}</td> -->
						<td><a href="{% url 'banquet_manage_participant' fair.year banquet.pk participant.pk %}" class="btn btn-sm btn-default">Details</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block scripts %}
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
	<script>
		$(function()
		{
			$('#participation_table').DataTable(
			{
				'paging': false,
				"columns":
				[
					null,
					null,
					null,
					null,
					null,
					{ 'orderable': false }
				]
			});
		})
	</script>
{% endblock %}
