{% extends "base.html" %}

{% block nav-banquet %}
	<li role="presentation" class="active"><a href="{% url 'banquet_dashboard' fair.year %}">Banquet</a></li>
{% endblock %}

{% block content %}
	<h1>{{ banquet.name }}</h1>

	<p>
		<a class="btn btn-default" href="{% url 'banquet_manage_invitations' fair.year banquet.pk %}">Invitations</a>
		<a class="btn btn-default" href="{% url 'banquet_manage_participants' fair.year banquet.pk %}">Participants</a>
		<a class="btn btn-default" href="{% url 'banquet_export_afterparty' fair.year banquet.pk %}">Export Afterparty</a>
		<a class="btn btn-default" href="{% url 'afterparty' fair.year banquet.pk %}">Afterparty</a>
		<a class="btn btn-default" href="{% url 'scan_tickets' banquet.pk %}">Scan tickets</a>
		{% if banquet.background %} <a class="btn btn-default" href="{% url 'banquet_manage_map' fair.year banquet.pk %}">Map</a> {% endif %}
	</p>

	<h2>At a glance</h2>

	<ul class="list-unstyled">
		<li><span style="font-weight: bold;">Accepted invitations:</span> {{ count_going }}</li>
		<li><span style="font-weight: bold;">Denied invitations:</span> {{ count_not_going }}</li>
		<li><span style="font-weight: bold;">Pending invitations:</span> {{ count_pending }}</li>
		<li><span style="font-weight: bold;">Totalt number of invitations:</span> {{ count_invitations }}</li>
	</ul>

	<ul class="list-unstyled">
		<li><span style="font-weight: bold;">Purchased company tickets:</span> {{ count_ordered }}</li>
		<li><span style="font-weight: bold;">Filled out company tickets:</span> {{ count_created }}</li>
	</ul>

	<ul class="list-unstyled">
		<li><span style="font-weight: bold;">Total number of participants:</span> {{ count_participants }}</li>
	</ul>

	<ul class="list-unstyled">
		<li><span style="font-weight: bold;">After party tickets sold:</span> {{ count_after_party }}</li>
		<li><span style="font-weight: bold;">After party invitations:</span> {{ count_after_party_invited_sold }} used / {{ count_after_party_invited_total }} invited</li>
	</ul>
{% endblock %}
