
{% extends "base.html" %}
{% block nav-banquet %}<li role="presentation" class="active"><a href="{% url 'invite_list' fair.year %}">Banquet</a></li>{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <ol class="breadcrumb">
	    <li><a href="{% url 'invite_list' fair.year %}">Banquet</a></li>
        <li class="active">New Invite</li>
    </ol>


    <h3>New External Invite</h3>
    <hr>

    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
	<input class="btn btn-primary" type="submit" value="Send Invite" />
    </form>
{% endblock %}
