{% load crispy_forms_tags %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8"> {% include "header.html" %} {% block head-extra %}{% endblock %}
  <link href="{% static 'banquet_placement.css' %}" rel="stylesheet" media="screen">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center headline">
          <h1 class="big big-margin-top banquet-header">THS Armada Banquet</h1>
          <h2>Welcome {{ banquet_attendant.first_name }} {{ banquet_attendant.last_name }}!</h2>
          <p>Here you can find your placement information for the banquet. You'll also find some info about the
          you are seated with this evening. Take the chance to get to know them a bit beforehand.</p>
          <p>Have a spectacular evening and thank you for participating at Armada 2017!</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3>Table: <div class="status-text">{{ table_name }}</div></h3>
        </div>
      </div>
      <div class="col-md-12">
        <div class="text-center">
        <div class="row">
            <div class="col-md-12">
              <h3>Table Mates:</h3>
            </div>
            {% if table_mates %}
            {% for mate in table_mates %}
            <div class="col-md-4 mate-card">
              <div class="row">
                <div class="col-md-12">
                  <h2>{{mate.first_name}} {{mate.last_name}}</h2>
                </div>
                {% if mate.exhibitor %}
                <div class="row">
                  <div class="col-md-12">
                    <p>{{mate.exhibitor}}</p>
                  </div>
                </div>
                {% endif %}
                <div class="col-md-4">
                  <p><a href="{{mate.linkedin_url}}">LinkedIn</a></p>
                </div>
                {% if mate.ticket %}
                <div class="col-md-4">
                  <p>{{mate.ticket}}</p>
                </div>
                {% endif %}
              </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img src="{% static 'images/bordsplacering.png' %}" alt="Armada" class="placement-map" />
      </div>
    </div>
  </div>
</body>

</html>
