{% load crispy_forms_tags %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8"> {% include "header.html" %} {% block head-extra %}{% endblock %}
  <link href="{% static 'complete_registration.css' %}" rel="stylesheet" media="screen">
  <link href="{% static 'banquet_placement.css' %}" rel="stylesheet" media="screen">
  <script src="{% static 'js/setmobile.js' %}" type="text/javascript" charset="utf-8" async defer></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="text-center headline">
        <h1 class="big big-margin-top">THS Armada Banquet</h1>
        <h2>Personal Ticket: <br /> {{ banquet_attendant.first_name }} {{ banquet_attendant.last_name }}</h2>
      </div>
    </div>

    <div class="row">
      <div class="text-center headline">
        <h3>
          Confirmed: {% if confirmed %} Yes {% else %} No {% endif %}
        </h3>
        <h3>Table: {{ table_name }}</h3>
        <h3>Seat: {{ banquet_attendant.seat_number }}</h3>
      </div>

      <div class="text-center headline">
        {% if table_mates %}
          <h3>Table Mates:</h3>
          <ul>
            {% for a in table_mates %}
              <li>{{a.first_name}} {{a.last_name}}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <svg viewBox="50 50 200 200" width="100px" height="100px" version="1.1">
          <image xlink:href="{% static 'images/armada_logo_text_left_green.svg' %}" alt="Armada" height="300px" width="700px"/>
        </svg>
      </div>
    </div>
  </div>
</body>

</html>
