{% load crispy_forms_tags %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8"> {% include "header.html" %} {% block head-extra %}{% endblock %}
  <link href="{% static 'banquet_placement.css' %}" rel="stylesheet" media="screen">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="text-center headline">
        <h1 class="big big-margin-top banquet-header">THS Armada Banquet</h1>
        <h2>Personal Ticket: <br /> 
          <div class="status-text">{{ banquet_attendant.first_name }} {{ banquet_attendant.last_name }}</div>
        </h2>
      </div>
    </div>

    <div class="row">
      <div class="text-center">
        <h3>
          Confirmed: <div class="status-text">{% if confirmed %} Yes {% else %} No {% endif %}</div>
        </h3>
        <h3>Table: <div class="status-text">{{ table_name }}</div></h3>
        <h3>Seat: <div class="status-text">{{ banquet_attendant.seat_number }}</div></h3>
      </div>

      <div class="text-center headline">
        {% if table_mates %}
          <h3>Table Mates:</h3>
          <ul>
            {% for a in table_mates %}
              <li>{{a.first_name}} {{a.last_name}}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <img src="{% static 'images/bordsplacering.png' %}" alt="Armada" class="placement-map" />
      </div>
    </div>
  </div>
</body>

</html>
