<div class="registration-tab-pane" id="confirm-and-submit">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 cr-container-confirm">
        <h2>Submission</h2>
        <p>Please make sure that your order is correct. After submission you will not be able to go back and change your order details without contacting us. </p>
        <p>However, you will still be able to change your profile and student matching answers </p>

        <h3> Press Save to update your order list below </h3>
        <table>
            <tr> <th>Product</th> <th> Amount </th> <th> Price </th> </tr>
            {% for product_log in product_list %}
            <p><tr> {% for col in product_log %} <td> {{col}} </td> {% endfor %} </tr></p>
            {% endfor %}
        </table>
        <hr>
        <table>
            <tr> <th> Total price: </th> <th> {{total_price}} </th> </tr>
        </table>

        <div class="text-center cr-contract">
          <h4>
            By sumbitting I also confirm that I have read the <a href={{contract_url}}>contract</a> and agree to the Terms and Conditions
          </h4>
          <span class="has-popover" data-content="Submit your application to {{fair}}", data-placement='top', data-container="body">
              <button type="submit" name="submit" class="btn btn-armada" id="submit-button">Submit</button>
          </span>
        </div>
      </div>
    </div>
</div>
