<div class="tab-pane fade" id="confirm-and-submit">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 cr-container-confirm">
        <h2>Order confirmation</h2>
        <p>Please make sure that your order is correct. If you need to change anything, you can go back in the form and change. </p>
        <div id="orderConfirmation">
        </div>

        <div class="text-center cr-contract">
          <h4>
            {{ form.accept_terms }} I have read the <a href={{contract_url}}>contract</a> and agree to Armada Terms and Conditions
          </h4>
        </div>
      </div>
    </div>
</div>
