<div class="tab-pane fade" id="logistics">
    <div class="row cr-logistics">
      <div class="col-md-4"> <!-- additional info -->
        <div class="cr-logistics-container">
          <h3>ADDITIONAL INFORMATION</h3>
          <h4><span class="h-white">Requests for stand placement</span></h4>
          <div class="cr-logistics-additional">
            {{ form.requests_for_stand_placement }}
          </div>
          <h4><span class="h-white">Request for exhibition area</span></h4>
          <div class="cr-logistics-additional">
            {{ form.requests_for_exhibition_area }}
          </div>
        </div>
      </div>
      <div class="col-md-4"> <!-- transport to fair -->
        <div class="cr-logistics-container">
          <h3>Transport <span class="h-red">to</span> fair</h3>
              <span>Transport type to fair:</span>
              <span id="transportToFairType">{{ form.transport_to_fair_type }}</span>
              <div id="externalTransportChosen">
                <h5></h5>
                <p>{{ form.interested_in_armada_transport }} <label for="id_interested_in_armada_transport" class="pretty-label">Interested in Armada Transport to the fair?</label><!--Yes, if the option to send goods to the fair using a service similar to Armada transport is created, we would like to use it.--></p>
                <p><span class="has-popover hover-mark more-info h-red" data-content="Goods will be pickuped by one truck organised by Armada, from different companies and delivered together to the fair. Reducing the amount of truck driving around town and helping the environment while at the same time making a smoother logistics flow for everyone. More information will be sent to all interested companies later on if this service is created.", data-placement='left', data-container="body">What is this?</span></p>

              </div>
              <ul class="list-unstyled cr-transport-input">
                <li>Number of packages:
                  {{ form.number_of_packages_to_fair }}
                </li>
                <li>Number of pallets:
                  {{ form.number_of_pallets_to_fair }}
                </li>
                <li>
                  <span class="h-red">Please don't leave blank. Write 0 if no packages or pallets</span>
                </li>
              </ul>
        </div>
      </div>
      <div class="col-md-4"> <!-- transport from fair -->
        <div class="cr-logistics-container">
          <h3>Transport <span class="h-red">from</span> fair</h3>
              <span>Transport type from fair:</span>
              <span id="transportFromFairType">{{ form.transport_from_fair_type }}</span>


              <ul class="list-unstyled cr-transport-input">
                <li>Number of packages:
                  {{ form.number_of_packages_from_fair }}
                </li>
                <li>Number of pallets:
                  {{ form.number_of_pallets_from_fair }}
                </li>
                <li>
                  <span class="h-red">Please don't leave blank. Write 0 if no packages or pallets</span>
                </li>
              </ul>

        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-md-12"> <!-- armada transport -->
          <div class="cr-logistics-container cr-logistics-container-transport">
            <div class="row">
              <div class="col-md-6">
                <h3>ARMADA TRANSPORT (Included)</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p>Pack up your exhibition material and leave it as the fair ends, THS Armada Transport service will transport it according to your preference. THS Armada Transport is a part of our sustainability work.</p>
              </div>
            </div>

            <div id="armadaTransportChosen">
              <h3>Transport Details <small id="editArmadaTransportTrigger" class="toggleEdit">Edit</small></h3>
              <ul class="list-unstyled form-to-edit editable-form hidden" id="armadaTransportEditable">
                <li class="address">
                  <h5><span class="aterix h-red">*</span> Delivery address (including zip code)</h5>
                  <div class="input-field">
                    {{ form.transport_from_fair_address }}
                  </div>
                </li>
                <li>
                  <h5><span class="aterix h-red">*</span> Recipient's name:</h5>
                  <div class="input-field">
                    {{ form.transport_from_fair_recipient_name }}
                  </div>
                </li>
                <li>
                  <h5><span class="aterix h-red">*</span> Recipient's phone number:</h5>
                  <div class="input-field">
                    {{ form.transport_from_fair_recipient_phone_number }}
                  </div>
                </li>
                <li>
                  <h5>Number of packages:</h5>
                  <div class="input-field">
                    {{ form.number_of_packages_from_fair }}
                  </div>
                </li>
                <li>
                  <h5>Number of pallets:</h5>
                  <div class="input-field">
                    {{ form.number_of_pallets_from_fair }}
                  </div>
                </li>
              </ul>
              <ul class="list-unstyled form-to-edit no-editable-form visible" id="armadaTransportNoEditable">
                <li class="address">
                  <h5><span class="aterix h-red">*</span> Delivery address (including zip code)</h5>
                  <div class="input-field">
                    {{ form.transport_from_fair_address }}
                  </div>
                </li>
                <li>
                  <h5><span class="aterix h-red">*</span> Recipient's name:</h5>
                    {{ form.transport_from_fair_recipient_name }}
                </li>
                <li>
                  <h5><span class="aterix h-red">*</span> Recipient's phone number:</h5>
                    {{ form.transport_from_fair_recipient_phone_number }}
                </li>
                <li>
                  <h5>Number of packages:</h5>
                    {{ form.number_of_packages_from_fair }}
                </li>
                <li>
                  <h5>Number of pallets:</h5>
                    {{ form.number_of_pallets_from_fair }}
                </li>
              </ul>
            </div> <!-- end transport details -->

          </div>
        </div>
      </div>
</div>
