<div class="tab-pane fade cr-nova" id="nova">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-6 cr-nova-col">
          <div class="cr-container-nova cr-container-nova-left">
            {{ form.product_selection_nova }}
            <p><b>Thanks</b> to our partnership with the talent network Nova and their deep knowledge within custom events for top talents, you can now get an exponentially greater value from you participation!</p>
            <p>From the evaluations of previous years, it can be highlighted that:</p>
            <ul>
              <li>Many students are not pleased with the company’s choices of representatives.</li>
              <li>Many student feel they don’t receive the information they want about potential employers.</li>
              <li>Many companies feel that it is hard to create a value after participating at the career fair.</li>
            </ul>
            <p>Nova has done research in collaboration with THS Armada on its specific audience and created a toolkit for solving these problems. We can offer an exclusive service, consulting you in how to get the most from participating in THS Armada.</p>
            <h4><span class="h-red">Price: 10 000 SEK (Valued at 30 000 SEK)</h4>
          </div>
        </div>
        <div class="col-md-6 cr-nova-col">
          <div class="cr-container-nova">
            <ul class="list-unstyled nova-info">
              <li>
                <h4>START UP MEETING – <small><span class="h-green">1 H</span></small></h4>
                <ul>
                  <li>Start-up meeting with the main responsible at your company together with an experienced Talent Manager from Nova.</li>
                  <li>During this one hour session, we will guide you in how to plan and prepare for  and the maximize value of your THS Armada participation and other career fairs.</li>
                </ul>
              </li>
              <li>
                <h4>CAREER SURVEY AND EVENT TOOL PRESENTATION – <small><span class="h-green">1-2 H</span></small></h4>
                <ul>
                  <li>Presentation of Universum career survey where you will get to know what previous year THS Armada students were looking for when choosing an employer. </li>
                  <li>We will go through different tips and event tools you can use to truly build your talent pool during the day.</li>
                </ul>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
</div>
