<div class="tab-pane fade" id="product-info">
    <h1> Product Information </h1>
    <p> In this tab you can read everything about/around our products </p>
    <p> All of the text and styling here would be hard-coded as there is no CMS. But this tab should not include anything database related. 
        It should just be informative if needed </p>
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">BASE KIT, 39 500 SEK</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="cr-container-basekit">
          <h3>Included:</h3>
          <ul>
            <li>Stand area of 2 x 3 meters (Height < 2,31 meters)</li>
            <li>Access to a Career Fair Host to help you build your stand and attract students</li>
            <li>Full exhibitor information on website and iOS/Android applications</li>
            <li>2 tickets to the Armada Banquet</li>
            <li>8 Lunch tickets for the career fair days (4 per day)</li>
            <li>Access to information desks, wardrobe and exhibitor lounges</li>
            <li>Electricity and wifi provided at exhibitor stand</li>
            <li>Logistics services for your equipment from delivery to the end of the career fair</li>
            <li>Armada Transport, helps you transport your equipment from the fair</li>
            <li>Climate compensation - in collaboration with Tricorona</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="cr-container-basekit">
          <h3 class="text-center">Sustainability</h3>
          <p>
            THS Armada has been climate neutral since 2015. Climate compensation for your
            organization’s CO2-emission associated with the THS Armada fair 2017 as well as the
            organisation’s emissions during the year is included in the Base Kit. This year all climate
            compensation is done in collaboration with Tricorona.
          </p>
        </div>
      </div>
    </div>

</div>
