{% load crispy_forms_tags %} 
<div class="tab-pane fade" id="products">
    <div class="row">
    <div class="col-md-12">
    {% for product_type, order_forms in product_type_order_forms %}
        {% for f in order_forms %}

        <div class="cr-event-container">
            <h2> {{product_type.name}} </h2>
            <p> {{product_type.description}} </p>
            <div class="cr-event-left cr-event-description">
              {{ f.non_field_errors }}
              <h3>{{f.product.label}} </h3>
              {% for field in f.visible_fields %}
              <p>  {{field.help_text}} </p>
              <p>  {{field.errors}} </p>
              <div class="cr-event-left cr-event-input" > {{field.label}} {{field}} </div>
              {% endfor %}
            </div>
        </div>
        {% endfor %}
    {% endfor %}
    </div>
    </div>
</div>
