<div class="tab-pane fade cr-profile" id="exhibitor-profile">
    <span class="divider left"></span>
    <span class="divider right"></span>
    <div class="row">
      <div class="col-md-4">
        <div class="cr-container-profile">
          <h2>Upload logo</h2>
          <p>Upload your logo so we can display it in our apps.</p>
          <div id="fileUpload">
            {{ form.logo }}
          </div>

        </div>
      </div>
      <div class="col-md-4">
        <div class="cr-container-profile">
          <h2>Text about organisation</h2>
          <p>Write a selling text about your company, this is what a student will be able to read in our apps.</p>
          {{ form.about_text }}
        </div>
      </div>
      <div class="col-md-4">
        <div class="cr-container-profile">
          <h2>Organisation Facts</h2>
          <p>List some quick/fun facts about your organisation.</p>
          {{ form.facts_text }}
        </div>
      </div>
    </div>
</div>
