<div class="tab-pane fade cr-profile" id="exhibitor-profile">
    <span class="divider left"></span>
    <span class="divider right"></span>
        <div class="row">
          <div class="col-md-4">
            <div class="cr-container-profile">
              <h2>Upload logo</h2>
              <p>Upload your logo so we can display it in our apps.</p>
              <img src="/media/{{profile_form.logo.value}}"/>
              <div id="fileUpload">
                {{ profile_form.logo }}
              </div>

            </div>
          </div>
          <div class="col-md-4">
            <div class="cr-container-profile">
              <h2>Text about organisation</h2>
              <p>Write a selling text about your company, this is what a student will be able to read in our apps.</p>
              {{ profile_form.about_text }}
            </div>
          </div>
          <div class="col-md-4">
            <div class="cr-container-profile">
              <h2>Organisation Job Types</h2>
              <p>Select all relevant job types within your company.</p>
              {{ profile_form.job_types }}
            </div>
          </div>
        </div>
        <div class="row">
            {{ profile_form.errors }}
        </div>
</div>
