{% load crispy_forms_tags %} 
<div class="tab-pane fade" id="matching">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-12">
          <h1>Student Matching</h1>
          <p>THS Armada uses matching algorithms in our applications to match you to the students you want to meet. Therefor, it is of greatest importance that you fill in the following fields as good as possible. If the fields are left blank or are not representative of your business and your needs, we cannot guarantee that the right target group of students will find your stand.</p>
          <p>We do understand that some of the questions can be tough to answer and depends on situations, but try to do you best for all of them.</p>
          {{ survey.description }}
          <div class="cr-matching-form">
              <div class="container">
                  {{ survey_form.errors }}
                  {% for field in survey_form %}
                        <br />
                        <div class="cr-matching-form">
                            {{ field.label }}
                              {% if field.help_text %}
                              <br/><span class="h-red"> {{field.help_text }}</span>
                              {% endif %}
                        </div>
                        <div class="cr-matching-form">
                            {{ field }}
                        </div>
                  {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
