<h3>Organisation <small id="editOrganisationTrigger" class="toggleEdit h-red">Edit</small></h3>
        <p>The information below is copied from your profile. Make sure that the information is correct for this year’s application.</p>
        <ul class="list-unstyled form-to-edit editable-form hidden" id="organistaionEditable">
          <li>
            <h5><span class="aterix h-red">*</span> Name of organisation:</h5>
            <div class="input-field">{{ form.name_of_organisation }}</div>
          </li>
          <li>
            <h5><span class="aterix h-red">*</span> Organisation identification number:</h5>
            <div class="input-field">{{ form.organisation_identification_number }}
          </li>
          <li>
            <h5><span class="aterix h-red">*</span> Type of organisation:</h5>
            <div class="input-field">{{ form.type_of_organisation }}
          </li>
          <li>
            <h5><span class="aterix h-red">*</span> Address:</h5>
            <div class="input-field input-field-address">
              {{ form.address_street }}
              {{ form.address_city }}
              {{ form.address_zip_code }}
              {{ form.address_country }}
              {{ form.additional_address_information }}
            </div>
          </li>
          <li>
            <h5>Webpage:</h5>
            <div class="input-field">
              {{ form.website }}
            </div>
          </li>
        </ul>
        <ul class="list-unstyled form-to-edit no-editable-form visible" id="organisationNoEditable">
          <li class="address">
            <h5><span class="aterix h-red">*</span> Address:</h5>
            <div class="input-field">
              {{ form.address_street }}
              {{ form.address_city }}
              {{ form.address_zip_code }}
              {{ form.address_country }}
              {{ form.additional_address_information }}
            </div>
          </li>
          <li>
            <h5><span class="aterix h-red">*</span> Organisation name:</h5>
            <div class="input-field">{{ form.name_of_organisation }}</div>
          </li>
          <li>
            <h5><span class="aterix h-red">*</span> Organisation identification number:</h5>
            <div class="input-field">{{ form.organisation_identification_number }}
          </li>
          <!--<li>
            <h5>Type of organisation:</h5>
            <div class="input-field">{{ form.type_of_organisation }}
          </li>-->
          <li>
            <h5>Webpage:</h5>
            {{ form.website }}
          </li>
        </ul>

        <h3>Contact <small id="editContactTrigger" class="toggleEdit">Edit</small></h3>
        <p>Please enter contact i formation for the person we can contact if there are any questions/issues with your registration or your account.</p>
        <ul class="list-unstyled form-to-edit editable-form hidden" id="contactEditable">
          <li>
            <h5><span class="aterix h-red">*</span> Name:</h5>
            <div class="input-field">
              {{ form.contact_name }}
            </div>
          </li>
          <li>
            <h5><span class="aterix h-red">*</span> Phone number:</h5>
            <div class="input-field">
              {{ form.work_phone }}
            </div>
          </li>
          <li>
            <h5>Cell phone number:</h5>
            <div class="input-field">
              {{ form.cell_phone }}
            </div>
          </li>
          <!--<li>
            <h5>Phone switchboard:</h5>
            <div class="input-field">
            {{ form.phone_switchboard }}
            </div>
          </li>-->
          <li>
            <h5><span class="aterix h-red">*</span> E­mail:</h5>
            <div class="input-field">
              {{ form.contact_email }}
            </div>
          </li>
          <!--<li>
            <h5>Alternative e­mail address:</h5>
            <div class="input-field">
              {{ form.alternative_email }}
            </div>
          </li>-->
        </ul>
        <ul class="list-unstyled form-to-edit no-editable-form visible" id="contactNoEditable">
          <li>
            <h5><span class="aterix h-red">*</span> Name:</h5>
            {{ form.contact_name }}
          </li>
          <li>
            <h5><span class="aterix h-red">*</span> Phone number:</h5>
            {{ form.work_phone }}
          </li>
          <li>
            <h5>Cell phone number:</h5>
            {{ form.cell_phone }}
          </li>
          <!--<li>
            <h5>Phone switchboard:</h5>
            {{ form.phone_switchboard }}
          </li>-->
          <li>
            <h5><span class="aterix h-red">*</span> E­mail:</h5>
            {{ form.contact_email }}
          </li>
          <!--<li>
            <h5>Alternative e­mail address:</h5>
            {{ form.alternative_email }}
          </li>-->
        </ul>

        <h3>INVOICE INFORMATION <small id="editInvoiceToggle" class="toggleEdit">Edit</small></h3>
        <p>Please enter your invoice information for THS Armada 2017.</p>
        <ul class="list-unstyled form-to-edit editable-form hidden" id="invoiceEditable">
          <li>
            <h5><span class="aterix h-red">*</span> Invoice reference</h5>
            <div class="input-field">
              {{ form.invoice_reference }}
            </div>
          </li>
          <li>
            <h5><span class="aterix h-red">*</span> Reference phone number</h5>
            <div class="input-field">
              {{ form.invoice_reference_phone_number }}
            </div>
          </li>
          <li>
            <h5><span class="aterix h-red">*</span> Invoice reference number/PO-number:</h5>
             <div class="input-field">
              {{ form.invoice_purchase_order_number}}
            </div>
            <p><span class="h-red">Please enter a reference number/PO-number for your invoice.</span></p>
          </li>
          <li>
            <h5><span class="aterix h-red">*</span> Invoice organization name</h5>
            <div class="input-field">
              {{ form.invoice_organisation_name }}
            </div>
          </li>
          <li>
            <h5><span class="aterix h-red">*</span> Invoice address</h5>
            <div class="input-field input-field-address">
              {{ form.invoice_address }}
              {{ form.invoice_address_zip_code }}
            </div>
            <p><span class="h-red">Be sure to enter the invoice address, not the address to the office.</span></p>
          </li>
          <li>
            <h5>Invoice additional information</h5>
            <div class="input-field">
              {{ form.invoice_additional_information }}
            </div>
          </li>
        </ul>
        <ul class="list-unstyled form-to-edit no-editable-form visible" id="invoiceNoEditable">
          <li class="address">
            <h5><span class="aterix h-red">*</span> Invoice address:</h5>
            <div class="input-field">
              {{ form.invoice_address }}
              {{ form.invoice_address_zip_code }}
            </div>
          </li>
          <li>
            <h5><span class="aterix h-red">*</span> Invoice reference:</h5>
            {{ form.invoice_reference }}
          </li>
          <li>
            <h5><span class="aterix h-red">*</span> Reference phone number:</h5>
              {{ form.invoice_reference_phone_number }}
          </li>
          <li>
            <h5><span class="aterix h-red">*</span> Invoice reference number/PO-number:</h5>
              {{ form.invoice_purchase_order_number}}
          </li>
          <li>
            <h5><span class="aterix h-red">*</span> Invoice organization name:</h5>
              {{ form.invoice_organisation_name }}
          </li>
          <li>
            <h5>Invoice additional information:</h5>
              {{ form.invoice_additional_information }}
          </li>
        </ul>



