{% extends "register/inside/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block nav-banquet %}<li><a href="{% url 'anmalan:banquet' company.pk %}" class="active">Banquet</a></li>{% endblock %}

{% block content %}
	<h1>Banquet</h1>
	<p>Here you can create and edit your ordered banquet tickets. You can do this until {{ banquet_ticket_deadline|date:"F j, H:i" }}.</p>

	<ul class="no-bullets">
		<li><span class="information_label">Ordered banquet tickets:</span> {{ count_ordered }}</li>
		<li><span class="information_label">Created banquet tickets:</span> {{ count_created }}</li>
	</ul>

	{% if can_create and not past_deadline %}
		<h3>Create new banquet ticket</h3>
		<p>You have ordered more banquet tickets than you have created.</p>
		<p><a class="btn btn-armada-green" href="{% url 'anmalan:banquet_new' company.pk %}">Create new banquet ticket</a></p>
	{% endif %}

	{% for banquet in banquets %}
		{% if banquet.banquet_tickets %}
			<h3>Tickets for {{ banquet.name }}</h3>

			<ul class="no-bullets">
				{% if banquet.date %}<li><span style="font-weight: bold;">Time and date:</span> {{ banquet.date }}</li>{% endif %}
				{% if banquet.location %}<li><span style="font-weight: bold;">Location:</span> {{ banquet.location }}</li>{% endif %}
				{% if banquet.dress_code %}<li><span style="font-weight: bold;">Dress code:</span> {{ banquet.dress_code }}</li>{% endif %}
			</ul>

			{% for banquet_ticket in banquet.banquet_tickets %}
				<div class="banquet_ticket">
					{% if not past_deadline %}<a class="btn btn-armada-green" style="float: right;" href="{% url 'anmalan:banquet_edit' company.pk banquet_ticket.pk %}">Edit</a>{% endif %}

					<ul class="no-bullets">
						<li><span class="information_label">Name:</span> {{ banquet_ticket.name }}</li>
						<li><span class="information_label">E-mail address:</span> {{ banquet_ticket.email_address }}</li>
						<li><span class="information_label">Phone number:</span> {{ banquet_ticket.phone_number }}</li>
						<li><span class="information_label">Dietary restrictions:</span> {% if banquet_ticket.dietary_restrictions.all %}{{ banquet_ticket.dietary_restrictions.all | join:', ' }}{% else %}<span style="font-style: italic;">-</span>{% endif %}</li>
						<li><span class="information_label">Other dietary restrictions:</span> {% if banquet_ticket.other_dietary_restrictions %}{{ banquet_ticket.other_dietary_restrictions }}{% else %}<span style="font-style: italic;">-</span>{% endif %}</li>
						<li><span class="information_label">Alcohol:</span> {{ banquet_ticket.get_alcohol_display }}</li>
						<li><span class="information_label">Giveaway:</span> {{ banquet_ticket.get_giveaway_display }}</li>
					</ul>
				</div>
			{% endfor %}
		{% endif %}
	{% endfor %}
{% endblock %}

{% block scripts %}
	<style type="text/css">
		form
		{
			padding: 0;
		}

		.banquet_ticket
		{
			background: #353535;
			padding: 20px;
			margin-bottom: 10px;
			overflow: hidden;
			padding-bottom: 10px;
		}

		h3
		{
			margin: 30px 0 0;
			padding: 0;
			color: #00d791;
		}
	</style>
	<script>
		window.onscroll = function() {myFunction()};

		var header = document.getElementById("menu");
		var sticky = header.offsetTop;

		function myFunction() {
			if (window.pageYOffset > sticky) {
				header.classList.add("sticky");
			} else {
				header.classList.remove("sticky");
			}
		}
	</script>
{% endblock %}
