{% extends "register/inside/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block nav-registration %}<li><a href="{% url 'anmalan:registration' company.pk %}" class="active">{{ company.name }}</a></li>{% endblock %}

{% block content %}
	<h1>No spot on the fair</h1>
	<p>Your company did complete the initial registration, but did not receive a spot on this year’s career fair. If you have any questions, contact one of the THS Armada project group members below, or visit <a href="https://armada.nu/contact">armada.nu/contact</a>.</p>
	<br/>

    <div id="contact_cards">

	{% if contacts %}

	{% for contact in contacts %}

	<div class="contact_card">
	    <span style="font-weight: 700;">{{ contact.name }}</span><br/>
	    <span >{{ contact.role }}</span><br/>
            <span ><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></span><br />
            <span ><a href="tel:{{ contact.phone_number }}">{{ contact.phone_number }}</a></span><br />
	</div>

	{% endfor %}
	{% else %}

	<div class="contact_card">
	    <span style="font-weight: 700;">THS Armada</span><br/>
	    <span >Support</span><br/>
            <span ><a href="mailto:support@armada.nu">support@armada.nu</a></span><br />
	</div>

	{% endif %}

    </div>



{% endblock %}

{% block scripts %}
	<style type="text/css">
		.lowercase {
  		text-transform: lowercase;
  	}

		#contact_cards
		{
			text-align: center;
		}

		#contact_cards .contact_card
		{
			display: inline-block;
			text-align: left;
			padding: 8px;
			margin: 7px 5px;
			background: #353535;
		}
	</style>
{% endblock %}
