{% extends "register/inside/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block nav-registration %}<li><a href="{% url 'anmalan:registration' company.pk %}" class="active">{{ company.name }}</a></li>{% endblock %}

{% block content %}
	<h1>Initial registration not completed</h1>
	<p>Your company did not complete the initial registration for this year's fair before the deadline. We look forward to see you next year!</p>

	<p>For late inquiries or if you have any questions, contact one of the THS Armada project group members below, or visit <a href="https://armada.nu/contact">armada.nu/contact</a>.</p>
	<br/>

<div id="contact_cards">

		<div class="contact_card">
			<span style="font-weight: 700;">Josefine Havdelin</span><br />
			Project manager<br />
			<a href="mailto:a@armada.nu">a@armada.nu</a><br />
			<a href="tel:+46707909844">+4670-790 98 44</a>
		</div>

		<div class="contact_card">
			<span style="font-weight: 700;">Anna Moustakas</span><br />
			Head of Business Relations and Events<br />
			<a href="mailto:anna.moustakas@armada.nu">anna.moustakas@armada.nu</a><br />
			<a href="tel:+46730499226">+4673-049 92 26</a>
		</div>

        <div class="contact_card">
			<span style="font-weight: 700;">Katrina Liang</span><br />
			Head of Sales<br />
			<a href="mailto:katrina.liang@armada.nu">katrina.liang@armada.nu</a><br />
			<a href="tel:+46728589780">+4672-858 97 80</a>
		</div>

        <div class="contact_card">
			<span style="font-weight: 700;">Leonard Hökby</span><br />
			Head of Sales<br />
			<a href="mailto:leonard.hokby@armada.nu">leonard.hokby@armada.nu</a><br />
			<a href="tel:+46703908581">+4670-390 85 81</a>
		</div>

        <div class="contact_card">
			<span style="font-weight: 700;">Erik Rompotti</span><br />
			Head of Sales<br />
			<a href="mailto:erik.rompotti@armada.nu">erik.rompotti@armada.nu</a><br />
			<a href="tel:+46738464704">+4673-846 47 04</a>
		</div>

        <div class="contact_card">
			<span style="font-weight: 700;">Fredrik Lagerström</span><br />
			Head of Sales<br />
			<a href="mailto:fredrik.lagerstrom@armada.nu">fredrik.lagerstrom@armada.nu</a><br />
			<a href="tel:+46700063321">+4670-006 33 21</a>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<style type="text/css">
		.lowercase {
  		text-transform: lowercase;
  	}

		#contact_cards
		{
			text-align: center;
		}

		#contact_cards .contact_card
		{
			display: inline-block;
			text-align: left;
			padding: 8px;
			margin: 7px 5px;
			background: #353535;
		}
	</style>
{% endblock %}
