{% extends "register/inside/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block nav-registration %}<li><a href="{% url 'anmalan:registration' company.pk %}" class="active">{{ company.name }}</a></li>{% endblock %}

{% block content %}
	<h1>Initial registration not completed</h1>
	<p>Your company did not complete the initial registration for this year's fair before the deadline. We look forward to see you next year!</p>

	<p>For late inquiries or if you have any questions, contact one of the THS Armada project group members below, or visit <a href="https://armada.nu/contact">armada.nu/contact</a>.</p>
	<br/>

<div id="contact_cards">

		<div class="contact_card">
			<span style="font-weight: 700;">Daniel Aston</span><br />
			Project manager<br />
			<a href="mailto:daniel.aston@armada.nu">daniel.aston@armada.nu</a><br />
			<a href="tel:+46701481412">+4670-148 14 12</a>
		</div>

		<div class="contact_card">
			<span style="font-weight: 700;">Kevin Stojanovski</span><br />
			Head of Business Relations and Events<br />
			<a href="mailto:kevin.stojanovski@armada.nu">kevin.stojanovski@armada.nu</a><br />
			<a href="tel:+46762596069">+4676-259 60 69</a>
		</div>

		<div class="contact_card">
			<span style="font-weight: 700;">Anna Gentek</span><br />
			Head of Sales<br />
			<a href="mailto:anna.gentek@armada.nu">anna.gentek@armada.nu</a><br />
			<a href="tel:+46730809611">+4673-080 96 11</a>
		</div>

		<div class="contact_card">
			<span style="font-weight: 700;">Natasha Mridha Rahman</span><br />
			Head of Sales<br />
			<a href="mailto:natasha.mridha@armada.nu">natasha.mridha@armada.nu</a><br />
			<a href="tel:+46737681328">+4673-768 13 28</a>
		</div>

		<div class="contact_card">
			<span style="font-weight: 700;">Pavel Askari</span><br />
			Head of Sales<br />
			<a href="mailto:pavel.askari@armada.nu">pavel.askari@armada.nu</a><br />
			<a href="tel:+46769481995">+4676-948 19 95</a>
		</div>

		<div class="contact_card">
			<span style="font-weight: 700;">Elias Ljunggren</span><br />
			Head of Service & Sponsorship<br />
			<a href="mailto:elias.ljunggren@armada.nu">elias.ljunggren@armada.nu</a><br />
			<a href="tel:+46730633630">+4673-063 36 30</a>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<style type="text/css">
		.lowercase {
  		text-transform: lowercase;
  	}

		#contact_cards
		{
			text-align: center;
		}

		#contact_cards .contact_card
		{
			display: inline-block;
			text-align: left;
			padding: 8px;
			margin: 7px 5px;
			background: #353535;
		}
	</style>
{% endblock %}
