{% extends "register/inside/base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block nav-transport %}<li><a href="{% url 'anmalan:transport' company.pk %}" class="active">Transport</a></li>{% endblock %}

{% block content %}
	<h1>Transport</h1>
	
	{% if form %}
		<h3>Current status</h3>
		<ul class="no-bullets">
			<li><span class="information_label">Transport to the fair:</span> {{ exhibitor.get_transport_to_display }}</li>
			<li><span class="information_label">Transport from the fair:</span> {{ exhibitor.get_transport_from_display }}</li>
		</ul>
		
		{% if exhibitor.transport_comment %}<p>{{ exhibitor.transport_comment }}</p>{% endif %}
		
		<h3>Initialize an arrangement</h3>
		<p>Transport to and from the career fair is handled by our partner Ryska posten. Please fill out the form below to initialize an arrangement.</p>
		
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form | crispy }}
			
			<input type="submit" class="btn btn-armada-green" value="Send request" />
		</form>
	{% else %}
		<p><span style="font-weight: bold;">Thank you for your request!</span> A copy of what you entered has been sent to the provided e-mail address. Ryska posten will follow up by e-mail or by phone to complete the arrangement.</p>
	{% endif %}
{% endblock %}

{% block scripts %}
	<style type="text/css">
		form
		{
			padding: 0;
		}
		
		h3
		{
			margin: 30px 0 0;
			padding: 0;
			color: #00d791;
		}
	</style>
	<script>
		
	</script>
{% endblock %}
