Django==1.11
django-cas-client
psycopg2
psycopg2-binary
setuptools
uWSGI
wheel
ldap3
django-crispy-forms
django-polymorphic
Pillow
raven
requests
openpyxl
jsonfield
django_dynamic_formsets
django-markupfield
markdown
slackclient
stripe
django-webpack-loader
postgis
