appdirs==1.4.3
contextlib2==0.5.4
Django==1.10.6
django-cas-client==1.2.0
django-crispy-forms==1.6.1
ldap3==2.2.1
olefile==0.44
packaging==16.8
Pillow==4.0.0
pkg-resources==0.0.0
psycopg2==2.7
pyasn1==0.2.3
pyparsing==2.2.0
raven==6.0.0
requests==2.13.0
six==1.10.0
uWSGI==2.0.14
