amqp
billiard
celery
contextlib2
Django
django-cas-client
django-celery-beat
django-celery-results
django-crispy-forms
ephem
kombu
ldap3
Pillow
psycopg2
pyasn1
pytz
raven
redis
requests
uWSGI
vine
numpy
scipy
nltk
pyenchant
