{% extends "base.html" %}
{% block content %}

{% load event_extras %}

<img src="/static/images/armada_navigating.png" class="home-image">

<div class="row">
    <div class="col-md-12">

        <h2>Banquette</h2>
        {% if is_attending_banquette %}
            <a class="btn btn-default" href="{% url 'banquette_signup' %}">View sign up</a>
        {% else %}
            <a class="btn btn-success" href="{% url 'banquette_signup' %}">Sign up</a>
        {% endif %}

        <h2>Events</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-4">Name</th>
                        <th class="col-md-2">Date</th>
                        <th class="col-md-4">Description</th>
                        <th class="col-md-2">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <td class="col-md-4"><a href="{% url "event_attend_form" event.id %}">{{ event.name }}</a></td>
                            <td class="col-md-2">{{ event.event_start|date:"d M h:s" }}</td>
                            <td class="col-md-4">{{ event.description_short }}</td>
                            <td class="col-md-2">
                            {% if event|registration_open %}
                                <span class="label label-success">Open</span>
                            {% else %}
                                {% if event|registration_not_started %}
                                    <span class="label label-default">Not opened yet</span>
                                {% elif event|registration_closed %}
                                    <span class="label label-default">Closed</span>
                                {% endif %}
                            {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td>Sorry, there's no event for the moment.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h2>Recruitment</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="col-md-4">Name</th>
                        <th class="col-md-2">Date</th>
                        {% if perms.recruitment.view_recruitment_applications %}
                            <th class="col-md-4">Applications</th>
                        {% else %}
                            <th class="col-md-4"></th>
                        {% endif %}
                        <th class="col-md-2">Status</th>
                    </tr>
                </thead>
                <tbody>
                {% for period in recruitment.recruitment_periods %}
                    <tr>
                        <td class="col-md-4"><a href="{% url 'recruitment_period' period.id %}">{{ period.name }}</a></td>
                        <td class="col-md-2">{{ period.start_date|date:"d M" }} - {{ period.end_date|date:"d M" }}</td>
                        {% if perms.recruitment.view_recruitment_applications %}
                            <td class="col-md-4">{{ period.recruitmentapplication_set.count }}</td>
                        {% else %}
                            <td class="col-md-4"></td>
                        {% endif %}
                        <td class="col-md-2">
                            {% if period.is_past %}
                                <span class="label label-default">Closed</span>
                            {% elif period.is_future %}
                                <span class="label label-default">Not opened yet</span>
                            {% else %}
                                <span class="label label-success">Open</span>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td>No recruitment period for the moment.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
