{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-companies %}<li role="presentation" class="active"><a href="{% url 'companies_customers_list' fair.year %}">CRM</a></li>{% endblock %}

{% block content %}
<div class="pull-right">
	<a href="{% url 'companies_new' %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New company</a>
	<a href="{% url 'companies_customers_link' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Link companies</a>
	<a href="{% url 'companies_customers_groups' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Manage groups</a>
	<a href="{% url 'companies_list' %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> All companies</a>
</div>

<h1>Companies at {{ fair }}</h1>

<div class="table-responsive">
	<table class="table" id="company_table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Contracts</th>
				<th>Groups</th>
				<th>Responsibilities</th>
			</tr>
		</thead>
		
		{% for company_customer in companies_customers %}
			<tr>
				<td><a href="/fairs/{{ fair.year }}/companies/{{ company_customer.pk }}">{{ company_customer.company.name }}</a></td>
				<td>
					<ul class="list-unstyled">
						{% for signature in company_customer.signatures %}
							<li>{{ signature.contract.name }} – {{ signature.timestamp }}</li>
						{% endfor %}
					</ul>
				</td>
				<td>
					<ul class="list-unstyled">
						{% for group in company_customer.groups_iterable %}
							<li>{{ group }}</li>
						{% endfor %}
					</ul>
				</td>
				<td>
					<ul class="list-unstyled">
						{% for responsible in company_customer.responsibles %}
							<li>
								{{ responsible.group }} – {{ responsible.users_iterable | join:", " }}
							</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script>
	$(function()
	{
		$('#company_table').DataTable({ 'paging': false });
	})
</script>
{% endblock %}
