{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load companies_filter %}

{% block nav-companies %}<li role="presentation" class="active"><a href="{% url 'companies_list' fair.year %}">CRM</a></li>{% endblock %}

{% block content %}
<p class="pull-right">
	<a href="{% url 'companies_new' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New company</a>
</p>

<h1>Companies</h1>

<p>
	<a href="{% url 'companies_list' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Companies</a>
	<a href="{% url 'groups_list' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Groups</a>
	<a href="{% url 'statistics' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Statistics</a>
	<a href="{% url 'email' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Email addresses</a>
	<a href="{% url 'contracts_export' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Export signatures</a>
</p>

<style type="text/css">
	.form_no_ul ul
	{
		margin: 0;
		padding: 0;
		margin: 0 0 20px 15px;
	}

	.form_no_ul ul li
	{
		list-style-type: none;
	}

	.form_no_ul ul li label
	{
		font-weight: 400;
	}
</style>

<form action="" method="get" class="form_no_ul" enctype="multipart/form-data">

	<div class="row">
		<div class="col-md-6">

			<label for="{{ form.exhibitors_year.id_for_label }}">{{ form.exhibitors_year.label }}</label>
			{{ form.exhibitors_year}}
			{{ form.exhibitors }}

			<label for="{{ form.users.id_for_label }}">{{ form.users.label }}</label>
			{{ form.users }}
		</div>

		<div class="col-md-6">
			<label for="{{ form.contracts_positive.id_for_label }}">{{ form.contracts_positive.label }}</label>
			{{ form.contracts_positive }}

			<label for="{{ form.contracts_negative.id_for_label }}">{{ form.contracts_negative.label }}</label>
			{{ form.contracts_negative }}
		</div>
	</div>

	<label for="{{ form.q.id_for_label }}">{{ form.q.label }}</label>
	{{ form.q }}
	<input class="btn btn-primary" type="submit" value="Refine search" />
</form>

<div class="row">
	<b>Listing companies: {{companies.total_companies}} </b>
</div>

<div class="table-responsive">
	<table class="table" id="company_table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Contracts</th>
				<th>Groups</th>
				<th>Responsibilities</th>
			</tr>
		</thead>

		{% for company in companies %}
			<tr>
				<td>
					<a href="/fairs/{{ fair.year }}/companies/{{ company.pk }}">{{ company.name }}</a>

					{% if company.show_externally == False %}<span style="font-style: italic;">Not shown externally</span>{% endif %}

					{% if company.exhibitor %}<span class="label label-success">Exhibitor</span>{% endif %}

					{% if company.status %}
						{% if company.status.color == 'BLUE' %}<span class="label label-primary">
						{% elif company.status.color == 'GREEN' %}<span class="label label-success">
						{% elif company.status.color == 'RED' %}<span class="label label-danger">
						{% elif company.status.color == 'YELLOW' %}<span class="label label-warning">
						{% else %}<span class="label label-default">{% endif %}
						{{ company.status.name }}</span>
					{% endif %}
				</td>	

				<td>
					<ul class="list-unstyled">
						{% for signature in company.signatures %}
							<li>
								<span style="display: none;">{{ signature.timestamp|date:"U" }}</span>
								{{ signature.contract.name }} – {{ signature.timestamp }}
							</li>
						{% endfor %}
					</ul>
				</td>

				<td>
					<ul class="list-unstyled">
						{% if company.groups %}
							{% for group in company.groups %}
								<li>{{ group }}</li>
							{% endfor %}
						{% endif %}
					</ul>
				</td>

				<td>
					<ul class="list-unstyled">
						{% if company.responsibles %}
							{% for responsible in company.responsibles %}
								<li>
									{{ responsible.group }} – {{ responsible.users | join:", " }}
								</li>
							{% endfor %}
						{% endif %}
					</ul>
				</td>
			</tr>
		{% endfor %}
	</table>
</div>

<div class="pagination">
    <span class="step-links">
        {% if companies.has_previous %}
            <a href="?{% param_replace page=1 %}">&laquo; first</a>
            <a href="?{% param_replace page=companies.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ companies.page }} of {{ companies.num_pages }}.
        </span>

        {% if companies.has_next %}
            <a href="?{% param_replace page=companies.next_page_number %}">next</a>
            <a href="?{% param_replace page=companies.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<a href="{% url 'send_order_summaries' fair.year %}?id={{ companies_ids | join:"&id=" }}" class="btn btn-primary pull-right"onclick="return confirm('Press OK to send out e-mail messages with confirmations to all companies in list above.')">Send order confirmations</a>


{% endblock %}
{% block scripts %}
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<script>
		$(function()
		{
			$('#company_table').DataTable({
				'paging': false,
				'searching': false
			})
		});
	</script>
{% endblock %}
