{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-companies %}<li role="presentation" class="active"><a href="{% url 'companies_list' fair.year %}">CRM</a></li>{% endblock %}

{% block content %}
<h1>{{ company.name }}</h1>

<p>
	<a href="{% url 'companies_view' fair.year company.pk %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Company overview</a>
	<a href="{% url 'companies_edit' fair.year company.pk %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Groups and responsibilities</a>
	<a href="{% url 'companies_details' fair.year company.pk %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Edit details</a>
</p>

<div class="row">
	<div class="col-md-4">
		<ul class="list-unstyled">
			{% if company.identity_number %} <li><strong>Identity number:</strong>
				{% if company.identity_number_allabolag %} <a href="https://www.allabolag.se/{{ company.identity_number_allabolag }}" target="_blank">{{ company.identity_number }}</a>
				{% else %} {{ company.identity_number }} {% endif %}
			</li>{% endif %}
			
			{% if company.website %} <li><strong>Website:</strong> <a href="{{ company.website }}" target="_blank">{{ company.website }}</a></li>{% endif %}
		</ul>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Linked fairs</h2>
			</div>
			
			<div class="panel-body">
				<ul>
					{% for other_fair in fairs %}
						<li>
							{% if fair == other_fair %}<strong>{{ other_fair }}</strong>
							{% else %}<a href="{% url 'companies_view' other_fair.year company.pk %}">{{ other_fair }}</a>{% endif %}
							
							{% if other_fair.status %}
								{% if other_fair.status.color == 'BLUE' %}<span class="label label-primary">
								{% elif other_fair.status.color == 'GREEN' %}<span class="label label-success">
								{% elif other_fair.status.color == 'RED' %}<span class="label label-danger">
								{% elif other_fair.status.color == 'YELLOW' %}<span class="label label-warning">
								{% else %}<span class="label label-default">{% endif %}
								{{ other_fair.status.name }}</span>
							{% endif %}
							
							<ul class="list-unstyled">
								{% for group in groups %}
									{% if group.fair == other_fair %}<li>{{ group }}</li>{% endif %}
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Invoice address</h3>
			</div>
			
			<div class="panel-body">
				<ul class="list-unstyled">
					{% if has_invoice_address %}
						<li><strong>{% if company.invoice_name %} {{ company.invoice_name }} {% else %} <span style="font-style: italic;">(using THS' name)</span> {% endif %}</strong></li>
						{% if company.invoice_address_line_1 %} <li>{{ company.invoice_address_line_1 }}</li> {% endif %}
						{% if company.invoice_address_line_2 %} <li>{{ company.invoice_address_line_2 }}</li> {% endif %}
						{% if company.invoice_address_line_3 %} <li>{{ company.invoice_address_line_3 }}</li> {% endif %}
						<li>{{ company.invoice_zipcode }} {{ company.invoice_city }}</li>
						{% if company.invoice_country != 'SWEDEN' %} <li>{{ company.get_invoice_country_display }}</li> {% endif %}
					{% else %}
						<span style="font-style: italic;">No complete invoice address provided.</span>
					{% endif %}
				</ul>
				
				<ul class="list-unstyled">
					{% if company.ths_customer_id %} <li><strong>THS Customer ID:</strong> {{ company.ths_customer_id }}</li> {% endif %}</li>
					{% if company.invoice_reference %} <li><strong>Reference:</strong> {{ company.invoice_reference }}</li> {% endif %}</li>
					{% if company.invoice_email_address %} <li><strong>E-mail address:</strong> <a href="mailto:{{ company.invoice_email_address }}">{{ company.invoice_email_address }}</a></li> {% endif %}</li>
				</ul>
			</div>
		</div>
		
		{% for contact in contacts %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">{{ contact }} {% if contact.title %} ({{ contact.title }}) {% endif %}</h2>
				</div>
				
				<div class="panel-body">
					<ul class="list-unstyled">
						<p>{% if contact.user %} {% if contact.confirmed %}<span class="label label-success">Confirmed</span>{% else %}<span class="label label-danger">Not confirmed</span>{% endif %} {% if contact.active %}<span class="label label-success">Active</span>{% else %}<span class="label label-danger">Not active</span>{% endif %}{% endif %}</p>
						
						{% if contact.user %}
							<li><strong>Username:</strong> {{ contact.user.username }}</li>
							<li><strong>Registered:</strong> {{ contact.user.date_joined }}</li>
							<li><strong>Last login:</strong> {{ contact.user.last_login }}</li>
						{% endif %}
						
						<li><strong>E-mail address:</strong> <a href="mailto:{{ contact.email_address }}">{{ contact.email_address }}</a></li>
						{% if contact.mobile_phone_number %}<li><strong>Mobile phone number:</strong> <a href="tel:{{ contact.mobile_phone_number }}">{{ contact.mobile_phone_number }}</a>{% if profile.slack_id %} (<a onclick="slack_call('{{ contact.mobile_phone_number }}');">Slack</a>){% endif %}</li>{% endif %}
						{% if contact.work_phone_number %}<li><strong>Work phone number:</strong> <a href="tel:{{ contact.work_phone_number }}">{{ contact.work_phone_number }}</a>{% if profile.slack_id %} (<a onclick="slack_call('{{ contact.work_phone_number }}');">Slack</a>){% endif %}</li>{% endif %}
					</ul>
				</div>
			</div>
		{% endfor %}
	</div>
	
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Responsibilities</h3>
					</div>
					
					<div class="panel-body">
						{% if responsibles %}
							<ul class="list-unstyled">
								{% for responsible in responsibles %}
									<li>{{ responsible.group }} – {{ responsible.users_iterable | join:", " }}</li>
								{% endfor %}
							</ul>
						{% else %}
							<p>No responsibilities specified.</p>
						{% endif %}
					</div>
				</div>
			</div>
			
			<div class="col-md-7">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Signed contracts</h3>
					</div>
					
					<div class="panel-body">
						{% if signatures %}
							<ul class="list-unstyled">
								{% for signature in signatures %}
									<li><strong>{{ signature.contract.name }}</strong> by <strong>{{ signature.company_contact }}</strong> on <strong style="white-space; nowrap;">{{ signature.timestamp }}</strong></li>
								{% endfor %}
							</ul>
						{% else %}
							<p>No contracts signed.</p>
						{% endif %}

						<a class="btn btn-primary" target="_blank" href="{% url 'anmalan:form' company.pk %}">Go to registration</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Orders</h2>
			</div>
			
			<div class="panel-body">
				{% if orders %}
					<table class="table">
						<thead>
							<tr>
								<th>Product</th>
								<th>Quantity</th>
								<th>Unit price</th>
								<th></th>
							</tr>
						</thead>
						
						{% for order in orders %}
							<tr>
								<td>
									{% if order.name %} {{ order.name }} {% else %} {{ order.product.name }} {% endif %}
									{% if order.comment %}
										<br /><span style="font-style: italic;">{{ order.comment }}</span>
									{% endif %}
								</td>
								<td>{{ order.quantity }}</td>
								<td>{% if order.unit_price is not None %} {{ order.unit_price }} {% else %} {{ order.product.unit_price }} {% endif %}</td>
								<td>
									<a onclick="confirm('Do you want to remove the order?');" href="{% url 'companies_orders_remove' fair.year company.pk order.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
									<a href="{% url 'companies_orders_edit' fair.year company.pk order.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
								</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
					<p>The company has no orders for {{ fair }}.</p>
				{% endif %}
				
				<a href="{% url 'companies_orders_new' fair.year company.pk %}" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New order</a>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Write comment</h2>
			</div>
			
			<div class="panel-body">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form_comment | crispy }}
					<button class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save comment</button>
				</form>
			</div>
		</div>
		
		{% for comment in comments %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="pull-right">
						<a onclick="confirm('Do you want to remove the comment?');" href="{% url 'companies_comments_remove' fair.year company.pk comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
						<a href="{% url 'companies_comments_edit' fair.year company.pk comment.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
					</div>
					
					<h2 class="panel-title">{{ comment.user }} at {{ comment.timestamp }}</h2>
					{{ comment.groups_iterable | join:", " }}
				</div>
				
				<div class="panel-body">
					<p>{{ comment.comment }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<script>
	var slack_call = function(phone_number)
	{
		$.get('{% url 'companies_list' fair.year %}?phone_number=' + encodeURIComponent(phone_number), function(data)
		{
			alert(data);
		});
	}
</script>
{% endblock %}
