{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-companies %}<li role="presentation" class="active"><a href="{% url 'companies_list' fair.year %}">CRM</a></li>{% endblock %}

{% block content %}
<h1>{{ company.name }} – Company details</h1>

<p>
	<a href="{% url 'companies_view' fair.year company.pk %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Company overview</a>
	<a href="{% url 'companies_edit' fair.year company.pk %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Groups and responsibilities</a>
	<a href="{% url 'companies_details' fair.year company.pk %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Company details</a>
</p>

<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form_company_details | crispy }}
	<input class="btn btn-primary" type="submit" value="Save company details" />
</form>
{% endblock %}
