{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load humanize %}

{% block nav-companies %}<li role="presentation" class="active"><a href="{% url 'companies_list' fair.year %}">CRM</a></li>{% endblock %}

{% block content %}
<h1>{{ company.name }}</h1>

<p>
	<a href="{% url 'companies_view' fair.year company.pk %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Company overview</a>
	<a href="{% url 'companies_edit' fair.year company.pk %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Groups and responsibilities</a>
	<a href="{% url 'companies_details' fair.year company.pk %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Edit details</a>
</p>

<div class="row">
	<div class="col-md-4">
		<ul class="list-unstyled">
			{% if company.show_externally == False %} <li class = 'text-danger'>Company is <strong>not</strong> shown externally on registration page.</li> {% endif %}
		</ul>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Switch between fairs</h2>
			</div>

			<div class="panel-body">
				<ul>
					{% for other_fair in fairs %}
						<li>
							{% if fair == other_fair %}<strong>{{ other_fair.fair }}</strong>
							{% else %}<a href="{% url 'companies_view' other_fair.fair.year company.pk %}">{{ other_fair.fair }}</a>{% endif %}

							{% if other_fair.exhibitor %}<span class="label label-success">Exhibitor</span>{% endif %}

							<ul class="list-unstyled">
								{% for group in groups %}
									{% if group.fair == other_fair.fair %}<li>{{ group }}</li>{% endif %}
								{% endfor %}
							</ul>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>


	<div class="panel panel-default">
  	<div class="panel-heading">
    	<h3 class="panel-title">General information</h3>
  </div>

  	<div class="panel-body">
    	<ul class="list-unstyled">
					{% if company.name%} <li><strong>Organization name:</strong> {{ company.name }}</li> {% endif %}
					{% if company.identity_number_allabolag %}<li><strong>Identity number: </strong><a href="https://www.allabolag.se/{{ company.identity_number_allabolag }}" target="_blank">{{ company.identity_number }}</li></a>
					{% else %} {% if company.identity_number%}<li><strong>Identity number: </strong>{{ company.identity_number }}</li> {% endif %}{% endif %}
					{% if company.type %} <li><strong>Type:</strong> {{ company.type }}</li> {% endif %}
					{% if company.website %} <li><strong>Website:</strong> <a href="{{ company.website }}" target="_blank">{{ company.website }}</a></li>{% endif %}
					{% if company.general_email_address %} <li><strong>Non-personal e-mail address:</strong> <a href="mailto:{{ company.general_email_address }}">{{ company.general_email_address }}</a></li>{% endif %}
    	</ul>
  		</div>
		</div>


		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Invoice address</h3>
			</div>

			<div class="panel-body">
				<ul class="list-unstyled">
					{% if has_invoice_address %}
						<li><strong>{% if company.invoice_name %} {{ company.invoice_name }} {% else %} <span style="font-style: italic;">(using THS' name)</span> {% endif %}</strong></li>
						{% if company.invoice_address_line_1 %} <li>{{ company.invoice_address_line_1 }}</li> {% endif %}
						{% if company.invoice_address_line_2 %} <li>{{ company.invoice_address_line_2 }}</li> {% endif %}
						{% if company.invoice_address_line_3 %} <li>{{ company.invoice_address_line_3 }}</li> {% endif %}
						<li>{{ company.invoice_zip_code }} {{ company.invoice_city }}</li>
						{% if company.invoice_country != 'SWEDEN' %} <li>{{ company.get_invoice_country_display }}</li> {% endif %}
					{% else %}
						<span style="font-style: italic;">No complete invoice address provided.</span>
					{% endif %}
				</ul>

				<ul class="list-unstyled">
					{% if company.ths_customer_id %} <li><strong>THS Customer ID:</strong> {{ company.ths_customer_id }}</li> {% endif %}</li>
					{% if company.invoice_reference %} <li><strong>Reference:</strong> {{ company.invoice_reference }}</li> {% endif %}</li>
					{% if company.invoice_email_address %} <li><strong>E-mail address:</strong> <a href="mailto:{{ company.invoice_email_address }}">{{ company.invoice_email_address }}</a></li> {% endif %}</li>
					<br>
					{% if company.e_invoice == True %}<li><strong>This company uses E-invoice</strong></li>
					{% else %} {% if company.e_invoice == False%}<li>This company doesn't use E-invoice</li> {% endif %}{% endif %}
				</ul>
			</div>
		</div>

		{% for contact in contacts %}
			<div class="panel panel-default"{% if not contact.active %} style="opacity: 0.7;"{% endif %}>
				<div class="panel-heading">
					<a class="pull-right" href="{% url 'companies_contacts_edit' fair.year company.pk contact.pk %}">
						<span class="glyphicon glyphicon-edit"></span>
					</a>
					{% if 'magic_link.add_magiclink' in perms %}
					<a class="pull-right" href="javascript:;" onclick="createMagicLink(this, '{{ contact.user.pk }}')" style="margin-right: 7px;" title="Create a magic link for the user, redirecting them to the register page">
						<span class="glyphicon glyphicon-link"></span>
					</a>
					{% endif %}
					<h2 class="panel-title">{% if contact.preferred_language %}{{ contact.preferred_language.short }} {% endif %}{{ contact }}</h2>
					{% if contact.title %}{{ contact.title }}{% endif %}
				</div>

				<div class="panel-body">
					<ul class="list-unstyled">
						<p>
							{% if contact.user %}
								{% if contact.confirmed %}
									<span class="label label-success" title="This contact has been confirmed to be a real contact in the company">Confirmed</span>
								{% else %}
									<span class="label label-danger" title="This contact has not been confirmed to be a real contact in the company">Not confirmed</span>
								{% endif %}
								{% if contact.active %}
									<span class="label label-success" title="This contact answers actively on email or phone.">Active</span>
								{% else %}
									<span class="label label-danger" title="This contact does not answer actively on email or phone.">Not active</span>
								{% endif %}
							{% endif %}
						</p>

						{% if contact.user %}
							<li><strong>Username:</strong> {{ contact.user.username }}</li>
							<li><strong>Registered:</strong> {{ contact.user.date_joined }}</li>
							<li><strong>Last login:</strong> {{ contact.user.last_login }}</li>
						{% endif %}

						<li><strong>E-mail address:</strong> <a href="mailto:{{ contact.email_address }}">{{ contact.email_address }}</a></li>
						{% if contact.mobile_phone_number %}<li><strong>Mobile phone number:</strong> <a href="tel:{{ contact.mobile_phone_number }}">{{ contact.mobile_phone_number }}</a>{% if profile and profile.slack_id %} (<a onclick="slack_call('{{ contact.mobile_phone_number }}');">Slack</a>){% endif %}</li>{% endif %}
						{% if contact.work_phone_number %}<li><strong>Work phone number:</strong> <a href="tel:{{ contact.work_phone_number }}">{{ contact.work_phone_number }}</a>{% if profile and profile.slack_id %} (<a onclick="slack_call('{{ contact.work_phone_number }}');">Slack</a>){% endif %}</li>{% endif %}
					</ul>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="col-md-8">
		<div class="row">
			<div class="col-md-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Responsibilities</h3>
					</div>

					<div class="panel-body">
						{% if responsibles %}
							<ul class="list-unstyled">
								{% for responsible in responsibles %}
									<li>
										{{ responsible.group }} –
										{% for user in responsible.users.all %}
											<a href="{% url 'people:profile' fair.year user.profile.pk %}">{{ user }}</a>
										{% endfor %}
									</li>
								{% endfor %}
							</ul>
						{% else %}
							<p>No responsibilities specified.</p>
						{% endif %}
					</div>
				</div>
			</div>

			<div class="col-md-7">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Signed contracts</h3>
					</div>

					<div class="panel-body">
						{% if signatures %}
							<ul class="list-unstyled">
								{% for signature in signatures %}
									<li><strong>{{ signature.contract.name }}</strong> by <strong>{{ signature.company_contact }}</strong> on <strong style="white-space; nowrap;">{{ signature.timestamp }}</strong></li>
								{% endfor %}
							</ul>
						{% else %}
							<p>No contracts signed.</p>
						{% endif %}

						<a class="btn btn-primary" target="_blank" href="{% url 'dashboard:company_dashboard' company.pk %}">Go to registration</a>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Orders</h2>
			</div>

			<div class="panel-body">
				{% if orders %}
					<table class="table">
						<thead>
							<tr>
								<th>Product</th>
								<th style="text-align: right;">Quantity</th>
								<th style="text-align: right;">Unit price</th>
								<th></th>
							</tr>
						</thead>

						{% for order in orders %}
							<tr>
								<td>
									{% if order.name %} {{ order.name }} {% else %} {{ order.product.name }} {% endif %}
									{% if order.comment %}
										<br /><span style="font-style: italic;">{{ order.comment }}</span>
									{% endif %}
								</td>
								<td style="text-align: right;">{{ order.quantity }}</td>
								<td style="text-align: right;">{% if order.unit_price is not None %}<span style="color: #000000;">{{ order.unit_price | intcomma }}</span>{% else %}<span style="color: #999999;">{{ order.product.unit_price | intcomma }}</span>{% endif %}</td>
								<td>
									{% if order.export_batch is None %}
										<a onclick="return confirm('Do you want to remove the order?');" href="{% url 'companies_orders_remove' fair.year company.pk order.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
										<a href="{% url 'companies_orders_edit' fair.year company.pk order.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
									{% endif %}
								</td>
							</tr>
						{% endfor %}
					</table>
				{% else %}
					<p>The company has no orders for {{ fair }}.</p>
				{% endif %}

				<a href="{% url 'companies_orders_new' fair.year company.pk %}" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New order</a>
			</div>
		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Write comment</h2>
			</div>

			<div class="panel-body">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form_comment | crispy }}
					<button class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save comment</button>
				</form>
			</div>
		</div>

		{% for comment in comments %}
			<div class="panel panel-{% if comment.show_in_exhibitors %}info{% else %}default{% endif %}">
				<div class="panel-heading">
					<div class="pull-right">
						<a onclick="return confirm('Do you want to remove the comment?');" href="{% url 'companies_comments_remove' fair.year company.pk comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
						<a href="{% url 'companies_comments_edit' fair.year company.pk comment.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
					</div>

					<h2 class="panel-title"><a href="{% url 'people:profile' fair.year comment.user.profile.pk %}">{{ comment.user }}</a> at {{ comment.timestamp }}</h2>
					{{ comment.groups.all | join:", " }}
				</div>

				<div class="panel-body">
					<p>{{ comment.comment | linebreaks }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<script>
	var slack_call = function(phone_number)
	{
		$.get('{% url 'companies_slack_call' fair.year %}?phone_number=' + encodeURIComponent(phone_number), function(data)
		{
			alert(data);
		});
	}

	/* Create magic link for user with `id`, sent from a link tag `el` */
	var createMagicLink = function(el, id)
	{
		$.get('{% url 'create_magic_link' %}?user=' + encodeURIComponent(id), function(data) {
			window.alert(data.url);
		});
	}
</script>
{% endblock %}
