{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-companies %}<li role="presentation" class="active"><a href="{% url 'companies_customers_list' fair.year %}">Companies</a></li>{% endblock %}

{% block content %}
<div class="pull-right">
	<a href="{% url 'companies_new' %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New company</a>
	<a href="{% url 'companies_list' %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> All companies</a>
</div>

<h1>Companies at {{ fair }}</h1>

<div class="row">
	<div class="col-md-8">
			<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Groups</th>
						<th>Responsibilities</th>
					</tr>
				</thead>
				
				{% for company_customer in companies_customers %}
					<tr>
						<td><a href="/fairs/{{ fair.year }}/companies/{{ company_customer.pk }}">{{ company_customer.company.name }}</a></td>
						<td>
							<ul class="list-unstyled">
								{% for group in company_customer.groups_iterable %}
									<li>{{ group }}</li>
								{% endfor %}
							</ul>
						</td>
						<td>
							<ul class="list-unstyled">
								{% for responsible in company_customer.responsibles %}
									<li>
										{{ responsible.group }} – {{ responsible.users_iterable | join:", " }}
									</li>
								{% endfor %}
							</ul>
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Link a company with {{ fair }}</h2>
			</div>
			
			<div class="panel-body">
				{% if form %}
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ form|crispy }}
						
						<button class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Create link</button>
					</form>
				{% else %}
					<p>There are no companies to link.</p>
				{% endif %}
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">All groups in {{ fair }}</h2>
			</div>
			
			<div class="panel-body">
				{% for group in groups_list %}
					{% if group == 'open' %}<ul>
					{% elif group == 'open_short' %}<li>
					{% elif group == 'close' %}</ul></li>
					{% elif group == 'close_short' %}</li>
					{% else %}{{ group.group.name }}{% endif %}
				{% endfor %}
				</ul>
				
				<a href="{% url 'companies_customers_groups' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Manage groups</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
