{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-companies %}<li role="presentation" class="active"><a href="{% url 'companies_list' fair.year %}">CRM</a></li>{% endblock %}

{% block content %}
<h1>Edit comment for {{ company.name }} at {{ fair }}</h1>

<p>
	<a href="{% url 'companies_view' fair.year company.pk %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Company overview</a>
</p>

<form method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form | crispy }}

	<div class="alert alert-warning" role="alert">
		Company representatives have personal accounts. If the company has a new representative, don't edit the details here – let them create a new account instead.
	</div>
	
	<button class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save changes</button>
</form>
{% endblock %}
