{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-companies %}<li role="presentation" class="active"><a href="{% url 'companies_list' fair.year %}">CRM</a></li>{% endblock %}

{% block content %}
<p class="pull-right">
	<a href="{% url 'companies_new' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New company</a>
</p>

<h1>Companies</h1>

<p>
	<a href="{% url 'companies_new' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New company</a>
	<a href="{% url 'groups_list' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Groups</a>
	<a href="{% url 'statistics' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Statistics</a>
</p>

<div class="table-responsive">
	<table class="table" id="company_table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Contracts</th>
				<th>Groups</th>
				<th>Responsibilities</th>
			</tr>
		</thead>
		
		{% for company in companies %}
			<tr>
				<td>
					<a href="/fairs/{{ fair.year }}/companies/{{ company.pk }}">{{ company.name }}</a>
					
					{% if company.exhibitor %}<span class="label label-success">Exhibitor</span>{% endif %}
					
					{% if company.status %}
						{% if company.status.color == 'BLUE' %}<span class="label label-primary">
						{% elif company.status.color == 'GREEN' %}<span class="label label-success">
						{% elif company.status.color == 'RED' %}<span class="label label-danger">
						{% elif company.status.color == 'YELLOW' %}<span class="label label-warning">
						{% else %}<span class="label label-default">{% endif %}
						{{ company.status.name }}</span>
					{% endif %}
				</td>
				
				<td>
					<ul class="list-unstyled">
						{% for signature in company.signatures %}
							<li><span style="display: none;">{{ signature.timestamp|date:"U" }}</span>{{ signature.contract.name }} – {{ signature.timestamp }}</li>
						{% endfor %}
					</ul>
				</td>
				
				<td>
					<ul class="list-unstyled">
						{% if company.groups %}
							{% for group in company.groups %}
								<li>{{ group }}</li>
							{% endfor %}
						{% endif %}
					</ul>
				</td>
				
				<td>
					<ul class="list-unstyled">
						{% if company.responsibles %}
							{% for responsible in company.responsibles %}
								<li>
									{{ responsible.group }} – {{ responsible.users | join:", " }}
								</li>
							{% endfor %}
						{% endif %}
					</ul>
				</td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script>
	$(function()
	{
		$('#company_table').DataTable({ 'paging': false });
	})
</script>
{% endblock %}
