{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-companies %}<li role="presentation" class="active"><a href="{% url 'companies_customers_list' fair.year %}">CRM</a></li>{% endblock %}

{% block content %}
<div class="pull-right">
	<a href="{% url 'companies_customers_list' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> All companies at {{ fair }}</a>
</div>

<h1>Link companies with {{ fair }}</h1>

{% if form %}
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form|crispy }}
		
		<button class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Create link</button>
	</form>
{% else %}
	<p>All existing companies are already linked with this fair.</p>
{% endif %}
{% endblock %}
