{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-companies %}<li role="presentation" class="active"><a href="{% url 'companies_customers_list' fair.year %}">CRM</a></li>{% endblock %}

{% block content %}
<h1>My companies at {{ fair }}</h1>

<p>
	<a href="{% url 'companies_new' %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New company</a>
	<a href="{% url 'companies_customers_link' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Link</a>
	<a href="{% url 'companies_customers_groups' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Groups</a>
	<a href="{% url 'companies_customers_statistics' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Statistics</a>
	<a href="{% url 'companies_customers_list' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> All companies at {{ fair }}</a>
	<a href="{% url 'companies_list' %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> All companies</a>
</p>

<div class="table-responsive">
	<table class="table" id="company_table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Contracts</th>
				<th>Status</th>
				<th>Groups</th>
				<th>Responsibilities</th>
			</tr>
		</thead>
		
		{% for companies_customer in companies_customers %}
			<tr>
				<td><a href="/fairs/{{ fair.year }}/companies/{{ companies_customer.pk }}">{{ companies_customer.company.name }}</a></td>
				
				<td>
					<ul class="list-unstyled">
						{% for signature in companies_customer.signatures %}
							<li><span style="display: none;">{{ signature.timestamp|date:"U" }}</span>{{ signature.contract.name }} – {{ signature.timestamp }}</li>
						{% endfor %}
					</ul>
				</td>
				
				<td>
					{{ companies_customer.status.name }}
				</td>
				
				<td>
					<ul class="list-unstyled">
						{% for group in companies_customer.groups_iterable %}
							<li>{{ group }}</li>
						{% endfor %}
					</ul>
				</td>
				
				<td>
					<ul class="list-unstyled">
						{% for responsible in companies_customer.responsibles %}
							<li>
								{{ responsible.group }} – {{ responsible.users_iterable | join:", " }}
							</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script>
	$(function()
	{
		$('#company_table').DataTable({ 'paging': false });
	})
</script>
{% endblock %}
