{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-companies %}<li role="presentation" class="active"><a href="{% url 'companies_customers_list' fair.year %}">CRM</a></li>{% endblock %}

{% block content %}
<h1>{{ company.name }} at {{ fair }}</h1>

<p>
	<a href="{% url 'companies_customers_edit' fair.year company_customer.pk %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-tasks"></span> Groups and responsibilities</a>
	<a href="{% url 'companies_edit' company.pk %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-edit"></span> Edit company</a>
	<a href="{% url 'companies_customers_list' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> All companies at {{ fair }}</a>
</p>

<div class="row">
	<div class="col-md-4">
		<ul class="list-unstyled">
			{% if company.identity_number %} <li><strong>Identity number:</strong>
				{% if company.identity_number_allabolag %} <a href="https://www.allabolag.se/{{ company.identity_number_allabolag }}" target="_blank">{{ company.identity_number }}</a>
				{% else %} {{ company.identity_number }} {% endif %}
			</li>{% endif %}
			
			{% if company.website %} <li><strong>Website:</strong> <a href="{{ company.website }}" target="_blank">{{ company.website }}</a></li>{% endif %}
		</ul>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Linked fairs</h2>
			</div>
			
			<div class="panel-body">
				{% if company_customers %}
					<ul>
						{% for other_company_customer in company_customers %}
							<li>
								{% if company_customer == other_company_customer %}<strong>{{ other_company_customer.fair }}</strong>
								{% else %}<a href="{% url 'companies_customers_view' other_company_customer.fair.year other_company_customer.pk %}">{{ other_company_customer.fair }}</a>{% endif %}
								
								{% if other_company_customer.exhibitor %}<span class="label label-success">Participated</span>{% endif %}
								
								<ul class="list-unstyled">
									{% for group in other_company_customer.groups_iterable %}
										<li>{{ group }}</li>
									{% endfor %}
								</ul>
							</li>
						{% endfor %}
					</ul>
				{% else %}
					<p>This company is not linked to any fairs.</p>
				{% endif %}
			</div>
		</div>
		
		{% for address in company.addresses %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{{ address.get_type_display }} address</h3>
				</div>
				
				<div class="panel-body">
					<ul class="list-unstyled">
						<li><strong>{% if address.name %} {{ address.name }} {% else %} {{ company.name }} {% endif %}</strong></li>
						<li><strong>{{ address.street }}</strong></li>
						<li><strong>{{ address.zipcode }} {{ address.city }}</strong></li>
						{% if address.country != 'SWEDEN' %} <li><strong>{{ address.get_country_display }}</strong></li> {% endif %}
					</ul>
					
					<ul class="list-unstyled">
						{% if address.phone_number %} <li><strong>Phone number:</strong> {{ address.phone_number }}</li> {% endif %}
						{% if address.email_address %} <li><strong>E-mail address:</strong> <a href="mailto:{{ address.email_address }}" target="_blank">{{ address.email_address }}</a></li>{% endif %}
						{% if address.reference %} <li><strong>Reference:</strong> {{ address.reference }}</li> {% endif %}</li>
					</ul>
				</div>
			</div>
		{% endfor %}
		
		{% for company_contact in company_contacts %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">{{ company_contact }} {% if company_contact.title %} ({{ company_contact.title }}) {% endif %}</h2>
				</div>
				
				<div class="panel-body">
					<ul class="list-unstyled">
						<li><strong>Username:</strong> {{ company_contact.user.username }}</li>
						<li><strong>E-mail address:</strong> <a href="mailto:{{ company_contact.email_address }}">{{ company_contact.email_address }}</a></li>
						{% if company_contact.mobile_phone_number %}<li><strong>Mobile phone number:</strong> <a href="tel:{{ company_contact.mobile_phone_number }}">{{ company_contact.mobile_phone_number }}</a>{% if profile.slack_id %} (<a onclick="slack_call('{{ company_contact.mobile_phone_number }}');">Slack</a>){% endif %}</li>{% endif %}
						{% if company_contact.work_phone_number %}<li><strong>Work phone number:</strong> <a href="tel:{{ company_contact.work_phone_number }}">{{ company_contact.work_phone_number }}</a>{% if profile.slack_id %} (<a onclick="slack_call('{{ company_contact.work_phone_number }}');">Slack</a>){% endif %}</li>{% endif %}
						<li><strong>Confirmed:</strong> {% if company_contact.confirmed %} Yes {% else %} No {% endif %}</li>
						<li><strong>Active:</strong> {% if company_contact.active %} Yes {% else %} No {% endif %}</li>
					</ul>
				</div>
			</div>
		{% endfor %}
	</div>
	
	<div class="col-md-8">
		<div class="row">
			<div class="col-md-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Responsibilities</h3>
					</div>
					
					<div class="panel-body">
						{% if company_customer.responsibles %}
							<ul class="list-unstyled">
								{% for responsible in company_customer.responsibles %}
									<li>{{ responsible.group }} – {{ responsible.users_iterable | join:", " }}</li>
								{% endfor %}
							</ul>
						{% else %}
							<p>No responsibilities specified.</p>
						{% endif %}
					</div>
				</div>
			</div>
			
			<div class="col-md-7">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Signed contracts</h3>
					</div>
					
					<div class="panel-body">
						{% if company_customer.signatures %}
							<ul class="list-unstyled">
								{% for signature in company_customer.signatures %}
									<li><strong>{{ signature.contract.name }}</strong> by <strong>{{ signature.company_contact }}</strong> on <strong style="white-space; nowrap;">{{ signature.timestamp }}</strong></li>
								{% endfor %}
							</ul>
						{% else %}
							<p>No contracts signed.</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Write comment</h2>
			</div>
			
			<div class="panel-body">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form | crispy }}
					<button class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save comment</button>
				</form>
			</div>
		</div>
		
		{% for comment in company_customer.comments %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="pull-right">
						<a onclick="confirm('Do you want to remove the comment?');" href="{% url 'companies_customers_comment_remove' fair.year company_customer.pk comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
						<a href="{% url 'companies_customers_comment_edit' fair.year company_customer.pk comment.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
					</div>

					<h2 class="panel-title">{{ comment.user }} at {{ comment.timestamp }}</h2>
					{{ comment.groups_iterable | join:", " }}
				</div>
				
				<div class="panel-body">
					<p>{{ comment.comment }}</p>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

<script>
	var slack_call = function(phone_number)
	{
		$.get('{% url 'companies_slack_call' fair.year %}?phone_number=' + encodeURIComponent(phone_number), function(data)
		{
			alert(data);
		});
	}
</script>
{% endblock %}
