{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-companies %}<li role="presentation" class="active"><a href="{% url 'companies_list' fair.year %}">CRM</a></li>{% endblock %}

{% block content %}
<h1>{{ company.name }} – Group and responsibilities</h1>

<p>
	<a href="{% url 'companies_view' fair.year company.pk %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Company overview</a>
	<a href="{% url 'companies_edit' fair.year company.pk %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Groups and responsibilities</a>
	<a href="{% url 'companies_details' fair.year company.pk %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Company details</a>
</p>

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Groups</h3>
			</div>
			
			<div class="panel-body">
				{% for group in groups_list %}
					{% if group == 'open' %}<ul>
					{% elif group == 'open_short' %}<li>
					{% elif group == 'close' %}</ul></li>
					{% elif group == 'close_short' %}</li>
					{% else %}
						{% if group.selected %} <strong> {% endif %}
						{% if not group.group.allow_companies and not group.selected %} {{ group.group.name }}
						{% else %} <a href="{% url 'companies_edit_groups' fair.year company.pk group.group.pk %}">{{ group.group.name }}</a>{% endif %}
						{% if group.selected %} </strong> {% endif %}
					{% endif %}
				{% endfor %}
				</ul>
				
				<p>Click on a group to associate with or remove it from the company.</p>
				
				<form method="post">
					{% csrf_token %}
					{{ form_status | crispy }}
					<input class="btn btn-primary" type="submit" name="save_status" value="Set status" />
				</form>
			</div>
		</div>
	</div>
	
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Responsibilities</h5>
			</div>
			
			<div class="panel-body">
				{% if responsibles %}
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Responsibility</th>
									<th>Assigned people</th>
									<th></th>
								</tr>
							</thead>
							
							{% for responsible in responsibles %}
								<tr>
									<td>{{ responsible.group }}</td>
									
									<td>
										<ul class="list-unstyled">
											{% for user in responsible.users_iterable %}
												<li>{{ user }}</li>
											{% endfor %}
										</ul>
									</td>
									
									<td style="text-align: right;">
										<a href="{% url 'companies_edit_responsibles_remove' fair.year company.pk responsible.group.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
										<a href="{% url 'companies_edit_responsibles_edit' fair.year company.pk responsible.group.pk %}"><span class="glyphicon glyphicon-edit"></span></a>
									</td>
								</tr>
							{% endfor %}
						</table>
					</div>
				{% else %}
					<p>No responsibilities specified.</p>
				{% endif %}
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">{% if responsible %} Change responsibilities {% else %} Assign responsibilities {% endif %}</h5>
			</div>
			
			<div class="panel-body">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form_responsible | crispy }}
					<input class="btn btn-primary" type="submit" name="save_responsibilities" value="{% if responsible %}Save changes{% else %}Assign responsibilities{% endif %}" />
				</form>
			</div>
		</div>
		
		<div class="panel panel-default">
			<div class="panel-heading">
				<h5 class="panel-title">Company details</h5>
			</div>
			
			<div class="panel-body">
				<form method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form_company_details | crispy }}
					<input class="btn btn-primary" type="submit" name="save_company_details" value="Save company details" />
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
