{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-companies %}<li role="presentation" class="active"><a href="{% url 'companies_list' fair.year %}">CRM</a></li>{% endblock %}

{% block content %}
<p class="pull-right">
	<a href="{% url 'groups_new' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New group</a>
</p>

<h1>Groups in {{ fair }}</h1>

<p>
	<a href="{% url 'companies_list' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Companies</a>
	<a href="{% url 'groups_list' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Groups</a>
	<a href="{% url 'statistics' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Statistics</a>
	<a href="{% url 'email' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Email addresses</a>
	<a href="{% url 'contracts_export' fair.year %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-list"></span> Export signatures</a>
</p>

<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Groups</h3>
			</div>

			<div class="panel-body">
				{% for group in groups_list %}
					{% if group == 'open' %}<ul>
					{% elif group == 'open_short' %}<li>
					{% elif group == 'close' %}</ul></li>
					{% elif group == 'close_short' %}</li>
					{% else %}
						{% if group.group == form_group %}<strong>{% endif %}
						<a href="{% url 'groups_edit' fair.year group.group.pk %}">{{ group.group.name }}</a>
						{% if group.group == form_group %}</strong>{% endif %}
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<div class="col-md-7">
		{% if request.resolver_match.url_name != 'groups_list' %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">{% if form_group %} Edit group {% else %} New group {% endif %}</h3>
				</div>

				<div class="panel-body">
					<form method="post" enctype="multipart/form-data">
						{% csrf_token %}
						{{ form|crispy }}
						<button class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> {% if form_group %} Save changes {% else %} Save group {% endif %}</button>
					</form>
				</div>
			</div>
		{% else %}
			<div>
				<p>Click on a group in the left column to edit it or use the button above to create a new group.</p>
				<div style="margin-top:5px;margin-bottom:10px;padding:1rem;padding-left: 3rem;padding-right:3rem;border-radius:4px;background-color:#e0f2fe;">
					<h3>Common use cases</h3>
					<p>Here are some groups utilized by previous years and that we recommend you to use</p>
					<ul>
						<li><strong>Interested in</strong> - This group is often used during IR (initial registration) to help us know what the companies want, within this group you can create any item that you want the companies to be able to mark as interesting. This will be shown in the dashboard for the company as checkboxes, eg: gold package, extra electricity etc. To do this create a new group and add the "Interested in" group as parent</li>
					</ul>
				</div>
				<div style="margin-top:5px;padding:1rem;padding-left: 3rem;padding-right:3rem;border-radius:4px;background-color:#e0f2fe;">
					<h3>Special Groups</h3>
					<p>There are some groups with predefined behavior or logic attached to them, note that if you want to use these groups, create a new group and use the <span style="text-decoration: underline;">exact name</span> as stated below (in the bold text)</p>
					<ul>
						<li><strong>Sales responsible</strong> - This group will link users to a company, when someone is assigned as responsible, they will be used in the dashboard in the communication bubble in the bottom right. For this to work, make sure to check the boxes: <span style="text-decoration: underline;">Allow companies</span>, <span style="text-decoration: underline;">Allow responsibilities</span>, <span style="text-decoration: underline;">Allow exhibitors</span></li>
					</ul>
				</div>
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}
