{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
	{% include "header.html" %}
	{% block head-extra %}{% endblock %}
  <!-- Styling -->
      <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
      <link href="{% static 'bootstrap/css/bootstrap-theme.css' %}" rel="stylesheet">
      <link href="{% static 'complete_registration.css' %}" rel="stylesheet" media="screen">
  </head>
<body>


<div class="container" style="max-width: 555px">
    <div class="row">
      <svg class="text-center" viewBox="155 16 480 150" width="555px" height="250px" version="1.1">
        <image xlink:href="{% static 'images/armada_logo_text_left_green.svg' %}" alt="Armada" height="250px" width="780px"/>
      </svg>
    </div>
    <idv class="row">
      <div class="col-md-8 col-md-offset-2">
        <form method="post">
            {% csrf_token %}

            {{ form|crispy }}
            <input type="hidden" name="next" value="/" />
            <button class="btn-signin btn-green">Log in</button>
        </form>
      </div>
    </div>
    </div>
</body>
</html>
