{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
	{% include "header.html" %}
	{% block head-extra %}{% endblock %}
  <!-- Styling -->
      <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
      <link href="{% static 'bootstrap/css/bootstrap-theme.css' %}" rel="stylesheet">
      <link href="{% static 'complete_registration.css' %}" rel="stylesheet" media="screen">
  </head>
<body>
    <div class="container">
    	<div class="headline">
            <h2> Overwatch </h2>
            <h4> Survey: {{ survey }} </h4>
            <div class="row">
                <div class="col-md-12">
                    {% for student in students %}
                        {% if student.classifier_log %}
                            <h3> {{ student.id_string }} </h3>
                            <h4> Status: {{ student.classifier_log }} </h4>
                            <br />
                            <br />
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
            <a href="{% url 'matching:init_classifier' %}"><button type="button" class="btn btn-default">Previous</button></a>
        </div>
    </div>

</body>
</html>
