body, html {
	height: 100%;
	position: relative;
	font-family: 'Lato Light', Arial, sans-serif;
}

/*
 * GENERAL PAGE STYLE
*/
body {
	background: #2D2D2D;
	color: white;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("./fonts/BebasNeue-Regular.otf");
}

@font-face {
  font-family: "Lato Regular";
  src: url("./fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato Light";
  src: url("./fonts/Lato-Light.ttf");
}
input, select, textarea { 
	color: black; 
	background: white;
	border: none;
	padding: 3px 5px;
    border-radius: 5px;
}

h1,h2,h3,h4 {
	font-family: 'Bebas Neue', sans-serif; 
	text-transform: uppercase;
}
h1 {
	font-size: 3.5em;
	color: #00d791;
}
h1.big {
	font-size: 6em;
}
h3 {
	font-size: 2em;
	color: #00d791;
	margin-top: 0;
}
h4 {
	font-size: 1.5em;
	color: #00d791;
	margin-top: 0;
}
a, a:visited, a:hover {
	color: #00d791;
}
.hidden {
	display: none;
}
.big-margin-top {
	margin-top: 100px;
}

/*
*	
*/
.input, .forgot-password, .btn-green, .box-danger, .important, .mail-name, .mail-role {
	font-family: 'Bebas Neue', sans-serif; 
	text-transform: uppercase;	
}

h2 {
	font-size: 42px;
	margin-top: 2px;
	margin-bottom: 30px;
}

h1.text-highlight {
	text-align: center;
	color: #00b276;
	font-size: 90px;
}

.btn-green:hover, .btn-green:focus {
	color: #fff;
	background: #00b276;
	border: none 
}

.btn-green, a.btn-green {
	background-color: #00d791;
	color: #fff;
	border: none;
	font-size: 21px;
	padding: 6px 22px;
	border-radius: 5px;
}


/*
* LOGIN SPECIFIC
*/

.headline {
	margin: 0 auto;
    width: 555px;
}

.form-container {
	margin: 0 auto;
    text-align: center;
    width: 300px;
}

form {	
    padding: 25px;
}

.input {
	height: 37px;
	font-size: 21px;
	border-radius: 5px;
	margin-bottom: 20px;
	padding-bottom: 2px;
}

.btn-signin {
	height: 60px;
	width: 100%;
}

a.forgot-password {
	display: block;
	text-align: center;
	font-size: 21px;
	color: #fff;
	width: 300px;
    padding: 25px;
	text-decoration: underline;
}

a.forgot-password:hover {
	color: #b7b7b7;
}


/*
*	HOME SPECIFIC
*/

.important {
	text-align: center;
	font-size: 21px;
}

.box-danger {
	text-align: center;
	font-size: 21px;
	width: 30%;
	padding: 20px;
	margin: 20px auto;
	border: solid;
	border-color: #ea2c49;
	border-radius: 5px;
}

.text-danger {
	color: #ea2c49;
}

.mail-container {
	margin: 10px auto;
  	position: relative;
  	text-align: center;
}

.mail {
	display: inline-block;
	text-align: left;
	margin: 10px;
	color: #00b276;
	padding: 10px;
}

.mail-ref {
	color: #00b276;
}

.mail-name {
	font-size: 21px;
	margin: 0px;
}

.mail-role {
	font-size: 15px;
	margin: 0px;
}

.armada-ship-green {
	position: absolute;
	display: inline-block;
	float: left;
	bottom: 0px;
	left: 10px;
}

.btn-start {
	float: right;
	width: 100px;
	position: absolute;
	display: inline-block;
	bottom: 30px;
	right: 30px;
}

/*
* GENERAL BUTTON STYLE
*/
.btn-armada {
	font-size: 21px;
	border: none;
	background-image: none;
	padding: 6px 22px;
}
.btn-armada-green {
	background: #00d791;
	color: #fff;
}

.btn-armada-red {
	background: #ea2c49;
	color: #fff;
}
.btn-armada-green:hover, .btn-armada-green:focus {
	background: #00b276;
	color: #fff;
}
.btn-armada-gray:hover, .btn-armada-gray:focus {
	background: #bbb;
	color: #fff;
}
/*
*	DROP DOWN STYLE / INPUT STYLE
*/
.cr-container select {
	background: #353535;
    color: #fff;
    border: 2px solid #00d791;
    margin: 5px;
    border-radius: 5px;
    padding: 5px 8px;
    outline: none;
}
ul.cr-banquet-tickets input,
.cr-event-container .cr-event-right input,
.cr-additional-container .cr-additional-lunch input {
	background: #353535;
    color: #fff;
    border: 2px solid #00d791;
    margin: 5px;
    border-radius: 5px;
    padding: 5px 8px;
    outline: none;
    width: 60px;
}

/*
*	CONTAINER
*/
.cr-container {
	max-width: 1400px;
}
.cr-contanier p {
	text-align: justify;
}
.popover { color: black;}
.has-popover.hover-mark {
	border-bottom: 1px dotted white;
	cursor: pointer;
}
span.h-red { color :#ea2c49; }
span.h-white { color :#fff; }
span.h-green { color :#00d791; }
.has-popover.hover-mark.h-red {
	border-bottom-color: #ea2c49;
}
.pretty-label {
	font-family: 'Bebas Neue', sans-serif; 
	font-size: 18px;
    font-weight: normal;
}
.divider {
	width: 3px;
	height: 100%;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 0;
}

/*
 *	GENERAL NAVIGAITON STYLE
 */
.cr-nav-common {
 	position: fixed;
 	left: 0;
	background: #252525;
	width: 100%;
	z-index: 10;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Bebas Neue', sans-serif;
	font-size: 21px;
	padding: 10px;
 }
/*
 *	TOP BAR NAVIGAITON
 */
.cr-nav-top {
	top: 0;
}
/* removing background color and border on tabs */
.nav-tabs.cr-nav-top { border: none; }
.nav-tabs.cr-nav-top > li > a,
.nav-tabs.cr-nav-top > li > a:hover,
.nav-tabs.cr-nav-top > li.active > a,
.nav-tabs.cr-nav-top > li.active > a:hover,
.nav-tabs.cr-nav-top > li.active > a:focus {
	background: transparent;
	border: none;
}
/* making list items in top bar centered */
li.nav {
	float: none;
	display: inline-block;
}
.nav-tabs.cr-nav-top > li > a {
    color: #898989;
}
.nav-tabs.cr-nav-top > li.active > a { color: #157d59; }


/*
*	BOTTOM BAR NAVIGATION (SAVE/NEXT BUTTONs)
*/

.cr-nav-bottom {
	bottom: 0;
	padding: 20px;
}

.cr-nav-bottom .btnBack {
	float: left;
}
.cr-nav-bottom .btnNext {
	float: right;
}

.cr-nav-bottom .invisible {
	visibility: none;
	opacity: 0;
}

/*
*	GENERAL TAB CONTENT
*/
.cr-tab-content {
	margin-top: 90px;
	margin-bottom: 110px;
}
/*
*	TAB: BASKE KIT; *********************************
*/
/* flexbox fix to make column equal height */
.cr-basekit .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.cr-basekit .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.cr-container-basekit {
	background: #353535;
	padding: 15px;
	height: 100%;
}
.cr-container-basekit ul li {
	margin-top: 5px;
}
.cr-sustainability {
	position: relative;
    top: 25%;
}
.cr-basekit-mandatory {
	margin-bottom: 20px;
}

/*
*	TAB: ROOMS; *********************************
*/
.cr-rooms {
	position: relative;
}
.cr-rooms, 
.cr-rooms label {
	font-weight: normal;
}
.cr-rooms ul {
	list-style: none;
}
.cr-rooms li {
	display: inline-block;
	width: 49%;
	position: relative;
}
.cr-rooms h3 {
	font-size: 3.5em;
	text-align: center;
	padding-bottom: 120px;
}
.cr-rooms h3,
.cr-rooms p {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
.cr-rooms p.confirm-title {
	font-family: 'Bebas Neue', sans-serif;
	font-size: 1.7em;
	border-bottom: 2px solid #00d791;
	margin-top: 40px;
	cursor: pointer;
}
.cr-rooms li:nth-child(2) h3,
.cr-rooms li:nth-child(2) p.product-description {
	position: relative;
	top: -20px;
}
.cr-rooms input {
	position: absolute;
	right: 12.5%;
	bottom: 59px;
	cursor: pointer;
}
.cr-rooms .room-price {
	text-align: right;
    margin-right: 12.5%;
}
.cr-rooms p.product-description {
}
.cr-rooms img {
	/*width: 250px;*/
	height: 100px;
	position: absolute;
	top: 60px;
}
.cr-rooms img.logo-diversity {
	/*width: 200px;*/
	left: 25%;
	margin-left: -33px;
}
.cr-rooms img.logo-sustainability {
	/*width: 100px;*/
	right: 25%;
	margin-right: -30px;
}
.divider.rooms {
	width: 3px;
	height: 100%;
	background: #fff;
	position: absolute;
	left: 50%;
	top: 0;
	transform:rotate(6deg);
	-moz-transform:rotate(6deg);
	-webkit-transform:rotate(6deg);
}

/*
*	TAB: EVENTS; *********************************
*/
.cr-event-container {
	background: #353535;
    width: 70%;
    margin: 20px auto;
    padding: 20px 30px;
    border-radius: 5px;
}
.cr-event-container h3 {
	font-family: 'Bebas Neue', sans-serif; 
	font-size: 3em;
	color: #ea2c49;
	text-transform: uppercase;
	margin-top: 0;
    margin-left: -30px;
    padding-left: 30px;
	display: inline-block;
    border-bottom: 2px solid #ea2c49;
}
.cr-event-left, 
.cr-event-right {
	display: inline-block;
}
.cr-event-left {
	width: 60%;
}
.cr-event-right {
	text-align: right;
    width: 39%;
    vertical-align: bottom;
}
.cr-event-right input {
	color: #000;
	width: 49px;
    padding: 3px 5px;
    border: none;
    border-radius: 3px;
}
/*
*	TAB: BANQUET; *********************************
*/
/* flexbox fix to make column equal height */
.cr-banquet .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.cr-banquet .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.cr-banquet-purchase {
	border-left: 2px solid #00d791;
}
ul.cr-banquet-tickets {
	margin-top: 30px;
}
ul.cr-banquet-tickets h3 {
	font-size: 1.4em;
}
ul.cr-banquet-tickets li {
	padding: 10px;
	margin: 5px 0;
}
ul.cr-banquet-tickets li:nth-child(odd) {
	background: #353535;
}
/*
*	TAB: STURE; *********************************
*/

#sture p {
	text-align: justify;
}

/*
*	TAB: NOVA *********************************
*/
/* flexbox fix to make column equal height 
.cr-nova .row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.cr-nova .row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}*/
.cr-container-nova {
	height: 100%;
	overflow: visible;
	position: relative;
}
/* column that wraps double column */
.cr-nova > div > div {
	position: relative;
}
.cr-container-nova-left {
	padding-bottom: 40px;
}
.cr-nova-col {
	position: static;
}
ul.nova-info ul {
    border: 2px solid #ea2c49;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 30px;
}
ul.nova-info ul li {
	
}
.cr-container-nova ul#id_product_selection_nova { 
	list-style: none;
	padding-left: 0;
	margin-bottom: 0px;
	overflow: visible;
}
.cr-container-nova h4.confirm-title {
	border-bottom: 2px solid #00d791;
	cursor: pointer;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
}
.cr-container-nova #id_product_selection_nova_0 {
	position: absolute;
	bottom: 20px;
	right: 10px;
}

.cr-container-nova p {
	text-align: justify;
}

/*
*	TAB: EXHIBITOR PROFILE *********************************
*/
.cr-container-profile {
	text-align: left;
	width: 90%;
}
.cr-container-profile h2 {
	text-align: center;
	font-size: 4em;
	color: #00d791;
}
.cr-container-profile h4 {
	margin-top: 15px;
}
.cr-container-profile label {
	cursor: pointer;
}
.cr-container-profile input#id_logo {
	background: #353535;
	color: #fff;
	width: 100%;
	padding: 30px;
}
.cr-profile .divider {
	display: none;
}
.cr-profile .divider.left {
	left: 31%;
	transform:rotate(12deg);
	-moz-transform:rotate(12deg);
	-webkit-transform:rotate(12deg);

}
.cr-profile .divider.right {
	left: 67%;
	transform:rotate(-12deg);
	-moz-transform:rotate(-12deg);
	-webkit-transform:rotate(-12deg);
}
#id_facts_text {
	height: 70px;
}

/*
*	TAB: ADDITIONAL SERVICES *********************************
*/
.cr-additional-services .col-md-6,
.cr-additional-services .col-md-7,
.cr-additional-services .col-md-5 {

}
.cr-additional-container {
	background: #353535;
    border-radius: 5px;
    padding: 15px;
    min-height: 270px;
    margin-bottom: 24px;
}
.cr-additional-container h3 {
	font-size: 2em;
	color: #00d791;
	margin-top: 0;
}
.cr-additional-container h4 {
	font-size: 1.5em;
}
.cr-additional-container input {
	margin-left: 10px;
	margin-top: -4px;
}
.cr-additional-container label { 
	font-weight: normal; 
}

/* hides possible product description */
.cr-additional-container .product-description {
	display: none;
}
/* styling for a checkbox, or in practice on/off button */
.btn-armada-checkbox, 
.btn-armada-checkbox:hover {
	border: 2px solid #00d791;
	background: transparent;
	color: #fff;
}
.btn-armada-checkbox {
	margin: 5px;
}
input[type=checkbox]:checked + .btn-armada-checkbox,
input[type=radio]:checked + .btn-armada-checkbox {
	background: #00d791;
	color: #353535;
}
.cr-additional-container input[type=checkbox],
.cr-additional-container input[type=radio] { }
/* additoinal stand area drop down */
.cr-additional-container select {
    width: 50%;
    margin: 5px auto 5px -25%;
    position: relative;
    left: 50%;
}
/* additional stand area HEIGHT */
ul#id_product_selection_additional_stand_height,
ul.additional_stand_height {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
ul#id_product_selection_additional_stand_height li,
ul.additional_stand_height li {
	display: inline-block;
	width: 46%;
	margin-left: 5px;
	margin-right: 5px;
}
ul#id_product_selection_additional_stand_height label,
ul#id_product_selection_additional_stand_height label span,
ul.additional_stand_height label,
ul.additional_stand_height label span {
	width: 100%;
}
/* Additoinal lunch tickets*/
.cr-additional-lunch {
	list-style: none;
	padding-left: 25px;
}
.cr-additional-lunch select {
	left: 0;
    margin-left: 10px;
    width: 65px;
}
.cr-additional-lunch .cr-allergies input {
	background: #fff;
	border: none;
	color: #000;
	width: 150px;
}
.cr-additional-container textarea {}
/* contact me about box */
.cr-additional-checkboxes label { 
	width: 46%;
	min-height: 65px;
    line-height: 65px;
}
.cr-additional-checkboxes label span {
	display: inline-block;
	white-space: normal;
	line-height: 110%;
	vertical-align: middle;
}
.cr-additional-checkboxes input {
	display: none;
}
/* electrical outlets box */
.cr-additional-container-electrical {
	min-height: 562px;
}
.cr-additional-electrical {
	list-style: none;
	padding: 15px;
	border: 2px solid #00d791;
	border-radius: 5px;
}
.cr-additional-electrical li {
	margin-top: 5px;
}


/*
*	TAB: LOGISTICS *********************************
*/
.cr-logistics-container {
	background: #353535;
    border-radius: 5px;
    padding: 15px;
    min-height: 270px;
    margin-bottom: 24px;
}
.cr-logistics-container ul {
	list-style: none;
}
.cr-logistics-container-transport {
	min-height: auto;
}
.cr-logistics-container h4 .h-white {
	border-bottom: 1px solid #fff;
}

#id_requests_for_exhibition_area > li:nth-child(1) > label, 
#id_requests_for_stand_placement > li:nth-child(1) > label {
	display: none;
}
.cr-transport-input {
	border-top: 2px solid #00d791;
	padding-top: 15px;
	margin-top: 15px;
}
.cr-transport-input li {
	padding: 8px 0;
}
.cr-transport-input input{
	float: right;
	margin-top: -2px;
	width: 90px;
}
.cr-logistics-container select {
	width: 150px;
    float: right;
    margin-top: -7px;
}
.cr-logistics-additional {
	text-align: center;
    padding: 15px;
}
.cr-logistics-additional select {
	float: none;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

/*
*	TAB: CONFIRM AND SAVE *********************************
*/
.cr-container-confirm {
	background: #353535;
	padding: 30px;
}
.cr-container-confirm h3 {
	margin-top: 50px;
}
.toggleEdit { 
	color: #ea2c49; 
	cursor: pointer;
}

/* a form that's not editable */
.no-editable-form h5 {
	display: inline-block;
}
.no-editable-form li {
	border-bottom: 1px solid #fff;
	width: 85%;
	padding-top: 5px;
	padding-bottom: 0px;
}
.no-editable-form input,
.no-editable-form .input-field,
.no-editable-form select {
	background: none;
	border: none;
	color: #fff;
	float: right;
}
.no-editable-form input::placeholder {
	color: #fff;
}
.no-editable-form .input-field {
	margin-top: 2px;
}
.no-editable-form .input-field input {
	float: none;
	display: block;
}
.no-editable-form li.address {
	border: none;
	padding-bottom: 15px;
}
.no-editable-form li.address .input-field {
	border: 2px solid #00d791;
	border-radius: 5px;
	text-align: left;
	width: 50%;
    float: none;
    margin-left: -50%;
    margin-top: -32px;
    position: relative;
    left: 100%;
}
/* a form that is editable */
.editable-form h5 {
	display: inline-block;
	width: 32%;
	vertical-align: top;
}
.editable-form .input-field {
	width: 65%;
	display: inline-block;
}
.editable-form .input-field input {
	width: 100%;
	margin-top: -3px;
}
.editable-form .input-field {
	margin-top: 10px;
	margin-bottom: 10px;
}
.editable-form select {
	padding-left: 0;
	margin-left: 0;
}
.editable-form .input-field-address input {
	width: 76%;
	margin-top: -3px;
	margin-bottom: 9px;
}
.editable-form #id_address_street {
	width: 100%;
}
.editable-form #id_address_city,
.editable-form #id_address_zip_code {
	width: 38%;
}

@media all and (max-width: 1137px) {
  .cr-tab-content {
  	margin-top: 135px;
  }
}
/* exhibitor profile */
@media all and (max-width: 992px) {
  .cr-profile .divider {
  	display: none;
  }
  .cr-profile h2 {
  	margin-top: 30px;
  }
  .cr-profile p { 
  	text-align: center;
  }
  .cr-profile input {
  	margin-left: auto;
  	margin-right: auto;
  }
} 

.modal-content {
	background-color: #2D2D2D;
}