.important-text {
	font-size: 2em;
}

.less-important-text {
	font-size: 1.5em;
}

.login-welcome {
	color: #fff;
}

.password-text {
	font-size: 100px;
	padding: 0px;
	color: #ff00ff;
	display: none;
}

.bigger-button {
	font-size: 1.35em;
}
.bigger-button:hover, .bigger-button:focus {
	color: #fff;
	background: #00b771;
	border:none;
}
