
/*
* CSS for following templates:
*  			register/home.html
*			register/login.html
*			register/reset_password.html
*			register/reset_password_confirm.html
*			register/reset_password_done.html
*/
	


/*
* 	GENERAL
*/

@font-face {
  font-family: "Bebas Neue";
  src: url("./fonts/BebasNeue-Regular.otf");
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf");
}

body {
	background: #2D2D2D;
	color: white;
}

h1,h2,h3,h4, .input, .forgot-password, .btn-green, .box-danger, .important, .mail-name, .mail-role {
	font-family: 'Bebas Neue', sans-serif; 
	text-transform: uppercase;	
}

h2 {
	font-size: 42px;
	margin-top: 2px;
	margin-bottom: 30px;
}

h1, .text-highlight {
	text-align: center;
	color: #00b276;
}

h1 {
	font-size: 90px;
}

.btn-green:hover, .btn-green:focus {
	display: block;
	color: #333;
	background: #00b276;
	border: none 
}

.btn-green {
	background-color: #00d791;
	color: #fff;
	border: none;
	font-size: 21px;
	padding: 6px 22px;
	border-radius: 5px;
}

form {	
    padding: 25px;
}


/*
* LOGIN SPECIFIC
*/

.headline {
	margin: 0 auto;
    width: 555px;
    text-align: center;
}

.form-container {
	margin: 0 auto;
    text-align: center;
    width: 300px;
}

.input {
	height: 37px;
	font-size: 21px;
	border-radius: 5px;
	margin-bottom: 20px;
	padding-bottom: 2px;
}

.btn-signin {
	height: 60px;
	width: 100%;
}

.forgot-password {
	display: block;
	text-align: center;
	font-size: 21px;
	color: #fff;
	width: 300px;
    padding: 25px;
	text-decoration: underline;
}

.forgot-password:hover {
	color: #b7b7b7;
}


/*
*	HOME SPECIFIC
*/

.important {
	text-align: center;
	font-size: 21px;
}

.box-danger {
	text-align: center;
	font-size: 21px;
	width: 30%;
	padding: 20px;
	margin: 20px auto;
	border: solid;
	border-color: #a94442;
	border-radius: 5px;
}

.text-danger {
	font-color: #a94442;
}

.mail-container {
	margin: 10px auto;
  	position: relative;
  	text-align: center;
}

.mail {
	display: inline-block;
	text-align: left;
	margin: 10px;
	color: #00b276;
	padding: 10px;
}

.mail-ref {
	color: #00b276;
}

.mail-name {
	font-size: 21px;
	margin: 0px;
}

.mail-role {
	font-size: 15px;
	margin: 0px;
}

.armada-ship-green {
	position: absolute;
	display: inline-block;
	float: left;
	bottom: 0px;
	left: 10px;
}

.btn-start {
	float: right;
	width: 100px;
	position: absolute;
	display: inline-block;
	bottom: 30px;
	right: 30px;
}


/*
* RESET PASSWORD
*/

.reset-text {
	text-align: center;
}