body {
	background-color: #2d2d2c;
	color: #000;
}

@font-face {
	font-family: "Bebas Neue";
	src: url("./fonts/BebasNeue-Regular.otf");
}

@font-face {
	font-family: "Lato";
	src: url("./fonts/Lato-Regular.ttf");
}

p {
	font-family: "Lato";
	font-size: 1.3em;
}

input {
	font-family: "Lato";
	font-size: 4em;
	max-height: 100px;
	margin-top: 5px;
}


h1 {
	font-family: "Lato";
	font-size: 4em;
}

h2,
h3,
h4 {
	font-family: "Bebas Neue";
	font-size: 3em;
}

h5 {
	font-family: "Bebas Neue";
	font-size: 2em;
}

label {
	font-family: "Lato";
	font-size: 1.3em;
}

.container {
	background-color: #fff;
	padding-left: 10em;
	padding-right: 10em;
	padding-bottom: 10em;
	margin-top: 4em;
	margin-bottom: 4em;
	border-radius: 0px 0px 4px 4px;
	border-top: 4px solid #00d790;
	border-bottom: 4px solid #00d790;
}

.container-fluid {
	background-color: #fff;
	border-radius: 4px;
	border-top: 4px solid #00d790;
	padding-bottom: 10em;
}

.container-attention {
	border-top: 2em solid #e73953;
}

.main-logo {
	max-width: 100%;
	padding-top: -1200px;
	margin-left: auto;
	margin-right: auto;
}

.main-logo-small {
	max-width: 100%;
	padding-top: 30px;
}

.form-holder,
.endings {
	margin-top: 4em;
}

.header-row {
	margin-top: 20px;
}

a,
a:hover,
a:active,
a:visited {
	color: #00d790;
}

.btn-success,
.btn-success:hover,
.btn-success:active {
	background-color: #00d790;
	border-color: #00b570;
}

.btn-melon,
.btn-melon:hover,
.btn-melon:active {
	background-color: #e73953;
	border-color: #c51731;
	color: #fff;
}

.attention,
.attention:hover,
.attention:active,
.attention:visited {
	color: #e73953;
	text-decoration-color: #e73953;
}

.armada-green {
	color: #00d790;
	text-decoration-color: #00d790;
}

.spacer {
	padding-top: 4em;
}

.login-link {
	text-align: center;
}

.welcome-text {
	text-align: center;
}

label[for="id_agreement_accepted"] {
	margin-left: 0px;
	position: absolute;
}

#id_agreement_accepted {
	margin-left: -20px;
	margin-top: -0.5em;
}

#info-required {
	text-align: right;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: #00d790;
}

.form-step {
	display: none;
	width: inherit;
	position: relative;
}

#activeStep {
	display: block;
}

#company-list {
	position: absolute;
	visibility: hidden;
	font-size: 1.2em;
	margin-bottom: 15px;
	background-color: #fdfdfd;
	z-index: 10;
	width: 100%;
}

#company-list div {
	padding: 15px;
}

#company-list a:hover {
	cursor: pointer;
}

.form-step:first-of-type input {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/55/Magnifying_glass_icon.svg");
	background-size: 13px;
	background-repeat: no-repeat;
	background-position: 10px center;
	padding: 7px 8px 7px 30px;
}

#company-confirmation-title {
	font-weight: bold;
}