.margin-top5 {
    margin-top: 5px;
}

.nav-tabs-margin {
    margin-bottom: 15px;
}

/* Remove rounded corners from navbar */
.navbar-inverse {
    border-radius: 0 !important;
}

.navbar-brand img {
    opacity: 0.6;
}

.navbar-brand:hover img {
    opacity: 1;
    animation: sailing linear 0.9s infinite;
}

.navbar-collapse.collapse {
    display: flex !important;
}

.nav.navbar-nav {
    overflow-x: scroll;
    display: flex;
    white-space: nowrap;
}

.nav.navbar-nav {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.nav.navbar-nav::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.navbar-right {
    white-space: nowrap;
}

@keyframes sailing {
    25% {
        transform: rotate(20deg) translate(0, -2px);
    }
    50% {
        transform: translate(0, -4px);
    }
    75% {
        transform: rotate(-20deg) translate(0, -2px);
    }
}
