{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-people %}<li role="presentation" class="active"><a href="{% url 'people:list' fair.year %}">Contacts</a></li>{% endblock %}

{% block content %}
	<h1>{{ user }}{% if role %} <small>{{ role }}</small>{% endif %}</h1>
	
	<form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form | crispy }}
		<input type="submit" class="btn btn-primary" value="Save profile" />
	</form>

	<br>
	<form method="POST" action="{% url 'people:profile_delete' fair.year user.pk %}">
	{% csrf_token %}
	<input type="submit" class="btn btn-danger" value="Delete profile" onclick="return confirm('Are you sure that you want to delete your profile? This means that all your data will be erased from Armada and cannot be restored. This means that if you want to use Armada in the future, you will have to create a new profile.')" />
	</form>
	</br>
{% endblock %}

