{% extends "base.html" %}

{% block nav-people %}<li role="presentation" class="active"><a href="{% url 'people:list' fair.year %}">Contacts</a></li>{% endblock %}

{% block content %}
	<h1>Contacts</h1>
	
	{% for organization_group in organization_groups %}
		{% if organization_group.name %}<h2>{{ organization_group.name }}</h2>{% endif %}
		
		<table class="table table-striped">
			<tr>
				<th class="text-uppercase" style="width: 25%">Name</th>
				<th class="text-uppercase" style="width: 25%">Role</th>
				<th class="text-uppercase text-right" style="width: 25%">Phone number</th>
				<th class="text-uppercase text-right" style="width: 25%">E-mail address</th>
			</tr>
			
			{% for user in organization_group.users %}
				<tr>
					<td><a href="{% url 'people:profile' fair.year user.profile.pk %}">{{ user }}</a></td>
					<td>{{ user.delegated_role }}</td>
					<td class="text-right">{% if user.profile.phone_number %}<a href="tel:{{ user.profile.phone_number }}">{{ user.profile.phone_number }}</a>{% endif %}</td>
					<td class="text-right"><a href="mailto:{{ user.user.email }}">{{ user.user.email }}</a></td>
				</tr>
			{% endfor %}
		</table>
	{% endfor %}
{% endblock %}
