BEGIN:VCALENDAR
PRODID:{{ profile.token }}
VERSION:2.0
CALSCALE:GREGORIAN
{% for interview in interviews %}{% if interview.slot %}BEGIN:VEVENT
DTSTAMP:20180101T000000Z
UID:{{ interview.pk }}
SUMMARY:Interview with {{ interview.user.first_name }} {{ interview.user.last_name }}
DTSTART:{{ interview.slot.start_iso8601 }}
DTEND:{{ interview.slot.end_iso8601 }}
LOCATION:{{ interview.slot.location }}
DESCRIPTION:Interview with {{ interview.user.first_name }} {{ interview.user.last_name }}
STATUS:CONFIRMED
SEQUENCE:0
END:VEVENT
{% endif %}{% endfor %}END:VCALENDAR
