{% extends "base.html" %}

{% block nav-sales %}<li role="presentation" class="active"><a href="{% url 'sales' %}">Sales</a></li>{% endblock %}

{% block content %}

	<div class="page-header", class="col-md-12">
		<h1>{{company_name}} <small>{{sale.campaign}} </small></h1>
	</div>
	<div class="col-md-9">
		{% for comment in comments %}
		<div class="panel panel-default">
			<div class="panel-heading">
			    <h5 class="panel-title">{{comment.created_date}} {{comment.user.first_name}} {{comment.user.last_name}}</h5>
			</div>
			<div class="panel-body">
				<ul class="list-unstyled">
			    <li> {{ comment.comment }}</li>
			    </ul>
			</div>
		</div>
		{% endfor %}
	</div>

	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
			    <h3 class="panel-title">Properties</h3>
			</div>
			<div class="panel-body">
				<ul class="list-unstyled">
			    <li> Status: {{ sale.status }}</li>
			    <li> Responsible: {{ user_info }}</li>
			    </ul>
			</div>
		</div>
	</div>

	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading">
			    <h3 class="panel-title">Contacts</h3>
			</div>
			<div class="panel-body">
			{% for contact in company_contacts %}
			    <ul class="list-unstyled">
			    <li> <strong>{{ contact.name }}</strong></li>
			    <li> {{ contact.title }}</li>
				<li> {{ contact.cell_phone }}</li>
			    <li> {{ contact.work_phone }}</li>
			    <li> {{ contact.email }}</li>
			    <li>	</li>
			    </ul>
			{% endfor %}
			</div>
		</div>
	</div>
    </div>

	<div class="container">			
		<div>
			<a href="{{ request.META.HTTP_REFERER }}" type="button" class="btn btn-default">Back</a>
		</div>
	</div>
{% endblock %}
