{% extends "base.html" %}

{% block nav-sales %}<li role="presentation" class="active"><a href="{% url 'sales' fair.year %}">Sales</a></li>{% endblock %}


{% block content %}
	<div class="container">
	<div class="alert alert-warning">
		<div><strong>Warning!</strong> You are about to delete this sale, are you sure?</div>
		<div class="btn-toolbar">
			<div class="btn-group">
			<form method="post">
				{% csrf_token %}
				<input type="submit" value="Yes, delete this sale" type="button" class="btn btn-danger"/>
			</form>
			</div>
			<div class="btn-group">
			<div>
				<a href="{{ request.META.HTTP_REFERER }}" type="button" class="btn btn-default">No, take me back!</a>
			</div>
			</div>
		</div>
	</div>
	<h1>{{ sale.exhibitor.company.name }}</h1>
	</div>
{% endblock %}
