<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8"> {% include "header.html" %} {% block head-extra %}{% endblock %}
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'login-home.css' %}" rel="stylesheet" media="screen">
      <link href="{% static 'complete_registration.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'js/setmobile.js' %}" type="text/javascript" charset="utf-8" async defer></script>
</head>

<body>
{% block content %} {% endblock %}
</body>
</html>
