{% load i18n %}{% autoescape off %}
{% blocktrans %}This is a confirmation of your submit to complete registration for user {{ username }} at {{ site_name }}.{% endblocktrans %}

{% blocktrans %}
Your ordered products:
{% endblocktrans %}
	{% trans "Base kit" %} : {{ base_price }}
	{% for product in bool_products %}{{ product.name }} : {{ product.price }}
	{% endfor %}{% for item in num_products %}{{ item.name }} x {{ item.amount }} : {{ item.price }}
	{% endfor %}
{% trans "Total price:" %}{% blocktrans %} {{ total_price }} SEK{% endblocktrans %}

{% trans "Thanks for your money!" %}
{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
	{% endautoescape %}
