{% load i18n %}{% autoescape off %}
{% blocktrans %}This is a confirmation of your submit to complete registration for user {{ username }} at {{ site_name }}.{% endblocktrans %}

{% blocktrans %}
Your ordered products:
{% endblocktrans %}
	{% trans "Base kit"|ljust:name_len %}{{ ""|ljust:amount_len }}    : {{ base_price }}
	{% for product in bool_products %}{{ product.name|ljust:name_len }}{{ ""|ljust:amount_len }}    : {{ product.price }}
	{% endfor %}
	{% for item in num_products %}{{ item.amount|ljust:amount_len }} x {{ item.name|ljust:name_len }} : {{ item.price }}
	{% endfor %}
{% trans "Total price:" %}{% blocktrans %} {{ total_price }} SEK{% endblocktrans %}

{% trans "Thanks for your money!" %}
{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
	{% endautoescape %}
