{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
	{% include "header.html" %}
	{% block head-extra %}{% endblock %}
  </head>
<body>

<div class="container" style="max-width: 500px">
    <img style="width: 100%; margin-top: 100px;" src="{% static 'images/THS_armada_logga.png' %}" alt="Armada Ship" style="max-height: 20px">

<h1> Welcome {{contact.name}} from {{company.name}} </h1>
<p> On this page you can edit your company info and register your company for a fair </p>

{% if signed_up %}
    <h2> You are signed up for {{ fair.name }} </h2> 
    <p> If you have any questions, please email: armada@ths.kth.se </p>
{% else %}
    <h2> Sign up for {{fair.name}}!</h2>

    <a href={{contract_url}}>Read the contract here</a>
    <form method="post">{% csrf_token %}
        {{ form | crispy }}
        <input type="submit" value="Sign Up!" />
    </form>
{% endif %}

<h2> Your contact info </h2>
<h3> Name </h3>
<p> {{contact.name}} </p>
<h3> Email </h3>
<p> {{contact.email}} </p>
<h3> Phone number </h3>
<p> {{contact.phone_number}} </p>
<h3> Organisation </h3>
<p> {{company.name}} </p>
<a href="{% url 'anmalan:edit_me' %}/?next={{request.path}}">Edit your contact info</a> </br>
<a href="{% url 'anmalan:logout' %}">Log out</a> </br>

</div>
</body>
</html>
