{% load crispy_forms_tags %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8"> {% include "header.html" %} {% block head-extra %}{% endblock %}>
    <link href="{% static 'bootstrap.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'login-home.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'js/setmobile.js' %}" type="text/javascript" charset="utf-8" async defer></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> Welcome to {{ fair }}! </h1>
             </div>
             <svg class="armada-ship-green" viewBox="50 90 200 200" width="100px" height="180px" version="1.1">
                  <image xlink:href="{% static 'images/armada_logo_text_left_green.svg' %}" alt="Armada" height="300px" width="700px"/>
              </svg>

        </div>
        <div class="row header-row">
            <div class="col-md-12">
              <a href={{contract_url}}>Read the contract here</a>
                <p class="box-danger">The complete registration for THS Armada 2017 is open between <span class="text-danger">1st of July 00:01 and 4th of September 23:59</span></p>
            </div>
        </div>
        <div class="row">
            <p>Make sure the form is completed and sent in before the last date of registration. It is possible to start with the form, save it by clicking "Save" in the right bottom corner, and then continue later. The questions in the form are divided into 10 pages and you can fill out the information in any order you like. Questions marked with (*) are mandatory.</p>
            <p>Some information in this form may be copied from your profile. Please check this information so that it is updated for THS Armada 2017. Your registration is completed when you click on the button "Submit" in the right bottom corner. When you have submitted the application you will receive a confirmation e­mail as soon as the application has been approved.</p>
            <p class ="text-danger"> Please note that the complete registration is binding and you will be liable for all additional services chosen, provided that Armada is be able to supply your organisation with your choices.</p>
        </div>
        <div class="row spacer">
            <div class="col-md-12 mail-container">
              <div class="mail">
                <p class="mail-name">Lovisa Westerlund</p>
                <p class="mail-role">Project Manager</p>
                <a class = "mail-ref" href="mailto:armada@ths.kth.se">armada@ths.kth.se</a><br/>
                +46 70 790 98 44
              </div>
            </div>
        </div>
    </div>
      </body>

</html>
