{% load crispy_forms_tags %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8"> {% include "header.html" %} {% block head-extra %}{% endblock %}
    <link href="{% static 'complete_registration.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'js/setmobile.js' %}" type="text/javascript" charset="utf-8" async defer></script>
</head>

<body>
    <div class="container">   
        <div class="row">
            <div class="headline">
                <svg viewBox="305 16 320 150" width="555px" height="250px" version="1.1">
                    <image xlink:href="{% static 'images/armada_logo_text_left_green.svg' %}" alt="Armada" height="250px" width="780px"/>
                </svg>
                <h2>Final registration for ths armada 2017 </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center form-container">
                    <a href="{% url 'anmalan:login' %}" class="btn-signin btn-green">Sign in</a>
                    <div>
                        <svg viewBox="50 50 200 200" width="100px" height="100px" version="1.1">
                            <image xlink:href="{% static 'images/armada_logo_text_left_green.svg' %}" alt="Armada" height="300px" width="700px"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</body>

</html>
