{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8"> {% include "header.html" %} {% block head-extra %}{% endblock %}
    <link href="{% static 'registration_style.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'js/setmobile.js' %}" type="text/javascript" charset="utf-8" async defer></script>
</head>

<body>
    <div class="container">
        <div class="row image-holder">
            <div class="col-md-12">
                <img src="{% static 'images/armada_logo_text_left_black.svg' %}" alt="Armada Ship" class="main-logo">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="welcome-text">With over 12,000 people visiting the fair, THS Armada offers you a unique opportunity to connect with top students in engineering and architecture at KTH. Ranked as one of the best universities in engineering and technology, KTH has a great talent pool within engineering and technology and THS Armada is the way to reach them. We offer a great opportunity to provide knowledge about your organization and differentiate yourself from your competitors. Read the invitation again here: <a href="http://armada.nu/static/i17.pdf"> Armada 2017 Invitation</a></p>
            </div>
        </div>
        <div class="row spacer">
            <div class="col-md-6">
                <a href="{% url 'anmalan:index' %}" class="login-link" style="color:#D3D3D3";><h3><strike>Create a new user</strike></h3></a>
                <p class="welcome-text" style="color:#D3D3D3">
                  Last day to register for the fair was on the 23rd of May
                </p>
            </div>
            <div class="col-md-6">
                <a href="{% url 'anmalan:login' %}" class="login-link" ><h3>Log in with existing user</h3></a>
            </div>
        </div>
    </div>
</body>

</html>
