{% load crispy_forms_tags %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8"> {% include "header.html" %} {% block head-extra %}{% endblock %}
    <link href="{% static 'registration_style.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'js/setmobile.js' %}" type="text/javascript" charset="utf-8" async defer></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img src="{% static 'images/armada_logo_text_left_black.svg' %}" alt="Armada Ship" class="main-logo">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>Exhibitor - Log in </h1>
            </div>
        </div>
        <!-- Company registration closed, uncomment to allow and change link 
        <div class="row">
            <div class="col-md-12">
                <p><i> If this is your first time using our new 2017 registration page, please <a href="{% url 'anmalan:index' %}" class="login-link %}"><strike>create a new company user</strike> </a> as your first step.</i></p>
            </div>
        </div> -->
        <div class="row">
          <div class="col-md-12">
            <form method="post">
                {% csrf_token %} {{ form|crispy }}
                <input type="hidden" name="next" value='/register/home' />
                <button class="btn btn-success">Log in</button>
                <a href="{% url 'anmalan:index' %}"><button type="button" class="btn btn-default">Back</button></a>
            </form>
          </div>
        </div>
    </div>
</body>

</html>
