{% load staticfiles %}
<div class="registration-container">
  <!-- Tabs -->
  <ul class="nav nav-tabs cr-nav-common cr-nav-top">
      <li class="nav">
          <div class="nav-logo">
              <svg  viewBox="200 50 500 120" width="80px" height="38px" version="1.1">
                  <image xlink:href="{% static 'images/armadalogo.svg' %}" alt="Armada" height="230px" width="700px"/>
              </svg>
          </div>
      </li>

      <!-- Only show these tabs after preliminary registration -->
      {% if signed_up and contact.confirmed %}
          <li class="nav active" id="start-li"><a href="#start" data-toggle="tab">Start</a></li>
          <li class="nav"><a href="#exhibitor-profile" data-toggle="tab">Exhibitor Profile</a></li>
          {% if survey_form %}
              <li class="nav"><a href="#matching" data-toggle="tab">Student Matching</a></li>
          {% endif %}
      {% endif %}

      {% if contact.confirmed and complete_registration_open %}
        <!-- not possible to use paretheses in template expressions -->
        <li class="nav"><a href="#product-info" data-toggle="tab">Product Information</a></li>
        <li class="nav"><a href="#products" data-toggle="tab">Products</a></li>
        <li class="nav"><a href="#additional-services" data-toggle="tab">Monter</a></li>
        <li class="nav"><a href="#logistics" data-toggle="tab">Logistics</a></li>
        <li class="nav" id="confirm-li"><a href="#confirm-and-submit" data-toggle="tab">Confirm &amp; Submit</a></li>
      {% endif %}

      {% if contact.confirmed and complete_registration_closed %}
        <li class="nav"><a href="#product-info" data-toggle="tab">Product Information</a></li>
        <li class="nav"><a href="#additional-services" data-toggle="tab">Monter</a></li>
        <li class="nav"><a href="#logistics" data-toggle="tab">Logistics</a></li>
        <li class="nav"><a href="#summary" data-toggle="tab">Summary</a></li>
      {% endif %}

        <li class="nav pull-right"><a href="{% url 'anmalan:logout' %}">Logout</a></li>
    </ul>
</div>
