{% extends "register/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %} 
{% block content %}

{% include 'register/registration_nav.html' %}
      
<div class="container tab-content cr-tab-content">
    {% include 'register/tabs/start/start_tab.html' %}

    <!-- Only show these tabs after preliminary registration -->
    <!-- Note that this is the content, the tab needs to be activated in registration_nav.html as well -->
    {% if signed_up %}
        {% include 'register/tabs/profile_tab.html' %}
    {% endif %}

    {% if complete_registration_open or complete_registration_closed %}
        {% include 'register/tabs/base-kit.html' %}
        {% include 'register/tabs/rooms.html' %}
    {% endif %}


</div> 


    <script src="{% static 'js/jquery.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/complete_registration.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/setmobile.js' %}" type="text/javascript" charset="utf-8" async defer></script>

{% endblock %}
