{% load staticfiles %}{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8"> {% include "header.html" %} {% block head-extra %}{% endblock %}
    <link href="{% static 'login-home.css' %}" rel="stylesheet" media="screen">
</head>

<body>
    <div>
      <div class="headline">
          <svg viewBox="305 16 320 150" width="555px" height="250px" version="1.1">
            <image xlink:href="{% static 'images/armada_logo_text_left_green.svg' %}" alt="Armada" height="250px" width="780px"/>
          </svg>
      </div>
{% if validlink %}
       <div class="headline">
          <h3>Please enter your new password twice so we can verify you typed it in correctly</h3>
          <div class="form-container">
              <form method="post">{% csrf_token %} {{ form | crispy }}
                  <button type="submit" class="btn-green btn-signin">Reset Password</button>
              </form>
          </div>
      </div>
{% else %}
      <div class="center">
        <h3> The password reset link was invalid, possibly because it has already been used.</h3>
        <h3> Please request a new password reset.</h3>
      </div>

{% endif %}
      <div class="center">
        <svg viewBox="50 90 200 200" width="100px" height="180px" version="1.1">
            <image xlink:href="{% static 'images/armada_logo_text_left_green.svg' %}" alt="Armada" height="300px" width="700px"/>
        </svg>
      </div>
    </div>
</body>

</html>