{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-lunchtickets %}
	<li role="presentation" class="active"><a href="{% url 'fair:lunchtickets' fair.year %}">Lunch tickets</a></li>
{% endblock %}

{% block content %}
	<h1>Send over e-mail</h1>
	{% if sends %}
		<ul>
			{% for send in sends %}
				<li>Sent on {{ send.timestamp }} to <a href="mailto:{{ send.email_address }}">{{ send.email_address }}</a> by <a href="{{ send.user.pk }}">{{ send.user }}</a>.</li>
			{% endfor %}
		</ul>
	{% else %}
		<p>This lunch ticket has never been sent out via e-mail.</p>
	{% endif %}
	
	<a href="{% url 'fair:lunchticket_send' fair.year lunch_ticket.token %}" class="btn btn-primary">Send ticket to {% if lunch_ticket.user %} {{ lunch_ticket.user.email }} {% else %} {{ lunch_ticket.email_address }} {% endif %}</a>
	
	<h1>Manage lunch ticket</h1>
	<form method="post">
		{% csrf_token %}
		{{ form | crispy }}
		<input type="submit" class="btn btn-primary" value="Save changes" />
		<a href="{% url 'fair:lunchticket_remove' fair.year lunch_ticket.token %}" class="btn btn-danger pull-right" onclick="return confirm('Confirm the removal.');">Delete lunch ticket</a>
	</form>
{% endblock %}
