{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-exhibitors %}
	<li role="presentation" class="active"><a href="{% url 'exhibitors' fair.year %}">Exhibitors</a></li>
{% endblock %}

{% block content %}
	<ol class="breadcrumb">
		<li><a href="{% url 'exhibitors' fair.year %}">Exhibitors</a></li>
		<li class="active">Booths</li>
	</ol>
	
	<h1>Booth</h1>
	
	<form method="post">
		{% csrf_token %}
		{{ form | crispy }}
		<button class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save</button>
	</form>
	
	<p><br /></p>
	
	<div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th>Exhibitor</th>
					<th>Days</th>
					<th>Comment</th>
					<th style="text-align: right;">Options</th>
				</tr>
			</thead>
			
			<tbody>
				{% if eibs %}
					{% for eib in eibs %}
						<tr>
							<td><a href="{% url 'exhibitor' fair.year eib.exhibitor.pk %}">{{ eib.exhibitor.company.name }}</a></td>
							<td>
								{% for day in eib.days.all %}
									{{ day }} <br />
								{% endfor %}
							</td>
							<td>{% if eib.comment %} {{ eib.comment }} {% endif %}</td>
							<td style="text-align: right;">
								<a href="{% url 'exhibitor_in_booth_remove' fair.year booth.pk eib.exhibitor.pk %}" class="btn btn-danger">Remove</a>
								<a href="{% url 'exhibitor_in_booth_edit' fair.year booth.pk eib.exhibitor.pk %}" class="btn btn-default">Edit</a>
							</td>
						</tr>
					{% endfor %}
				{% else %}
					<tr><td colspan="4" style="text-align: center;">This booth has no exhibitors.</td></tr>
				{% endif %}
			</tbody>
		</table>
	</div>
	
	<a href="{% url 'exhibitor_in_booth_add' fair.year booth.pk %}" class="btn btn-primary">Assign an exhibitor to this booth</a>
{% endblock %}
