{% extends "base.html" %}

{% block nav-exhibitors %}
	<li role="presentation" class="active"><a href="{% url 'exhibitors' fair.year %}">Exhibitors</a></li>
{% endblock %}

{% block content %}
	<ol class="breadcrumb">
		<li><a href="{% url 'exhibitors' fair.year %}">Exhibitors</a></li>
		<li class="active">Booths</li>
	</ol>
	
	<h1>Booths ({{ booths|length }})</h1>
	
	<div class="table-responsive">
		<table class="table" id="booth_table">
			<thead>
				<tr>
					<th>Location</th>
					<th>Name</th>
					<th>Exhibitors</th>
					<th style="white-space: nowrap; text-align: right;">Exhibitor count</th>
				</tr>
			</thead>
			
			<tbody>
				{% for booth in booths %}
					<tr>
						<td>{% if booth.location.parent %} {{ booth.location.parent.name }} {% endif %} {{ booth.location.name }}</td>
						<td><a href="{% url 'booth' fair.year booth.pk %}">{{ booth.name }}</a></td>
						<td>
							{% if booth.exhibitors %}
									{% for exhibitor in booth.exhibitors %}
										<a href="{% url 'exhibitor' fair.year exhibitor.pk %}">{{ exhibitor.company.name }}</a><br />
									{% endfor %}
							{% endif %}
						</td>
						<td style="text-align: right;">{{ booth.exhibitors | length }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
{% block scripts %}
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<script>
		$(function()
		{
			$('#booth_table').DataTable({ 'paging': false })
		});
	</script>
{% endblock %}

