{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block nav-exhibitors %}
<li role="presentation" class="active"><a href="{% url 'exhibitors' fair.year %}">Exhibitors</a></li>
{% endblock %}

{% block content %}
<h1>Create exhibitors</h1>

{% if form %}
	<p>This page lets you create exhibitors based on the companies from the initial registration. Use CTRL or CMD to select multiple companies.</p>

	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form | crispy }}
		<input type="submit" name="add_eligible" class="btn btn-primary" value="Create exhibitors" />
	</form>
{% else %}
	<p>All companies from the initial registration are already marked as exhibitors.</p>
{% endif %}

{% if form_bypass %}
	</br>
	<h3>Bypass initial registration</h3>
	<p>Here you can bypass the initial registration and create an exhibitor even if the company has not signed the initial contract. This action should only be used if the complete registration has already opened.</p>
	<p class='text-danger'>Warning: These companies have not signed the initial contract.</p>

	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form_bypass | crispy }}
		<input type="submit" name="add_bypassed" class="btn btn-primary" value="Create bypassed exhibitor" {% if not bypass_allowed %} disabled {% endif %}/>
	</form>
{% endif %}
{% endblock %}
