{% extends "base.html" %}

{% load exhibitor_model %}
{% load crispy_forms_tags %}

{% block nav-exhibitors %}
	<li role="presentation" class="active"><a href="{% url 'exhibitors' fair.year %}">Exhibitors</a></li>
{% endblock %}

{% block content %}
	<ol class="breadcrumb">
		<li class="active">Exhibitors</li>
	</ol>

	<h1>Exhibitors ({{ exhibitors|length }})</h1>

	<p>
		{% if perms.exhibitors.modify_booths %}<a href="{% url 'booths' fair.year %}" class="btn btn-default">Booths</a>{% endif %}
		<a href="{% url 'edit_view' fair.year %}" class="btn btn-default">Edit view</a>
		{% if perms.exhibitors.create %}<a href="{% url 'create' fair.year %}" class="btn btn-default">Create exhibitor</a>{% endif %}
		<a href="{% url 'export' fair.year %}" class="btn btn-default">Export exhibitors</a>
	</p>

	<form method="post">
		{% csrf_token %}
		{{ form | crispy }}
		<input class="btn btn-primary" type="submit" value="Refine search" />
	</form>

	<div class="table-responsive">
		<table class="table" id="exhibitor_table">
			<thead>
			<tr>
				<th>Exhibitor</th>

				{% for field in fields %}
					<th style="white-space: nowrap;">{% get_field_name field %}</th>
				{% endfor %}
				</tr>
			</thead>

			<tbody>
				{% for exhibitor in exhibitors %}
					<tr>
						<td style="white-space: nowrap;"><a href="{% url 'exhibitor' fair.year exhibitor.id %}">{{ exhibitor.name }}</a></td>
						{% for field in exhibitor.fields %}
							{% if field.field == 'contact_persons' %}
								<td style="white-space: nowrap;">
									<ul class="list-unstyled">
										{% for contact_person in field.value %}
											{% if contact_person.profile.pk == '' %}
												<li style="color: red;">Warning: contact person has no profile! Info:</li>
												<pre>
													username: {{ contact_person.username }}
													first_name: {{ contact_person.first_name }}
													last_name: {{ contact_person.last_name }}
												</pre>
											{% else %}
												<li><a href="{% url 'people:profile' fair.year contact_person.profile.pk %}">{{ contact_person }}</a></li>
											{% endif %}

										{% endfor %}
									</ul>
								</td>
							{% elif field.field == 'transport_to' %}
								{% if field.value == 'NOT_BOOKED' %}<td class="bg-danger">
								{% elif field.value == 'IN_CONTACT' or field.value == 'IN_CONTACT_ARMADA' %}<td class="bg-warning">
								{% else %}<td>{% endif %}
									{{ exhibitor.exhibitor.get_transport_to_display }}
								</td>
							{% elif field.field == 'transport_from' %}
								{% if field.value == 'NOT_BOOKED' %}<td class="bg-danger">
								{% elif field.value == 'IN_CONTACT' %}<td class="bg-warning">
								{% else %}<td>{% endif %}
									{{ exhibitor.exhibitor.get_transport_from_display }}
								</td>
							{% elif field.field == 'count_lunch_tickets' %}
								{% if field.value.created == field.value.ordered %}<td>
								{% elif field.value.ordered > field.value.created %}<td class="bg-danger">
								{% else %}<td class="bg-info">{% endif %}
									{{ field.value.created }} / {{ field.value.ordered }}
								</td>
							{% elif field.field == 'count_banquet_tickets' %}
								{% if field.value.created == field.value.ordered %}<td>
								{% elif field.value.ordered > field.value.created %}<td class="bg-danger">
								{% else %}<td class="bg-info">{% endif %}
									{{ field.value.created }} / {{ field.value.ordered }}
								</td>
							{% elif field.field == 'check_in_timestamp' %}
								{% if field.value is None %}<td class="bg-danger"></td>
								{% else %}<td style="white-space: nowrap;"><span style="display: none;">{{ field.value|date:"U" }}</span>{{ field.value }}</td>{% endif %}
							{% elif field.field == 'check_in_comment' %}
								<td style="white-space: nowrap;">{% if field.value %}{{field.value}}{% endif %}</td>
							{% elif field.field == 'booths' %}
								<td style="white-space: nowrap;">
									<ul class="list-unstyled">
										{% for booth in field.value %}
											<li>{% if booth.location.parent %} {{ booth.location.parent }} {% endif %}{{ booth }}</li>
										{% endfor %}
									</ul>
								</td>
							{% elif field.field == 'application_status' %}
								{% with exhibitor=exhibitor.exhibitor %}
									<td style="white-space: nowrap;">{% include 'exhibitors/application_status.html' %}</td>
								{% endwith %}
							{% else %}
								<td>
									{% if field.value is not None %}{{ field.value }}{% endif %}
								</td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
{% block scripts %}
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
	<script>
		$(function()
		{
			$('#exhibitor_table').DataTable({ 'paging': false })
		});
	</script>
{% endblock %}
