{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load humanize %}

{% block nav-exhibitors %}<li role="presentation" class="active"><a href="{% url 'exhibitors' fair.year %}">Exhibitors</a></li>{% endblock %}

{% block content %}
	<ol class="breadcrumb">
		<li><a href="{% url 'exhibitors' fair.year %}">Exhibitors</a></li>
		<li class="active">{{ exhibitor.company }}</li>
	</ol>
	
	<h1>{{ exhibitor.company }}</h1>
	
	<p>
		{% if perms.exhibitors.transport %}<a href="{% url 'exhibitor_transport' fair.year exhibitor.pk %}" type="button" class="btn btn-default"><span class="glyphicon glyphicon-th"></span> Transport</a>{% endif %}
	</p>
	
	<div class="row">
		<div class="col-md-4">
			{% for contact in contacts %}
				<div class="panel panel-default">
					<div class="panel-heading">
						<h2 class="panel-title">{{ contact }}</h2>
						{% if contact.title %}{{ contact.title }}{% endif %}
					</div>
					
					<div class="panel-body">
						<ul class="list-unstyled">
							{% if contact.user %}
								<li><strong>Username:</strong> {{ contact.user.username }}</li>
								<li><strong>Registered:</strong> {{ contact.user.date_joined }}</li>
								<li><strong>Last login:</strong> {{ contact.user.last_login }}</li>
							{% endif %}
							
							<li><strong>E-mail address:</strong> <a href="mailto:{{ contact.email_address }}">{{ contact.email_address }}</a></li>
							{% if contact.mobile_phone_number %}<li><strong>Mobile phone number:</strong> <a href="tel:{{ contact.mobile_phone_number }}">{{ contact.mobile_phone_number }}</a></li>{% endif %}
							{% if contact.work_phone_number %}<li><strong>Work phone number:</strong> <a href="tel:{{ contact.work_phone_number }}">{{ contact.work_phone_number }}</a></li>{% endif %}
						</ul>
					</div>
				</div>
			{% endfor %}
		</div>
		
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Exhibitor details</h2>
				</div>
				
				<div class="panel-body">
					<p>This section is under construction. Here, you will soon see information about the company's participation in the career fair.</p>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2 class="panel-title">Orders</h2>
				</div>
				
				<div class="panel-body">
					{% if orders %}
						<table class="table">
							<thead>
								<tr>
									<th>Product</th>
									<th style="text-align: right;">Quantity</th>
									<th style="text-align: right;">Unit price</th>
								</tr>
							</thead>
							
							{% for order in orders %}
								<tr>
									<td>
										{{ order.name }}
										
										{% if order.comment %}
											<br /><span style="font-style: italic;">{{ order.comment }}</span>
										{% endif %}
									</td>
									<td style="text-align: right;">{{ order.quantity }}</td>
									<td style="text-align: right;">{{ order.unit_price | intcomma }}</td>
								</tr>
							{% endfor %}
						</table>
					{% else %}
						<p>The company has no orders for {{ fair }}.</p>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
