{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    {% if exhibitor %}
    <ol class="breadcrumb">
        <li><a href="{% url 'exhibitors' fair.year %}">Exhibitors</a></li>
        <li><a href="{% url 'exhibitor' fair.year exhibitor.company.pk %}">{{ exhibitor.company }}</a></li>
        <li class="active">{{ model_name }}</li>
    </ol>
    {% endif %}
    <h3>{{ model_name }}</h3>
    <hr>

    <div class="row">
        <div class="col-md-12">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-primary">Save</button>

                </form>

            <br>
            {% if instance %}
            <form action="{{ delete_url }}" method="POST">
                {% csrf_token %}
                <button class="btn btn-danger" onclick="return confirm('Are you sure you wan\'t to delete?')">Delete</button>
            </form>
            {% endif %}

        </div>
    </div>


{% endblock %}
