{% load crispy_forms_tags %} 
<div class="col-md-6">
    {% if contract_url %}
        <p> Here we could put some short descriptive text about the registration. Maybe put in a </p>
        <p><span class="text-danger"> NOTE: The contract is binding after a certain date </p>
            <p> For more information, read the invitation <a href="https://armada.nu/assets/i17.pdf" target="_blank"> here </a> </p>
        <h4>
          <a href={{contract_url}} target="_blank" >Read the latest contract here</a>
        </h4>
        {% if signed_up %} 
                <h3 >Your company {{company}} is signed up. Make sure your contact information is correct and we will contact you when it is time for the next step of the registration.</h3>
                {% if not contact.confirmed %}
                <h3><span class="text-danger"> You have not been confirmed as a contact to your company. Please contact us to get access to edit your registration. </span></h3>
                {% endif %}
        {% else %}
        <form method="post">{% csrf_token %} 
            {{ form2 | crispy }}
            {{ form1 | crispy }}
            {{ form3 | crispy }}
              <input class="btn-signin btn-green" type="submit" value="Sign Up!" />
          </form>
        {% endif %}
    {% else %}
        <p> We are working on constructing this years signup contract and it will soon be available. </p>
    {% endif %}

{% include 'contact_us.html' %}
</div>
