{% load crispy_forms_tags %} 
    {% if contract_url %}
	    <p> &rarr; Read the latest contract <a href={{contract_url}} target="_blank">here</a>! &larr; </p>
	    <p> For more information, read the invitation <a href="https://armada.nu/assets/i17.pdf" target="_blank">here</a>! </p>
        {% if signed_up %}
	<br>
	<div class="row">
	<div class="col-md-10">
	<h4> Thank you for signing up for Armada 2018 </h4>
        <p> Your company {{company}} is signed up. Make sure your contact information is correct and we will contact you when it is time for the next step of the registration.</p>
	</div>
	</div>
	{% if not contact.confirmed %}
                <h3><span class="text-danger"> You have not been confirmed as a contact to your company. Please contact us to get access to edit your registration. </span></h3>
                {% endif %}
        {% else %}
        <form class="room-form" method="post">{% csrf_token %} 
	<h4>Sign up for Armada 2018</h4>
            {{ form2 | crispy }}
            {{ form1 | crispy }}
              <input class="btn-sign-contract btn-green" type="submit" value="Sign Contract" />
          </form>
        {% endif %}
    {% else %}
        <p> We are working on constructing this years signup contract and it will soon be available. </p>
    {% endif %}

{% include 'contact_us.html' %}
