{% load crispy_forms_tags %}

<div class="tab-pane fade in active" id="start">

        <div class="row">
            <div class="col-md-12">
                <h1> Welcome to {{ fair }}! </h1>
             </div>
            <!-- Here we can write general info in a box or something -->
        </div>

        <!--This next row section has two sections, the signup to the left and the company/contact information to the right -->
        <div class="row">

            {% for form in forms %}
                {% if form.non_field_errors %}
                    <div class="alert alert-block alert-danger">
                    {{ form.non_field_errors }}
                    </div>
                {% endif %}
            {% endfor %}

            {% for form in common_forms %}
                {% if form.non_field_errors %}
                    <div class="alert alert-block alert-danger">
                    {{ form.non_field_errors }}
                    </div>
                {% endif %}
            {% endfor %}



            <!-- Before preliminary registration has opened -->
            {% if pre_preliminary %}
                {% include 'register/tabs/start/pre_preliminary.html' %}
            {% endif %}
            <!-- When preliminary registration is opened -->
            {% if registration_open %}
                {% include 'register/tabs/start/preliminary.html' %}
            {% endif %}

            <!-- When preliminary registration has closed -->
            {% if registration_closed %}
                {% include 'register/tabs/start/between_preliminary_and_complete.html' %}
            {% endif %}

            <!-- When complete registration is opened -->
            {% if complete_registration_open %}
                {% include 'register/tabs/start/complete.html' %}
            {% endif %}

            <!-- When complete registration has closed -->
            {% if complete_registration_closed %}
                {% include 'register/tabs/start/complete_closed.html' %}
            {% endif %}




            <!-- Company/Contact column -->
            <div class="col-md-6">
              {% if not signed_up %}
              <form method="post" enctype="multipart/form-data">{% csrf_token %}
              {% endif %}

                <h3>Company Information</h3>
                        <div class="list-unstyled form-to-edit editable-form hidden" id="organistaionEditable">
                            {{ company_form | crispy }}

                        </div>
                        <ul class="list-unstyled form-to-edit no-editable-form visible" id="organisationNoEditable">
                          <li>
                            <h5><span class="aterix h-red">*</span> Organisation name:</h5>
                            <div class="input-field">{{ company }}</div>
                          </li>
                          <li>
                            <h5><span class="aterix h-red">*</span> Organisation number:</h5>
                            <div class="input-field">{{ company.organisation_number }}
                          </li>
                          <li>
                            <h5>Type of organisation:</h5>
                            <div class="input-field">{{ company.organisation_type }}
                          </li>
                          <li>
                            <h5>Webpage:</h5>
                            {{ company.website }}
                          </li>
                          <li class="address">
                            <h5><span class="aterix h-red">*</span> Address:</h5>
                            <div class="input-field">
                              {{ company.address_street }}
                              {{ company.address_city }}
                              {{ company.address_zip_code }}
                              {{ company.address_country }}
                              {{ company.additional_address_information }}
                            </div>
                          </li>
                          {% if contact.confirmed %}
                            <div id="editOrganisationTrigger" class="toggleEdit btn-green"> Edit company info </div>
                          {% endif %}
                        </ul>












                {% if contact.confirmed %}
                {% if exhibitor %}
                <h3> Invoice Details </h3>
                <p> Organisation Name: {{exhibitor.invoice_details.organisation_name}} </p>
                <p> Reference: {{exhibitor.invoice_details.reference}} </p>
                <p> Purchase Order Number: {{exhibitor.invoice_details.purchase_order_number}} </p>
                <p> Reference Phone Number: {{exhibitor.invoice_details.reference_phone_number}} </p>
                <p> Address: {{exhibitor.invoice_details.address}} </p>
                <p> Address Po Box: {{exhibitor.invoice_details.address_po_box}} </p>
                <p> Address Zip Code: {{exhibitor.invoice_details.address_zip_code}} </p>
                <p> Identification: {{exhibitor.invoice_details.identification}} </p>
                <p> Additional Information: {{exhibitor.invoice_details.additional_information}} </p>
                    <a href={% url 'anmalan:edit_invoice_details' exhibitor.id  %}> <div class="btn-green"> Edit invoice details </div></a>
                {% endif %}
                {% else %}
                <p><span class="text-danger"> To edit your company info your user needs to be confirmed. Please contact us.</span> </p>
                {% endif %}





                <h3>Contact</h3>
                <div class="list-unstyled form-to-edit editable-form hidden" id="contactEditable">
                  {{ contact_form | crispy }}
                </div>
                <ul class="list-unstyled form-to-edit no-editable-form visible" id="contactNoEditable">
                  <li>
                    <h5><span class="aterix h-red">*</span> Name:</h5>
                    {{ contact.name }}
                  </li>

                  <li>
                    <h5><span class="aterix h-red">*</span> Title:</h5>
                    {{ contact.title }}
                  </li>
                  <li>
                    <h5><span class="aterix h-red">*</span> Phone number:</h5>
                    {{ contact.work_phone }}
                  </li>
                  <li>
                    <h5>Cell phone number:</h5>
                    {{ contact.cell_phone }}
                  </li>
                  <!--<li>
                    <h5>Phone switchboard:</h5>
                    {{ form.phone_switchboard }}
                  </li>-->
                  <li>
                    <h5><span class="aterix h-red">*</span> E­mail:</h5>
                    {{ contact.contact_email }}
                  </li>
                  <!--<li>
                    <h5>Alternative e­mail address:</h5>
                    {{ form.alternative_email }}
                  </li>-->
                  <div id="editContactTrigger" class="toggleEdit btn-green"> Edit contact info </div>
                </ul>

                <a href={% url 'anmalan:change_password' %}> Change Password </a>




















                {% if not signed_up %}
                <button type="submit" name="save" class="btn btn-armada btn-armada-green" id="save-button">Save</button>
              </form>
                {% endif %}
            </div>

        </div>
    </div>
