{% load crispy_forms_tags %} 

<div class="tab-pane fade in active" id="start">
                      
        <div class="row">
            <div class="col-md-12">
                <h1> Welcome to {{ fair }}! </h1>
             </div>
            <!-- Here we can write general info in a box or something -->
        </div>

        <!--This next row section has two sections, the signup to the left and the company/contact information to the right -->
        <div class="row">


            <!-- Before preliminary registration has opened -->
            {% if pre_preliminary %}
                {% include 'register/tabs/start/pre_preliminary.html' %}
            {% endif %}
            <!-- When preliminary registration is opened -->
            {% if registration_open %}
                {% include 'register/tabs/start/preliminary.html' %}
            {% endif %}

            <!-- When preliminary registration has closed -->
            {% if registration_closed %}
                {% include 'register/tabs/start/between_preliminary_and_complete.html' %}
            {% endif %}

            <!-- When complete registration is opened -->
            {% if complete_registration_open %}
                {% include 'register/tabs/start/complete.html' %}
            {% endif %}

            <!-- When complete registration has closed -->
            {% if complete_registration_closed %}
                {% include 'register/tabs/start/complete_closed.html' %}
            {% endif %}


            <!-- Company/Contact column -->
            <div class="col-md-6">
                <h2> Company Information </h2>
                <h3> {{company}} </h3>
                <p> <b> Organisation number: </b> {{company.organisation_number}} </p>
                <p> <b> Organisation type: </b> {{company.organisation_type}} </p>
                <p> <b> Website: </b> {{company.website}} </p>
                <p> <b> Address: </b> {{company.address_street}} {{company.address_zip_code}} {{company.address_city}}</p>
                {% if contact.confirmed %}
                <a href={% url 'anmalan:edit_company' company.id  %}> <button class="btn-green"> Edit company info </button></a>
                {% else %}
                <p><span class="text-danger"> To edit your company info your user needs to be confirmed. Please contact us.</span> </p>
                {% endif %}
                <h3> Contact </h3>
                {{ contact.name }} </br>
                {{ contact.title }} </br>
                {{ contact.email }} </br>
                {{ contact.cell_phone }}
                </br>
                <a href={% url 'anmalan:edit_me' %}><button class="btn-green" > Edit contact info </button></a>
                </br>
                <a href={% url 'anmalan:change_password' %}> <button class="btn-green"> Change password </button></a>
            </div>

        </div>
    </div>
