{% load crispy_forms_tags %} {% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8"> {% include "header.html" %} {% block head-extra %}{% endblock %}
    <link href="{% static 'complete_registration.css' %}" rel="stylesheet" media="screen">
    <script src="{% static 'js/setmobile.js' %}" type="text/javascript" charset="utf-8" async defer></script>
</head>

<body>
    <div class="text-center container">
        <div class="row">
            <div class="headline">
                <svg class="armada-logo" viewBox="305 16 320 150" width="555px" height="250px" version="1.1">
                    <image xlink:href="{% static 'images/armada_logo_text_left_green.svg' %}" alt="Armada" height="250px" width="780px"/>
                </svg>
                <h2>Company registration</h2>
                {% if initial_not_open %}
                  <h4> Initial registration opens on {{ fair.registration_start_date|date:"F j" }} </h4>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="text-center form-container">
                    <p> Sign in with existing account or create a new</p>
                    <a href="{% url 'anmalan:login' %}" class="btn-signin btn-green">Sign in</a>
                    <a href="{% url 'dashboard:register_company_contact' %}" class="btn-signin btn-green">Create Account</a>
                    <div>
                        <svg viewBox="50 50 200 200" width="100px" height="100px" version="1.1">
                            <image xlink:href="{% static 'images/armada_logo_text_left_green.svg' %}" alt="Armada" height="300px" width="700px"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
