{% extends "base.html" %}
{% block head-extra %}<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>
  tinymce.init({ selector:'textarea',
    setup: function (editor) {
        editor.on('change', function () {
            editor.save();
        });
    }
  });</script>{% endblock %}

{% block nav-news %}<li role="presentation" class="active"><a href="{% url 'news' %}">News</a></li>{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form }}
   
    <input type="submit" value="Submit" />
</form>

{% endblock %}
