{% extends "base.html" %}

{% block nav-news %}<li role="presentation" class="active"><a href="{% url 'news' fair.year %}">News</a></li>{% endblock %}


{% block content %}
	<div class="container">
        {% if article.image_3x_wide %}
            <div><img src="/media/{{ article.image_3x_wide }}" style="max-width: 100%; max-height: 400px;"></div>
        {% elif article.image_3x %}
            <div><img src="/media/{{ article.image_3x }}" style="max-width: 100%; max-height: 400px;"></div>
        {% endif %}

		<h1>{{ article.title }}</h1>
		<h4><i>{{ article.publication_date }}</i></h4>
		{{ article.html_article_text|safe }}
		
		<div>
			<a href="{{ request.META.HTTP_REFERER }}" type="button" class="btn btn-default">Back</a>
		</div>
	</div>
{% endblock %}
