{% extends "base.html" %}

{% block head-extra %}<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>{% endblock %}

{% block nav-news %}<li role="presentation" class="active"><a href="{% url 'news' %}">News</a></li>{% endblock %}


{% block content %}
<h1>News articles</h1>
<ul>
    {% for article in object_list %}
    <li>
    <b>{{ article.title }}</b><br>
    {{ article.html_article_text|safe }}<br>
    <i>{{ article.publication_date }}</i><br>
    </li>
    {% endfor %}
</ul>

<textarea>Easy! You should check out MoxieManager!</textarea>
{% endblock %}
