@font-face {
    font-family: 'Carlton Std Regular';
    src: url("./fonts/Carlton-Std-Regular.otf");
}

@font-face {
    font-family: 'Park Lane NF';
    src: url("./fonts/Park-Lane-NF.ttf");
}

body {
    background-color: #050505;
    font-family: "Carlton Std Regular", "Times New Roman", serif;
    font-size: 18pt;
    color: #fff;
}
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 2em;
}

.container {
	max-width: 850px;
}

h1 {
	padding: 0.25em 0.25em;
	font-size: 3em;
	font-family: "Park Lane NF", "Times New Roman", serif;
    color: #D5AD6D;
    /*if no support for background-clip*/
    background: -webkit-linear-gradient(transparent, transparent),
    -webkit-linear-gradient(top, rgba(213, 173, 109, 1) 0%, rgba(213, 173, 109, 1) 26%, rgba(226, 186, 120, 1) 35%, rgba(163, 126, 67, 1) 45%, rgba(145, 112, 59, 1) 61%, rgba(213, 173, 109, 1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


h2, h3 {
	font-family: "Carlton Std Regular", "Times New Roman", serif;
	color: #D5AD6D;
	font-size: 2em;
    /*if no support for background-clip*/
    background: -webkit-linear-gradient(transparent, transparent),
    -webkit-linear-gradient(top, rgba(213, 173, 109, 1) 0%, rgba(213, 173, 109, 1) 26%, rgba(226, 186, 120, 1) 35%, rgba(163, 126, 67, 1) 45%, rgba(145, 112, 59, 1) 61%, rgba(213, 173, 109, 1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.status-text {
	color: #fff;
	-webkit-text-fill-color: #fff;
}

.placement-map {
	margin: 4em 0em;
	width: 100%;
	height: auto;
}

.mate-card {
    background-color: #111;
    margin: 0.5em 0.5em;
    height: 8em;
}
