<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Armada Internal Systems</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
  </head>

  <body>
    <div class="container">
        {% block header %}
        <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <a href="/"><img src="{% static 'images/ship.png' %}" alt="Armada Ship"></a>
          <div class="pull-right">
            <p>{{request.user.username}} | <a href="logout">Log Out</a></p>
          </div>
        </div>
      </div>
        {% endblock %}
        {% block navigation %}
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <nav class="navbar navbar-inverse" role="navigation">
                <ul class="nav navbar-nav">
                  <li role="presentation"><a href="{% url root:home %}">Home</a></li>
                  <li role="presentation"><a href="/">Home</a></li>
                  <li role="presentation"><a href="/">Home</a></li>
                </ul>
              </nav>
            </div>
        </div>
        {% endblock %}
        {% block content %}{% endblock %}
        {% block footer %}{% endblock %}
    </div>
  </body>
</html>
