<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
  <head>
	{% include "header.html" %}
	{% block head-extra %}{% endblock %} 
  </head>

  <body>
        {% block header %}{% endblock %}
        {% block navigation %}
        <div role="navigation" class="navbar navbar-inverse">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="{% static 'images/ship-inverted.png' %}" alt="Armada Ship" style="max-height: 20px"></a>
                <ul class="nav navbar-nav">
                  {% block nav-people %}<li role="presentation"><a href="{% url 'people' %}">People</a></li>{% endblock %}
                  {% block nav-companies %}<li role="presentation"><a href="{% url 'companies_list' %}">Companies</a></li>{% endblock %}
                  {% block nav-events %}<li role="presentation"><a href="{% url 'event_list' %}">Events</a></li>{% endblock %}
                  {% block nav-recruitment %}<li role="presentation"><a href="{% url 'recruitment' %}">Recruitment</a></li>{% endblock %}
                  {% block nav-news %}<li role="presentation"><a href="{% url 'news' %}">News</a></li>{% endblock %}
                </ul>
                <p class="navbar-text navbar-right"><strong>{{request.user.get_full_name}}</strong> (<a href="/accounts/logout" class="navbar-link">Logout</a>)</p>
            </div>
        </div>
        {% endblock %}
        <div class="container">
        {% block content %}{% endblock %}
        </div> <!-- Container-->
        {% block footer %}{% endblock %}
  </body>
</html>
