<div>
	<div class="row">
		<div class="contact-info-box col-md-9 col-md-offset-1">
	    		<div class="contact-info">
	      			<h3>Contact us</h3>
	      			<p class="less-important"> If you have any questions you are always welcome to contact us! </p>
	      			<div class="row">
		      			<div class="col-md-6">
	      					<div class="mail">
                					<p class="mail-name">Lovisa Westerlund</p>
                					<p class="mail-role">Project Manager</p>
                					<a class = "mail-ref" href="mailto:armada@ths.kth.se">armada@ths.kth.se</a><br/>
                					+46 70 790 98 44
	      					</div>
					</div>
	      				<div class="col-md-6">
	      				</div>
		      		</div>
			</div>
		</div>
	</div>

</div>
