{% extends "base.html" %}
{% block nav-events %}
<li role="presentation" class="active"><a href="{% url 'events' %}">Events</a></li>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h3>Armada 2015 Events</h3>

    <table class="table table-striped">
      <tr>
        <th>name</th>
        <th>description</th>
        <th>capacity</th>
        <th></th>
      </tr>
      <tr>
        <td>Test</td>
        <td>Test</td>
        <td>Test</td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="row">
    New event
    <hr>
    <p>
      For technical support please e-mail support@armada.nu, for urgent matters call 08-790 98 44.
    </p>
  </div>
</div>
{% endblock %}
