{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
	{% include "header.html" %}
	{% block head-extra %}{% endblock %}
  <!-- Styling -->
      <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
      <link href="{% static 'bootstrap/css/bootstrap-theme.css' %}" rel="stylesheet">
      <link href="{% static 'complete_registration.css' %}" rel="stylesheet" media="screen">
      <script src="https://cdn.tailwindcss.com"></script>
  </head>
<body>
  <div class="text-center container flex flex-col max-w-5xl">
    <div class="row flex justify-center px-5">
      <div class="headline">
            <svg class="armada-logo" viewBox="305 16 320 150" version="1.1">
                <image xlink:href="{% static 'images/armada_logo_text_left_green.svg' %}" alt="Armada" height="250px" width="780px"/>
            </svg>
            <h2 class="text-2xl mt-2">Welcome to the Armada Platform</h2>
        </div>
    </div>
    <h2 class="mt-10 text-3xl">Who are you?</h2>
    <div class="flex flex-col pt-2 gap-y-14 gap-x-14 items-center md:flex-row md:justify-center md:items-start">
      <div class="flex-1 flex flex-col max-w-sm items-center">
          <h3 class="text-xl mb-5">Company</h3>
          <p class="max-w-xs">Get access to the Armada dashboard, your entire exhibitor experience in one place</p>
          <div class="flex flex-1 justify-center p-8">
            <div>
              <a class="btn-signin btn-green" href="/register/">Signin & Registration</a>
            </div>
          </div>
      </div>
      <div class="flex flex-col items-center flex-1 max-w-sm">
        <h3 class="text-xl mb-5">Student</h3>
        <p class="max-w-xs">To continue, login using KTH Single Sign On</p>
        <form method="post" class="flex flex-col gap-y-2">
            {% csrf_token %}
              <a class="flex justify-center" href="/login{% if next %}?next={{ next }}{% endif %}"><img src="{% static "images/kth_login_button.png" %}" alt="Login with KTH"></a>
            <p>If you don't have an KTH account log in <a href="/accounts/login">here</a>.</p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>