<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Armada Internal Systems Login</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <div class="text-center">
      <img src="static/images/ship.png" alt="Armada Ship">
      <p>Welcome to Armada!!</p>
      <p>To continue, please click the KTH Single Sign-On button below to sign in with you KTH account.</p>
      <a href="/login"><img src="static/images/kth_login_button.png" alt="KTH login button"></a>
    </div>
  </body>
</html>
