{% load crispy_forms_tags %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta charset="utf-8">
	{% include "header.html" %}
	{% block head-extra %}{% endblock %}
  <!-- Styling -->
      <link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet">
      <link href="{% static 'bootstrap/css/bootstrap-theme.css' %}" rel="stylesheet">
      <link href="{% static 'complete_registration.css' %}" rel="stylesheet" media="screen">
  </head>
<body>


<div class="text-center container" style="max-width: 555px">
    <svg class="text-center" viewBox="155 16 480 150" width="555px" height="250px" version="1.1">
        <image xlink:href="{% static 'images/armada_logo_text_left_green.svg' %}" alt="Armada" height="250px" width="780px"/>
      </svg>
      <!--<h4>We are currently experiencing some technical issues with the login functionality. If you cannot log in please use <u><a target="_blank" href="https://goo.gl/forms/kD9mCF3YccFN7XwV2">this link</a></u>.
      </h4>-->

<form method="post">
    {% csrf_token %}

        <p>To continue, please click the KTH Single Sign-On button below to sign in with you KTH account.</p>
      <a href="/login{% if next %}?next={{ next }}{% endif %}"><img src="{% static "images/kth_login_button.png" %}" alt="Login with KTH"></a>
    <p>If you don't have an KTH account log in <a href="/accounts/login">here</a>.</p>
</form>
    </div>
</body>
</html>