{% extends "people.html" %}
{% block content %}
    <table class="table table-striped">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

