<form action="{{ payment_url }}" method="POST">
  {% csrf_token %}
  <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="pk_test_IzgUj9oJhednbt4EIf78esBE"
      {# We add two zeroes to the 'data-amount' due to Stripe expecting the amount in ören #}
      data-amount="{{ amount }}00"
      data-name="THS Armada"
      data-description="{{ description }}"
      data-image="https://ais.armada.nu/static/images/armadalogo.svg"
      data-locale="auto"
      data-currency="sek">
  </script>
</form>