{% extends "people.html" %}
{% block content %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Basic information</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
    <li>First name: {{ person.user.first_name }}</ul>
    <li>Last name: {{ person.user.last_name }}</ul>
    <li>Birth date: {{ person.birth_date }}</ul>
    <li>Gender: {{ person.gender }}</ul>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contact information</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
    <li>Phone number: {{ person.phone_number }}</ul>
    <li>Email: {{ person.user.email }}</ul>
    </ul>
  </div>
</div>  

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Other information</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
    <li>Drivers license: {{ person.drivers_license }}</ul>
    <li>Allergy: {{ person.allergy }}</ul>
    <li>Programme: {{ person.programme }}</ul>
    <li>Registration year: {{ person.registration_year }}</ul>
    <li>Planned graduation: {{ person.planned_graduation }}</ul>
    <li>Shirt size: {{ person.shirt_size }}</ul>
    </ul>
  </div>
</div>
{% endblock %}

