{% extends "people.html" %}
{% block content %}
<div class="page-header">
    <h1>{% include 'recruitment/user_name.html' with user=person %} <small>{{ role }}</small></h1>
    {% if person.user == request.user %}
        <a href="{% url "edit_person" fair.year person.pk %}">Edit</a>
    {% endif %}
    </div>


    <div>
        {% if person.picture_original %}
            <div><img src="/media/{{ person.picture_original }}" style="max-width: 100%; max-height: 400px;"></div>
        {% endif %}
    <br>
    </div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Basic information</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
    <li>Birth date: {{ person.birth_date }}</li>
    <li>Gender: {{ person.get_gender_display }}</li>
    </ul>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contact information</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
    <li>Phone number: {{ person.phone_number }}</li>
    <li>Email: {{ person.user.email }}</li>
    </ul>
  </div>
</div>  

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Other information</h3>
  </div>
  <div class="panel-body">
    <ul class="list-unstyled">
    <li>Drivers license: {{ person.drivers_license }}</li>
    <li>Allergy: {{ person.allergy }}</li>
    <li>Programme: {{ person.programme }}</li>
    <li>Registration year: {{ person.registration_year }}</li>
    <li>Planned graduation: {{ person.planned_graduation }}</li>
    <li>Shirt size: {{ person.get_shirt_size_display }}</li>
    </ul>
  </div>
</div>
{% endblock %}

