{% extends "base.html" %}
{% block content %}
{% regroup users by delegated_role.organization_group as organizations %}

{{ users_with_profile }}

<h2>Contact List</h2>

{% for organization in organizations %}
	<h3>{{ organization.grouper }}</h3>
	
	<table class="table table-striped">
		<tr>
			<th class="text-uppercase" style="width: 25%">Name</th>
			<th class="text-uppercase" style="width: 25%">Role</th>
			<th class="text-uppercase text-right" style="width: 25%">Phone number</th>
			<th class="text-uppercase text-right" style="width: 25%">E-mail address</th>
		</tr>
		
		{% for user in organization.list %}
			<tr>
				<td><a href="{% url 'view_person' fair.year user.pk %}">{{ user }}</a></td>
				<td>{{ user.delegated_role }}</td>
				<td class="text-right">
					{% if not user.profile.phone_number %} N/A
					{% else %} <a href="tel:{{ user.profile.phone_number }}">{{ user.profile.phone_number }}</a>{% endif %}
				</td>
				<td class="text-right"><a href="mailto:{{ user.user.email }}">{{ user.user.email }}</a></td>
			</tr>
		{% endfor %}
	</table>
{% endfor %}
{% endblock %}
