{% for question,answer in questions_with_answers %}
    {% if question.field_type == 'text_field' %}
        <div class="form-group">
            <label for="{{ question.id }}">{{ question.question }}</label>
            <p class="form-control-static">{{ answer.answer }}</p>
        </div>
    {% elif question.field_type == 'check_box' %}
        <div class="checkbox">
            <label>
                <input type="checkbox" name="{{ question.id }}" {% if answer %}
                       checked {% endif %} disabled> {{ question.question }}
            </label>
        </div>
    {% elif question.field_type == 'text_area' %}
        <div class="form-group">
            <label for="{{ question.id }}">{{ question.question|linebreaksbr }}</label>
            <p class="form-control-static">{{ answer.answer }}</p>
        </div>
    {% elif question.field_type == 'radio_buttons' %}
        <label class="radio control-label">{{ question }}</label>
        {% for argument in question.customfieldargument_set.all|dictsort:"position" %}
            <div class="radio">
                <label>
                    <input type="radio" name="{{ question.id }}" value="{{ argument.id }}"
                            {% if answer.answer == argument.id_as_string %} checked {% endif %}
                           disabled> {{ argument.value }}
                </label>
            </div>
        {% endfor %}
    {% elif question.field_type == 'select' %}
        <div class="form-group">
            <label class="control-label">{{ question }}</label>
            {% for argument in question.customfieldargument_set.all|dictsort:"position" %}
                {% if answer.answer == argument.id_as_string %}
                    <p class="form-control-static">{{ argument.value }}</p>
                {% endif %}
            {% endfor %}
        </div>
    {% elif question.field_type == 'file' %}
        <div class="form-group">
            <label for="{{ question.id }}">{{ question }}</label>
            <p><a href="/media/{{ answer.answer }}">{{ answer.answer }}</a></p>
        </div>
    {% elif question.field_type == 'image' %}
        <div class="form-group">
            <label for="{{ question.id }}">{{ question }}</label>
            {% if answer.answer %}
                <br>
                <div><img src="/media/{{ answer.answer }}" style="max-height: 150px;"></div>
            {% endif %}
        </div>
    {% else %}
        UNKNOWN FIELD TYPE!
    {% endif %}
{% endfor %}