{% extends "base.html" %}
{% block nav-recruitment %}<li role="presentation" class="active"><a href="{% url 'recruitment' %}">Recruitment</a></li>{% endblock %}
{% block content %}
<h1>Recruitment</h1>
    <p><a href="{% url "recruitment_period_new" %}"><button class="btn btn-default">New recruitment period</button></a></p>
    {% for period in recruitment_periods %}
    <h2>{{ period.name }}</h2>

        <p><a href="{% url 'recruitment_application_new' period.id %}"><button class="btn btn-default btn-sm">Apply</button></a>
            <a href="{% url 'recruitment_period_delete' period.id %}"><button class="btn btn-danger btn-sm">Delete</button></a></p>
        <p>We are looking for:</p>
        <ul>
        {% for role in period.recruitablerole_set.all %}
        <li>{{ role }}</li>
            {% endfor %}
        </ul>

        {% if period.recruitmentapplication_set.all %}

    <table class="table">
    <thead>
    <tr>
    <th>Name</th><th>Rating</th><th>Submitted</th><th>Roles</th>
    </tr>
    </thead>
    <tr>
        {% for application in period.recruitmentapplication_set.all %}
        <td>{{ application.user }}</td>
                <td>{{ application.rating }}</td>
        <td>{{ application.submissionDate }}</td>
        <td>
            {% for role in application.roleapplication_set.all %}
                {{ role }}{% if not forloop.last %}, {% endif %}
    {%  endfor %}
            </td>
            <td><a href="{% url 'recruitment_application_delete' application.id %}"><button class="btn btn-danger btn-xs">Delete</button></a></td>
            </tr>
    {%  endfor %}
    </table>
        {% else %}
        <p>No applications</p>
        {% endif %}


    {% endfor %}

{% endblock %}
