{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


    <ol class="breadcrumb">
        <li><a href="{% url 'recruitment' fair.year %}">Recruitment</a></li>
        <li><a href="{% url 'recruitment_period' fair.year recruitment_period.id %}">{{ recruitment_period.name }}</a></li>
        <li class="active">Application</li>
    </ol>

    <div class="jumbotron recruitment-jumbotron">
        <div class="container recruitment-jumbotron-container">
            <h1>{{ recruitment_period.name }}</h1>
            <p>Apply between <strong>{{ recruitment_period.start_date|date:"d M" }}</strong> and
                <strong>{{ recruitment_period.end_date|date:"d M" }}</strong></p>

            <div>
            </div>
        </div>
    </div>

    <div class="row">


    <div class="col-sm-6">
    <form method="post" action="" enctype="multipart/form-data">
        {% csrf_token %}

        {{ role_form|crispy }}

        {{ user_form | crispy }}
        {{ profile_form|crispy }}

        {% include 'recruitment/custom_fields.html' with questions_with_answers=application_questions_with_answers %}

        <p style="font-style: italic;"> {{ message_to_applicants }} </p>

        <div class="form-group">
            {% if new_application %}
                <button type="submit" class="btn btn-success btn-lg">Apply</button>
            {% else %}
                <button type="submit" class="btn btn-primary btn-lg">Save</button>
            {% endif %}
        </div>
    </form>
    </div>

    <div class="col-sm-6">
        {% for role in recruitment_period.recruitable_roles.all %}
            <label>{{ role.name }}</label>
            <p>{{ role.description }}</p>
            <br>
        {% endfor %}
    </div>

</div>

{% endblock %}
