{% block content %}
	<style type="text/css">
		.pagebreak { page-break-before: always; }
		
		body
		{
			text-align: center;
			font-size: 20pt;
		}
		
		ol, ul
		{
			margin: 50px auto 0;
			text-align: left;
			width: 300px;
		}
	</style>
	
	{% for application in applications %}
		<h1>{{ application.user }}</h1>
		<img src="/media/{{ application.profile.picture_original }}" style="max-width: 100%; max-height: 400px;" />
		{% if application.rating %}<h1>{{ application.rating }}</h1>
		{% else %} <h1>no rating</h1> {% endif %}
		
		<ul>
			{% if application.interviewer %}<li>{{ application.interviewer }}</li>{% endif %}
			{% if application.interviewer2 %}<li>{{ application.interviewer2 }}</li>{% endif %}
		</ul>
		
		<ol>
			{% for role in application.roles %}
				<li>{{ role }}</li>
			{% endfor %}
		</ol>
		
		<div class="pagebreak"> </div>
	{% endfor %}
{% endblock %}
