<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Rating</th>
        <th>Submitted</th>
        <th>Roles</th>
        <th>Interviewer</th>
        <th>State</th>
    </tr>
    </thead>
    {% for application in applications %}
        <tr>

            <td>
                <a href="{% url 'recruitment_application_interview' recruitment_period.id application.id %}">
                    {% include 'recruitment/user_name.html' with user=application.user %}
                </a></td>
            <td>{% if application.rating != None %}{{ application.rating }}{% endif %}</td>


            <td>{{ application.submission_date|date:"d M H:i" }} UTC</td>

            <td>
                {% for role in application.roleapplication_set.all %}
                    {{ role }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
            <td>
                {% if application.interviewer %}
                    {{ application.interviewer.get_full_name }}
                {% endif %}
            </td>

            <td>
                {% if application.state == 'accepted' %}
                    <span class="label label-success">{{ application.status.capitalize }}</span>
                {% elif application.state == 'rejected' %}
                    <span class="label label-danger">{{ application.status.capitalize }}</span>
                {% elif application.state == 'new' %}
                    <span class="label label-default">New</span>
                {% elif application.state == 'interview_delegated' %}
                    <span class="label label-warning">Delegated</span>
                {% elif application.state == 'interview_planned' %}
                    <span class="label label-info">Planned</span>
                {% elif application.state == 'interview_done' %}
                    <span class="label label-primary">Done</span>
                    {% else %}
                    {{ application.state }}
                {% endif %}
            </td>

        </tr>
    {% endfor %}
</table>