{% extends "base.html" %}

{% block content %}


    <ol class="breadcrumb">
        <li><a href="{% url 'recruitment' %}">Recruitment</a></li>
        <li class="active">{{ recruitment_period.name }}</li>
    </ol>


    <div class="jumbotron" {% if recruitment_period.image %}style="background-image: url('/static/images/armada_2015_smaland.jpg'); background-position: 0px -180px;  background-repeat: no-repeat; background-size: 100%"{% endif %}>
        <div class="container" style="color: white; min-height: 230px; background-color: rgba(0,0,0,0.7); padding: 30px; max-width: 500px; margin-left: -20px; border-radius:10px;">
            <h1 style="margin-top: -0px;">{{ recruitment_period.name }}</h1>
            <p>Apply between <strong>{{ recruitment_period.start_date|date:"d M" }}</strong> and
                <strong>{{ recruitment_period.end_date|date:"d M" }}</strong></p>

        <!--<img src="/media/{{ recruitment_period.image }}" style="max-width: 100%; max-height: 300px;">-->


        <!--
            <p>We are looking for:</p>

            <ul>
                {% for role in recruitment_period.recruitable_roles.all %}
                    <li>{{ role }}</li>
                {% endfor %}
            </ul>
-->

            <div>
                {% if application %}
                    <a href="{% url 'recruitment_application_new' recruitment_period.id application.id %}">
                        <button class="btn btn-primary btn-lg">View application</button>
                    </a>
                {% else %}
                    <a href="{% url 'recruitment_application_new' recruitment_period.id %}">
                        <button class="btn btn-primary btn-lg">Apply</button>
                    </a>
                {% endif %}

                {% if can_edit_recruitment_period %}
                    <a href="{% url 'recruitment_period_edit' recruitment_period.id %}">
                        <button class="btn btn-default btn-lg">Edit</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    {% if can_edit_recruitment_application %}
        {% if recruitment_period.recruitmentapplication_set.all %}
            <h2>Applications ({{ recruitment_period.recruitmentapplication_set.all.count }})</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Rating</th>
                    <th>Submitted</th>
                    <th>Roles</th>
                    <th>Interviewer</th>
                    <th>State</th>
                </tr>
                </thead>
                {% for application in applications %}
                    <tr>

                        <td>
                            <a href="{% url 'recruitment_application_interview' recruitment_period.id application.id %}">
                                {% include 'recruitment/user_name.html' with user=application.user %}
                            </a></td>
                        <td>{% if application.rating != None %}{{ application.rating }}{% endif %}</td>


                        <td>{{ application.submission_date|date:"d M H:m" }}</td>
                        <td>
                            {% for role in application.roleapplication_set.all %}
                                {{ role }}{% if not forloop.last %}, {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% if application.interviewer %}
                                {{ application.interviewer.get_full_name }}
                            {% endif %}
                        </td>

                        <td>
                            {% if application.state == 'accepted' %}
                                <span class="label label-success">{{ application.status.capitalize }}</span>
                            {% elif application.state == 'rejected' %}
                                <span class="label label-danger">{{ application.status.capitalize }}</span>
                            {% elif application.state == 'new' %}
                                <span class="label label-default">New</span>
                            {% elif application.state == 'interview_delegated' %}
                                <span class="label label-default">Interview delegated</span>
                            {% elif application.state == 'interview_planned' %}
                                <span class="label label-default">Interview planned</span>
                            {% elif application.state == 'interview_done' %}
                                <span class="label label-default">Interview done</span>
                                {% else %}
                                {{ application.state }}
                            {% endif %}
                        </td>

                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>No applications</p>
        {% endif %}

    {% endif %}

    {% if interviews %}
        <h2>Your interviews</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>State</th>
                <th>Submitted</th>
                <th>Roles</th>
                <th>Interviewer</th>
            </tr>
            </thead>
            {% for application in interviews %}
                <tr>

<td>
                            <a href="{% url 'recruitment_application_interview' recruitment_period.id application.id %}">
                                {% include 'recruitment/user_name.html' with user=application.user %}
                            </a></td>
                    <td>{% if application.rating != None %}{{ application.rating }}{% endif %}</td>
                    <td>{% if application.status != 'undecided' %}
                        {{ application.status.capitalize }} {% endif %}</td>
                    <td>{{ application.submission_date }}</td>
                    <td>
                        {% for role in application.roleapplication_set.all %}
                            {{ role }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if application.interviewer %}
                            {{ application.interviewer.get_full_name }}
                        {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </table>
    {% endif %}
    <nav aria-label="Page navigation">

    {% if applications.paginator.num_pages > 1 %}
        <ul class="pagination">
            <li>
                {% if applications.previous_page_number > 0 %}
                    <a href="?page={{ applications.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% endif %}
            </li>
            {% for page_number in applications.paginator.page_range %}
                <li {% if page_number == applications.number %}class="active"{% endif %}><a href="?page={{ page_number }}">{{ page_number }}</a></li>
            {% endfor %}
            <li>
                {% if applications.next_page_number <= applications.paginator.num_pages %}
                    <a href="?page={{ applications.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% endif %}
            </li>
        </ul>
    {% endif %}
    </nav>

{% endblock %}
