{% extends "base.html" %}
{% load tz %}
{% localtime on %}

{% block content %}


    <ol class="breadcrumb">
        <li><a href="{% url 'recruitment' %}">Recruitment</a></li>
        <li class="active">{{ recruitment_period.name }}</li>
    </ol>


    <div class="jumbotron recruitment-jumbotron">
        <div class="container recruitment-jumbotron-container">
            <h1>{{ recruitment_period.name }}</h1>
            <p>Apply between <strong>{{ recruitment_period.start_date|date:"d M" }}</strong> and
                <strong>{{ recruitment_period.end_date|date:"d M" }}</strong></p>

            <div>
                {% if application %}
                    <a href="{% url 'recruitment_application_new' recruitment_period.id application.id %}">
                        <button class="btn btn-primary btn-lg">View application</button>
                    </a>
                {% else %}
                    <a href="{% url 'recruitment_application_new' recruitment_period.id %}">
                        <button class="btn btn-primary btn-lg">Apply</button>
                    </a>
                {% endif %}

                {% if 'administer_recruitment' in request.user.ais_permissions %}
                    <a href="{% url 'recruitment_period_edit' recruitment_period.id %}">
                        <button class="btn btn-default btn-lg">Edit</button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

    {% if 'view_recruitment_applications' in request.user.ais_permissions %}
        {% if recruitment_period.recruitmentapplication_set.all %}
            <h2>Applications ({{ applications.paginator.count }})</h2>
            {% include 'recruitment/recruitment_application_table.html' with applications=applications %}
        {% else %}
            <p>No applications</p>
        {% endif %}

    {% endif %}

    {% if interviews %}
        <h2>Your interviews ({{ interviews.count }})</h2>
        {% include 'recruitment/recruitment_application_table.html' with applications=interviews %}
    {% endif %}
    <nav aria-label="Page navigation">

    {% if applications.paginator.num_pages > 1 %}
        <ul class="pagination">
            <li>
                {% if applications.previous_page_number > 0 %}
                    <a href="?page={{ applications.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% endif %}
            </li>
            {% for page_number in applications.paginator.page_range %}
                <li {% if page_number == applications.number %}class="active"{% endif %}><a href="?page={{ page_number }}">{{ page_number }}</a></li>
            {% endfor %}
            <li>
                {% if applications.next_page_number <= applications.paginator.num_pages %}
                    <a href="?page={{ applications.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                {% endif %}
            </li>
        </ul>
    {% endif %}
    </nav>

{% endblock %}
{% endlocaltime %}