{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{% url 'recruitment' %}">Recruitment</a></li>
            <li>
                <a href="{% url 'recruitment_period' application.recruitment_period.id %}">{{ application.recruitment_period.name }}</a>
            </li>
            <li class="active">{% include 'recruitment/user_name.html' with user=application.user %}</li>
        </ol>


        <h3>{% include 'recruitment/user_name.html' with user=application.user %}</h3>
        <hr>


        <h3>Pre interview</h3>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}


        {% include 'recruitment/select_field.html' with values=users field_label='Interviewer' field_name='interviewer' selected_value=application.interviewer is_editable=can_edit_recruitment_application %}


            <div class="form-group">
                <label for="interviewDate">Interview date</label>
                <input type="text" class="form-control" id="interviewDate" name="interview_date"
                       value="{% if application.interview_date %}{{ application.interview_date }}{% endif %}">
            </div>

            <div class="form-group">
                <label for="interviewLocation">Interview place</label>
                <input type="text" class="form-control" id="interviewLocation" name="interview_location"
                       value="


                  {% if application.interview_location %}{{ application.interview_location }}{% endif %}">
            </div>

            <div class="form-group">
                <label>Recommended role</label>
                <select class="form-control" name="recommended_role">
                    <option value="">---------</option>
                    {% for role in roles %}
                        <option value="{{ role.id }}" {% if role == application.recommended_role %}
                                selected {% endif %}>{{ role }}</option>
                    {% endfor %}
                </select>
            </div>


            <div class="form-group">
                <label>Rating</label>

                <select class="form-control" name="rating">
                    <option {% if application.rating == None %}
                        selected {% endif %}>------
                    </option>
                    {% for rating in ratings %}
                        <option value="{{ rating }}" {% if rating == application.rating %}
                                selected {% endif %}>{{ rating }}</option>
                    {% endfor %}
                </select>
            </div>

            <hr>
            <h3>Post interview</h3>


        {% include 'recruitment/select_field.html' with values=roles field_label='Delegated role' field_name='delegated_role' selected_value=application.delegated_role is_editable=can_edit_recruitment_application %}
        {% include 'recruitment/select_field.html' with values=exhibitors field_label='Assigned exhibitor' field_name='exhibitor' selected_value=application.exhibitor is_editable=can_edit_recruitment_application %}
        {% include 'recruitment/select_field.html' with values=users field_label='Superior' field_name='superior_user' selected_value=application.superior_user is_editable=can_edit_recruitment_application %}
        {% include 'recruitment/select_field.html' with values=statuses field_label='Accepted / Rejected' field_name='status' selected_value=selected_status is_editable=can_edit_recruitment_application %}


            <hr>


            <h3>Application</h3>
            <label>Roles</label>
            <ol>


                {% for role in application.roleapplication_set.all %}
                    <li>{{ role }}</li>
                {% endfor %}
            </ol>
            {% include 'recruitment/custom_fields.html' with questions_with_answers=application_questions_with_answers %}
            <hr>


            <h3>Interview</h3>

            {% if not interview_questions_with_answers %}
                <p>No interview questions</p>
            {% endif %}
            {% include 'recruitment/custom_fields.html' with questions_with_answers=interview_questions_with_answers %}


            <hr>

            <button type="submit" class="btn btn-primary">Save</button>
            <a class="btn btn-danger"
               href="{% url 'recruitment_application_delete' application.recruitment_period.id application.id %}"
               onclick="return confirm('Are you sure you wan\'t to delete?')">Delete</a>
        </form>


        <h3>Comments</h3>
        <hr>

        <div class="row">
            <div class="col-sm-6">
                {% for comment in application.recruitmentapplicationcomment_set.all|dictsortreversed:"created_date" %}
                    <div class="media">
                        <div class="media-body">
                            <h4 class="media-heading">{% include 'recruitment/user_name.html' with user=application.user %}</h4>
                            <small class="text-muted">{{ comment.created_date }}</small>
                            <p>{{ comment.comment }}</p>
                        </div>
                    </div>
                    {% empty %}
                    <p>No comments</p>
                {% endfor %}
            </div>
            <div class="col-sm-6">
                <form action="{% url 'recruitment_application_comment_new' application.recruitment_period.id application.id %}"
                      method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" placeholder="Your comment..." name="comment"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add
                        comment
                    </button>
                </form>
            </div>
        </div>
    </div>


    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <script>
        $(document).ready(function () {
            $('.datepicker').datepicker();
        });
    </script>
{% endblock %}
