<div class="table-responsive">
<table class="table">
	<thead>
	<tr>

		{% for search_field in search_fields %}
			<th>
			{% if search_field.model_field_name %}
				<form class="search-form">
					<input type="hidden" name="sort_field" value="{{ search_field.model_field_name }}">
					{% if request.GET.sort_field == search_field.model_field_name and request.GET.sort_ascending == 'true' %}
						<input type="hidden" name="sort_ascending" value="false">
					{% else %}
						<input type="hidden" name="sort_ascending" value="true">
					{% endif %}
					<input type="hidden" name="scroll_y" class="scroll_y" value="0">
					<button class="btn btn-link">{{ search_field.name }}
						{% if request.GET.sort_field == search_field.model_field_name %}
							{% if request.GET.sort_ascending == 'true' %}↑{% else %}↓{% endif %}
						{% endif %}
					</button>
				</form>
			{% else %}
				<button class="btn btn-link" disabled>
				{{ search_field.name }}
				</button>
			{% endif %}

			</th>
		{% endfor %}

	</tr>
	{% if show_search_bar %}
	<tr>
		<form class="search-form">
			<input type="hidden" name="scroll_y" class="scroll_y" value="0">
			<input type="hidden" name="sort_field" value="{{ request.GET.sort_field }}">
			<input type="hidden" name="sort_ascending" value="{{ request.GET.sort_ascending }}">
			<td>{{ search_form.name }}
				<br>


						<div class="btn-group">
					<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span> Search</button>

				</div>

			</td>
			<td>{{ search_form.programme }}</td>
			<td>{{ search_form.submission_date }}</td>
			<td>{{ search_form.role }}<br></td>
			<td>{{ search_form.priority }}<br></td>
			<td>{{ search_form.interviewer }}</td>
			<td>{{ search_form.recommended_role }}</td>
			<td>{{ search_form.rating }}</td>
			<td>{{ search_form.state }}<br></td>
		</form>
	</tr>
	{% endif %}
	</thead>
	{% for application in applications %}
		<tr>
			<td>
				<a href="{% url 'recruitment_application_interview' fair.year recruitment_period.id application.id %}">
					{% include 'recruitment/user_name.html' with user=application.user %}
				</a>
			</td>

			<td>
				{% if application.user.profile.programme.shortening %} {{ application.user.profile.programme.shortening }}
				{% else %} {{ application.user.profile.programme }} {% endif %}
			</td>
			{%comment%}<td>{{ application.user.profile.registration_year }}</td>{%endcomment%}
			<td>{{ application.submission_date|date:"d M H:i" }}</td>

			<td colspan="2">
				<ol style="margin: 0; padding: 0 0 0 20px;">
					{% for role in application.roles %}
						<li>{{ role.role.name }}</li>
					{% endfor %}
				</ol>
			</td>
			
			<td>
				{% if application.interviewer %}
					{{ application.interviewer.get_full_name }}
				{% endif %}
				
				{% if application.interviewer2 %}
					<br />{{ application.interviewer2.get_full_name }}
				{% endif %}
			</td>
			
			<td>{{ application.recommended_role.name }}</td>
			
			<td>{% if application.rating != None %}{{ application.rating }}{% endif %}</td>

			<td>
				{% if application.state == 'accepted' %}
					<span class="label label-success">{{ application.status.capitalize }}</span>
				{% elif application.state == 'rejected' or application.state == 'withdrawn' %}
					<span class="label label-danger">{{ application.status.capitalize }}</span>
				{% elif application.state == 'new' %}
					<span class="label label-default">New</span>
				{% elif application.state == 'interview_delegated' %}
					<span class="label label-warning">Delegated</span>
				{% elif application.state == 'interview_planned' %}
					<span class="label label-info">Planned</span>
				{% elif application.state == 'interview_done' %}
					<span class="label label-primary">Done</span>
					{% else %}
					{{ application.state }}
				{% endif %}
			</td>

		</tr>
	{% endfor %}
</table>
</div>

