{% extends "base.html" %}

{% block content %}

    <ol class="breadcrumb">
    <li><a href="{% url 'recruitment' %}">Recruitment</a></li>
        <li class="active">{{ recruitment_period.name }}</li>
    </ol>

    <div class="jumbotron">
        <h1>{{ recruitment_period.name }}</h1>
        <p>Apply between <strong>{{ recruitment_period.start_date }}</strong> and <strong>{{ recruitment_period.end_date }}</strong></p>
        <p>We are looking for:</p>
        <ul>
            {% for role in recruitment_period.recruitablerole_set.all %}
                <li>{{ role }}</li>
            {% endfor %}
        </ul>

        <div>
        {% if application %}
            <a href="{% url 'recruitment_application_new' recruitment_period.id application.id %}"><button class="btn btn-primary">View application</button></a>
        {% else %}
            <a href="{% url 'recruitment_application_new' recruitment_period.id %}"><button class="btn btn-primary">Apply</button></a>
        {% endif %}

            {% if can_edit_recruitment_period %}
            <a href="{% url 'recruitment_period_edit' recruitment_period.id %}"><button class="btn btn-default">Edit</button></a>
            {% endif %}
        </div>
    </div>

    {% if can_edit_recruitment_period %}
    {% if recruitment_period.recruitmentapplication_set.all %}
        <h2>Applications</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>State</th>
                <th>Submitted</th>
                <th>Roles</th>
                <th>Interviewer</th>
            </tr>
            </thead>
                {% for application in recruitment_period.recruitmentapplication_set.all %}
                    <tr>

                    <td><a href="{% url 'recruitment_application_interview' recruitment_period.id application.id %}">
                            {{ application.user.get_full_name }}
                        </a></td>
                    <td>{%  if application.rating != None %}{{ application.rating }}{% endif %}</td>
                    <td>{%  if application.status != 'undecided' %} {{application.status.capitalize}} {% endif %}</td>
                    <td>{{ application.submission_date }}</td>
                    <td>
                        {% for role in application.roleapplication_set.all %}
                            {{ role }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if application.interviewer %}
                            {{ application.interviewer.get_full_name }}
                        {% endif %}
                    </td>

                    </tr>
                {% endfor %}
        </table>
    {% else %}
        <p>No applications</p>
    {% endif %}
    {% endif %}

        {% if interviews %}
            <h2>Your interviews</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th>State</th>
                <th>Submitted</th>
                <th>Roles</th>
                <th>Interviewer</th>
            </tr>
            </thead>
                {% for application in interviews %}
                    <tr>

                    <td><a href="{% url 'recruitment_application_interview' recruitment_period.id application.id %}">
                            {{ application.user.get_full_name }}
                        </a></td>
                    <td>{%  if application.rating != None %}{{ application.rating }}{% endif %}</td>
                    <td>{%  if application.status != 'undecided' %} {{application.status.capitalize}} {% endif %}</td>
                    <td>{{ application.submission_date }}</td>
                    <td>
                        {% for role in application.roleapplication_set.all %}
                            {{ role }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% if application.interviewer %}
                            {{ application.interviewer.get_full_name }}
                        {% endif %}
                    </td>

                    </tr>
                {% endfor %}
        </table>
    {% else %}

    {% endif %}


{% endblock %}
