{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <h3>New application</h3>
    <hr>
  </div>
<div class="row">
<form method="post" action="">
{% csrf_token %}
    {% for key in role_keys %}

        <div class="form-group">
            <label>Role {{ forloop.counter }}</label>
            <select class="form-control" name="{{  key }}">
            <option value="">---------</option>
            {% for role in roles %}
                <option value="{{ role.id }}">{{ role }}</option>
            {%  endfor %}
            </select>
        </div>


    {% endfor %}
<button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>
    </div>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker();
});
</script>
{% endblock %}
