{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <h3>New recruitment period</h3>
    <hr>
  </div>




<div class="row">
   <form method="post">
    {%  csrf_token %}
        {{ form|crispy }}

<div class="form-group">
        <label>Roles</label>
       {% for role in roles %}
           <div class="checkbox">
                            <label>
                                <input type="checkbox" name="role_{{ role.role.id }}" {% if role.checked %}
                                       checked {% endif %}> {{  role.role }}
                            </label>
                        </div>
       {% endfor %}


{% for custom_field in custom_fields %}
    <hr>
    <h3>{{ custom_field }}</h3>
    <div id="{{ custom_field }}"></div>
    <div class="form-group">
    <button onclick="newInterviewQuestion('{{ custom_field }}')" type="button" class="btn btn-default">New {{ custom_field }}</button>
    </div>
{% endfor %}

</div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>
    </div>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>

var custom_field_ids = {}

{%  for custom_fields, values in custom_field_ids.items %}
    custom_field_ids['{{ custom_fields }}'] = {{ values }}
{% endfor %}

var argument_ids = []

function domElementFromString(html) {
        const dummy = document.createElement('div')
        dummy.innerHTML = html.trim()
        return dummy.firstChild
    }

    function newInterviewQuestion(extraFieldId) {
        const id = custom_field_ids[extraFieldId].length > 0 ? Math.max.apply(null, custom_field_ids[extraFieldId])+1 : 1
        custom_field_ids[extraFieldId].push(id)
        addInterviewQuestion(extraFieldId, id, 'text_field', '', '')
    }

    function addInterviewQuestion(extraFieldId, id, fieldType, question, arguments) {
        //const id = Math.round((Math.random() * 100000)) % 10000

        document.getElementById(extraFieldId).appendChild(domElementFromString(`<div class="form-group" id="${id}">
                                <label>Question</label>
                                <div class="form-group row">
                                <div class="col-md-2">
                                    <select class="form-control" name="${extraFieldId}-type_${id}" onchange="(function() { document.getElementById('arguments_${id}_container').hidden = document.forms[0]['${extraFieldId}-type_${id}'].value !== 'radio_buttons' })()">

                                    {% for field in fields %}
                                    <option value="{{ field.0 }}" ${'{{ field.0 }}' === fieldType ? 'selected' : ''}>{{ field.1 }}</option>
                            {% endfor %}
                        </select>
                        </div>
                        <div class="col-md-9"><input type="text" class="form-control" name="${extraFieldId}_${id}" value="${question}" placeholder="Question"></div>
                        <div class="col-md-1"><button onclick="(function() { document.getElementById('${id}').remove() })()" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</button>

                        </div>
                        </div>


                        <div id="arguments_${id}_container" ${fieldType !== 'radio_buttons' ? 'hidden' : ''}>
                        <div id="arguments_${id}"></div>

                        <div class="form-group row">
                        <div class="col-lg-12">
                        <button onclick="(function() { newArgumentToInterviewQuestion(${id}) })()" type="button" class="btn btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add argument</button>
                        </div>
                        </div>
                        </div>

                        </div>
                        `))
    }

    function newArgumentToInterviewQuestion(interviewQuestionId) {
        const id = argument_ids.length > 0 ? Math.max.apply(null, argument_ids)+1 : 1
        argument_ids.push(id)
        addArgumentToInterviewQuestion(id, interviewQuestionId, '')
    }

    function addArgumentToInterviewQuestion(argumentId, interviewQuestionId, value) {
            var id = `argument_${interviewQuestionId}_${argumentId}`
             document.getElementById(`arguments_${interviewQuestionId}`).appendChild(domElementFromString(`
                        <div class="form-group row" id="${id}">
                            <div class="col-md-2"><input type="text" class="form-control" value="${value}" name="argument_${interviewQuestionId}_${argumentId}" placeholder="Argument"></div>
                            <div class="col-md-2"><button onclick="(function() { document.getElementById('${id}').remove() })()" type="button" class="btn btn-danger">
<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Remove</button></div>
                        </div>
                        `))
    }


$(document).ready(function() {
    $('.datepicker').datepicker();
    //newInterviewQuestion()
        {%  for custom_field_name,values in custom_fields.items %}
        {%  for custom_field in values%}
        addInterviewQuestion('{{custom_field_name}}', {{ custom_field.id }}, '{{ custom_field.field_type }}', '{{ custom_field.question }}', 'trol')
            {% for argument in custom_field.customfieldargument_set.all %}
                argument_ids.push({{argument.id}})
                addArgumentToInterviewQuestion({{argument.id}}, {{ custom_field.id }}, '{{argument.value}}')
            {% endfor %}
        {% endfor %}

    {%  endfor %}

});



</script>
{% endblock %}
