{% extends "base.html" %}
{% block nav-recruitment %}
    <li role="presentation" class="active"><a href="{% url 'recruitment' %}">Recruitment</a></li>{% endblock %}
{% block content %}


        <div class="jumbotron">
            <div class="container">
                <h1>Recruitment</h1>
                <p>Armada only recruits the sweetest KTH students</p>
            </div>
        </div>


    <div class="row">
        <div class="col-md-9">
            <h2>Recruitment periods</h2>
            {% if recruitment_periods %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Applications</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    {% for period in recruitment_periods %}
                        <tr>
                            <td><a href="{% url 'recruitment_period' period.id %}">{{ period.name }}</a></td>
                            <td>{{ period.start_date|date:"d M" }} - {{ period.end_date|date:"d M" }}</td>
                            <td>{{ period.recruitmentapplication_set.count }}</td>
                        <td>
                            {%  if period.is_past %}
                            <span class="label label-default">Closed</span>
                        {%  elif period.is_future %}
                            <span class="label label-default">Not opened yet</span>
                        {% else %}
                                <span class="label label-success">Open</span>

                        {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>No recruitment periods</p>
            {% endif %}
            {% if can_edit_recruitment_period %}
                <p><a href="{% url "recruitment_period_new" %}"><button class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> New recruitment period</button></a></p>

                {% if request.user.is_superuser %}
                <p><a href="{% url "import_members" %}"><button class="btn btn-default">Import members of Armada 2016</button></a></p>
                {% endif %}


            {% endif %}
        </div>

        <div class="col-md-3">

                <h2>Roles</h2>
                {% for role in roles %}
                    <p><a href="{% url "roles_new" role.parent_role.pk %}"><strong>{{ role.parent_role }}</strong></a></p>
                    {% for child_role in role.child_roles %}
                        <p style="margin-left: 12px"><a href="{% url "roles_new" child_role.pk %}">{{ child_role }} ({{ child_role.users|length }})</a></p>
                    {% endfor %}
                    {% empty %}
                    <p>No roles</p>
                {% endfor %}

        {% if can_edit_roles %}
                <a class="btn btn-primary" href="{% url "roles_new" %}"><span class="glyphicon glyphicon-plus"></span>
                    New role</a>

            {% endif %}
        </div>
    </div>
{% endblock %}

