{% extends "base.html" %}
{% block nav-recruitment %}<li role="presentation" class="active"><a href="{% url 'recruitment' %}">Recruitment</a></li>{% endblock %}
{% block content %}
<div class="row">
    <div class="jumbotron">
  <h1>Recruitment</h1>

  <p>Armada only recruits the sweetest KTH students</p>
        {% if perms.recruitment.change_recruitmentperiod %}
        <p><a href="{% url "recruitment_period_new" %}"><button class="btn btn-primary btn-lg">New recruitment period</button></a></p>
        {% endif %}
</div>
    </div>

<div class="row">
    <h2>Recruitment periods</h2>
    <table class="table">
    <thead>
    <tr>
    <th>Name</th><th>Start</th><th>End</th>
    </tr>
    </thead>

    {% for period in recruitment_periods %}
    <tr>
    <td><a href="{% url 'recruitment_period' period.id %}">{{period.name}}</a></td>
    <td>{{ period.start_date }}</td>
    <td>{{ period.end_date }}</td>
    </tr>
    {% endfor %}
    </table>
</div>

{% if perms.auth.change_group %}
<div class="row">
    <h2>Roles</h2>
    {% for role in roles %}

<p><a href="{% url "roles_new" role.pk %}">{{ role }}</a></p>
{% endfor %}

        <a class="btn btn-primary" href="{% url "roles_new" %}">New role</a>
</div>
    {% endif %}
{% endblock %}

