{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block nav-products %}
    <li role="presentation" class="active"><a href="{% url 'products' %}">Products</a></li>
{% endblock %}
{% block content %}
        <ol class="breadcrumb">
        <li><a href="{% url 'products' %}">Products</a></li>
        <li class="active">{{ product }}</li>
    </ol>
    <h1>{{ product }} ({{ product.price }} SEK)</h1>

        <div class="table-responsive">
        <table class="table" id="products_table">
            <thead>
                <tr>
                    <th>Exhibitor</th>
                    <th>Ordered quantity</th>
                    <th>Price (SEK)</th>
                </tr>
            </thead>
            {% for order in product.order_set.all %}
                    <tr>
                    <td><a href="{% url 'exhibitor' order.exhibitor.pk %}">{{ order.exhibitor }}</a></td>
                    <td>{{ order.amount }}</td>
                    <td>{{ order.price|intcomma }}</td>
                    </tr>
                {% endfor %}

            <tfoot>
            <tr>
                <th>Total</th>
                <th>{{ product.ordered_quantity|intcomma }}</th>
                <th>{{ product.revenue|intcomma }}</th>

            </tr>
            </tfoot>

        </table>
    </div>

{% endblock %}
{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <script>
        $(document).ready(function () {
            $('#products_table').DataTable({
                'paging': false
            })
        })
    </script>
{% endblock %}
