{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block nav-products %}
    <li role="presentation" class="active"><a href="{% url 'products' %}">Products</a></li>
{% endblock %}
{% block content %}


        {% for product_category in product_categories %}
            <h1>{{ product_category.name }} ({{ product_category.products|length }})</h1>
        <div class="table-responsive">
        <table class="table" id="{{ product_category.id }}">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price (SEK)</th>
                    <th>Ordered quantity</th>
                    <th>Revenue (SEK)</th>
                </tr>
            </thead>
            {% for product in product_category.products %}
                    <tr>
                    <td><a href="{% url 'product' product.pk %}">{{ product.name }}</a></td>
                    <td>{{ product.price|intcomma }}</td>
                    <td>{{ product.ordered_quantity|intcomma }}</td>
                    <td>{{ product.revenue|intcomma }}</td>
                    </tr>
                {% endfor %}

            <tfoot>
            <tr>
                <th>Total</th>
                <th></th>
                <th></th>
                <th></th>

            </tr>
            </tfoot>

        </table>
    </div>


    {% endfor %}


{% endblock %}
{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <script>
        $(document).ready(function () {
            {% for product_category in product_categories %}
            $('#{{ product_category.id }}'
            ).DataTable({
                'paging': false,
                'footerCallback': function (row, data, start, end, display) {
                    var api = this.api()
                    var intVal = function (i) {
                        // console.log('apa' + ' ' + i)
                        if (typeof i === 'string') {
                            return i.replace(/,/g, '') * 1
                        } else if (typeof i === 'number') {
                            return i
                        } else {
                            return 0
                        }
                    }
                    for (var column = 3; column < 4; column++) {
                        total = api.column(column).data().reduce(function (a, b) {
                            return intVal(a) + intVal(b)
                        }, 0)
                        console.log(total)
                        $(api.column(column).footer()).html(total.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
                    }
                }
            })
            {% endfor %}


        })
    </script>
{% endblock %}
