<h1>E-mail addresses</h1>
<p>Make sure to use blind carbon copies (BCC) when sending e-mail messages to the people below.</p>
<p>The e-mails are sorted on sign-up time with the first person to sign up first in the e-mail list.</p>

<style type="text/css">
	textarea
	{
		height: 200px;
		width: 100%;
		box-sizing: border-box;
		font-size: 12pt;
	}
</style>

<textarea>
{% for participant in participants|dictsort:"timestamp" %}{% if not participant.in_waiting_list %}{{ participant.assigned_name }} <{{ participant.assigned_email }}> {% if not forloop.last %}, {% endif %} {% endif%} {% endfor %}
</textarea>
