{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-events %}<li role="presentation" class="active"><a href="{% url 'events:event_list' fair.year %}">Events</a></li>{% endblock %}

{% block content %}
  <h1>{{ event.name }}</h1>
  <a href="{% url 'events:check_in' fair.year event.id %}" class="btn btn-default btn-checkin">Check in</a>
  <ul class="nav nav-tabs nav-tabs-margin" role="tablist">
    <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab"
                                              data-toggle="tab">Details</a>
    </li>
    <li role="presentation"><a href="#participants" aria-controls="participants" role="tab" data-toggle="tab">Participants
      ({{ event.participant_set.count }})</a>
    </li>
    <li role="presentation"><a href="#teams" aria-controls="teams" role="tab" data-toggle="tab">Teams
      ({{ event.team_set.count }})</a>
    </li>

  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="details">
      {% include 'events/event_form.html' with form=form questions=questions question_types=question_types %}
    </div>
    <div role="tabpanel" class="tab-pane" id="participants">
      {% include 'events/participant_list.html' with participants=participants questions=questions %}
    </div>
    <div role="tabpanel" class="tab-pane" id="teams">
      <div>
        <a href="{% url 'events:team_new' fair.year event.id %}" class="btn btn-default">New team</a>
      </div>
      {% include 'events/team_list.html' with teams=event.team_set.all event=event %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
	
	<script>
		$(function()
		{
			$('#participants_table').DataTable({ 'paging': false });
		})
	</script>
{% endblock %}
