{% extends "base.html" %}
{% load event_extras %}
{% load crispy_forms_tags %}
{% block content %}
<h2>{{ event.name }}</h2>

<p>Capacity: {{ event.capacity }}</p>

    <div class="table-responsive">
    <form method="POST">
    {% csrf_token %}
    <button class="btn btn-primary">Approve selected and reject others</button>
    <button class="btn btn-default" type="button" id="select-capacity-button">Select all up to capacity</button>
    <button class="btn btn-default" type="button" id="select-all-button">Select all</button>
    <button class="btn btn-default" type="button" id="deselect-all-button">Deselect all</button>

<table class="table" id="attendants_table">
<thead>
<tr>
    <th></th>
    <th>User</th>
    <th>Email</th>
    <th>Submission date</th>
    {% for question in questions %}
    <th>{{ question }}</th>
    {% endfor %}

    {% for question in extra_field_questions %}
    <th>{{ question }}</th>
    {% endfor %}
    <th>State</th>
    <th>Send Email</th>
    <th>Email status</th>
</tr>
</thead>

<tbody>

{% for attendance in attendances_with_answers %}
<tr>
    <td><input class="selected" type="checkbox" name="selected" value="{{ attendance.attendance.pk }}" {% if attendance.attendance.status == 'A' %}checked{% endif %}></td>
    {% if attendance.attendance.user %}
        <td><a href="{% url 'view_person' fair.year attendance.attendance.user.pk %}">{{ attendance.attendance.user.get_full_name }}</a></td>
    {% else %}
        <td>External user</td>
    {% endif %}
    {% if attendance.attendance.user %}
        <td><a href="{% url 'view_person' fair.year attendance.attendance.user.pk %}"> {{ attendance.attendance.user.email }}</a></td>
    {% else %}
        <td>External user</td>
    {% endif %}
    <td>{{ attendance.attendance.submission_date|date:"d M H:i" }}</td>

    {% for answer in attendance.answers %}
        <td>{{ answer.answer }}</td>
    {% endfor %}


    {% for answer in attendance.extra_field_answers %}
        <td>
        {% if answer %}
            {% include 'recruitment/custom_fields_value.html' with question=answer.custom_field answer=answer %}
        {% endif %}
        </td>
    {% endfor %}
    <td>{{ attendance.attendance.get_status_display }}</td>
    {% if attendance.attendance.status == 'A' and attendance.attendance.user and attendance.attendance.user.email %}
      <td>
        <a href="{% url 'send_mail_confirmation' fair.year event.pk attendance.attendance.pk %}"> Send Approval Mail </a></td>
      </td>
    {% elif attendance.attendance.status == 'D' and attendance.attendance.user and attendance.attendance.user.email %}
      <td>
        <a href="{% url 'send_mail_confirmation' fair.year event.pk attendance.attendance.pk %}"> Send Rejected Mail </a></td>
      </td>
    {% endif %}
    <td>
      {{ attendance.attendance.sent_email }}
    </td>
</tr>

{% endfor %}
</tbody>
</table>
    </form>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <script>

        $(document).ready(function () {
            $('#attendants_table').DataTable({
                'paging': false,
                'sorting': false,
            })

            $('#select-capacity-button').click(function() {
                $('.selected').each(function(index, checkbox) {
                    $(checkbox).prop('checked', index < {{ event.capacity }})
                })

            })

            $('#select-all-button').click(function() {
                $('.selected').each(function(index, checkbox) {
                    $(checkbox).prop('checked', true)
                })
            })

            $('#deselect-all-button').click(function() {
                $('.selected').each(function(index, checkbox) {
                    $(checkbox).prop('checked', false)
                })
            })

        })
    </script>

{% endblock %}
