{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav-events %}<li role="presentation" class="active"><a href="{% url 'events:event_list' fair.year %}">Events</a></li>{% endblock %}

{% block content %}
  <h1>{{ event.name }}</h1>
  <a href="{% url 'events:check_in' fair.year event.id %}" class="btn btn-default btn-checkin">Check in</a>
  <ul class="nav nav-tabs nav-tabs-margin" role="tablist">
    <li role="presentation" class="active"><a href="#details" aria-controls="details" role="tab"
                                              data-toggle="tab">Details</a>
    </li>
    <li role="presentation"><a href="#participants" aria-controls="participants" role="tab" data-toggle="tab">Participants
      ({{ event.participant_set.count }})</a>
    </li>
    <li role="presentation"><a href="#teams" aria-controls="teams" role="tab" data-toggle="tab">Teams
      ({{ event.team_set.count }})</a>
    </li>

    <li role="presentation"><a href="#emails" aria-controls="emails" role="tab" data-toggle="tab">E-mails</a></li>
    
    <li role="presentation"><a href="#waiting_list" aria-controls="waiting_list" role="tab" data-toggle="tab">Waiting List
      ({{ event.participant_set.waitlist_objects.count}})</a>
    </li>


  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="details">
      {% include 'events/event_form.html' with form=form questions=questions question_types=question_types %}
    </div>
    <div role="tabpanel" class="tab-pane" id="participants">
      {% include 'events/participant_list.html' with participants=participants questions=questions %}
    </div>
    <div role="tabpanel" class="tab-pane" id="teams">
      <div>
        <a href="{% url 'events:team_new' fair.year event.id %}" class="btn btn-default">New team</a>
      </div>
      {% include 'events/team_list.html' with teams=event.team_set.all event=event %}
    </div>
    <div role="tabpanel" class="tab-pane" id="emails">
        {% include 'events/emails.html' with participants=participants %}
    </div>
    <div role="tabpanel" class="tab-pane" id="waiting_list">
      {% include 'events/waiting_list_list.html' with participants=participants questions=questions %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
	<link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet" />
	
	<script>
  // Keep track of tab navigation by updating the url hash
  $(".nav-tabs").find("li a").each(function (key, val) {
    // If hash exists, navigate to tab
    if (window.location.hash == $(val).attr('href')) {
      $(val).trigger('click');
    }
    // Update hash when changing tab
    $(val).off('click').on('click', function (e) {
      e.preventDefault();
      window.location.hash = $(this).attr('href');
    });
  });

  $(function () {
    $('#participants_table').DataTable({ 'paging': false });
  })

  // update participants information and reload page
  $('#update_participants_button').off('click').on('click', function (e) {
    e.preventDefault();

    var $this = $(this);
    $this.button('loading'); // Change button to loading state
    $('#participants_table').addClass("disabled");

    $.ajax({
      type: 'GET',
      url: $this.data('url'),
      success: function () {
        location.reload()
      },
      error: function (request, textStatus, error) {
        console.log('cannot fetch participants details.');
      },
      complete: function () {
        $('#participants_table').removeClass("disabled");
        $this.button('reset');
      }
    });
  });
</script>
{% endblock %}
