{% extends "base.html" %}
{% load event_extras %}
{% load crispy_forms_tags %}
{% block content %}
<h2>{{ event.name }}</h2>
<br>
{{ event.description }}
<br>
<br>
<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  {{ event.attendence_description }}
  <br>
  <br>
  {% if request.user|user_attending_event:event %}
    <input class="btn btn-primary" type="submit" value="Update info" />
    <a style="float: right" class="btn btn-danger" href="{% url 'event_unattend' event.id %}">Unattend event</a>
  {% else %}
    <input class="btn btn-primary" type="submit" value="Sign up" />
  {% endif %}
</form>
{% endblock %}
