{% extends "base.html" %}
{% block nav-events %}
<li role="presentation" class="active"><a href="{% url 'event_new' %}">Events</a></li>
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <h3>Armada 2015 Events</h3>
    <table class="table table-striped">
      <tr>
        <th class="text-uppercase">name</th>
        <th class="text-uppercase">capacity</th>
        <th></th>
      </tr>
      {% for event in object_list %}
      <tr>
        <td>{{ event.name }}</td>
        <td>{{ event.capacity }}</td>
        <td>
          <a href="{% url 'event_new_attendence' %}">Sign up</a>&nbsp&nbsp
          <a href="{% url "event_edit" event.id %}">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp&nbsp
          </a>
          <a href="{% url "event_delete" event.id %}">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp&nbsp
          </a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endblock %}
  {% block footer %}
  <div class="row">
    <a href="{% url "event_new" %}">New Event</a>
    <hr>
    <p>
      For technical support please e-mail <a href="mailo:support@armada.nu" target="_top">support@armada.nu</a>, for urgent matters call 08-790 98 44.
    </p>
  </div>
  {% endblock %}
