{% extends "base.html" %}
{% load event_extras %}
{% load crispy_forms_tags %}
{% block content %}
    {% if event %}
<h2>{{ event.name }}</h2>
        {% else %}
<h2>New event</h2>
    {% endif %}
    <p>The date format to be used: <strong>2016-12-24 13:37</strong></p>
<form method="post">
{% csrf_token %}
  {{ form|crispy }}
    {% include 'recruitment/create_fields.html' with custom_field_name='extra_field' values=custom_fields %}

    <button class="btn btn-primary">Save</button>
</form>
{% endblock %}
