{% load render_bundle from webpack_loader %}
<title>THS Armada - {{ event.name }}</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"/>
<meta name="theme-color" content="#01d690">

<script>
  window.reactProps = {{ react_props|safe }};
</script>
<div id="react"></div>

<script src="https://js.stripe.com/v3/"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

{% render_bundle 'signup' %}
