{% extends "base.html" %}
{% load event_extras %}
{% load crispy_forms_tags %}
{% block content %}
<h2>{{ event.name }}</h2>

    <div class="table-responsive">
<table class="table" id="attendants_table">
<thead>
<tr>
    <th>User</th>
    {% for question in questions %}
    <th>{{ question }}</th>
    {% endfor %}

    {% for question in extra_field_questions %}
    <th>{{ question }}</th>
    {% endfor %}
</tr>
</thead>

<tbody>

{% for attendance in attendances_with_answers %}
<tr>
    {% if attendance.attendance.user %}
        <td><a href="{% url 'view_person' attendance.attendance.user.pk %}">{{ attendance.attendance.user.get_full_name }}</a></td>
    {% else %}
        <td>External user</td>
    {% endif %}

    {% for answer in attendance.answers %}
        <td>{{ answer.answer }}</td>
    {% endfor %}


    {% for answer in attendance.extra_field_answers %}
        <td>
        {% if answer %}
            {% include 'recruitment/custom_fields_value.html' with question=answer.custom_field answer=answer %}
        {% endif %}
        </td>
    {% endfor %}
</tr>

{% endfor %}
</tbody>
</table>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    <link href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <script>

        $(document).ready(function () {
            $('#attendants_table').DataTable({
                'paging': false,
            })
        })
    </script>
{% endblock %}