{% extends "base.html" %}

{% block nav-events %}
  <li role="presentation" class="active"><a href="{% url 'events:list_events' fair.year %}">Events</a></li>
{% endblock %}

{% block content %}
  <h1>Events</h1>
  <div>
    <a href="{% url 'events:event_new' fair.year %}" class="btn btn-default">New event</a>
  </div>

  {% if events %}
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Date</th>
        <th>Participants</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      {% for event in events %}
        <tr>
          <td><a>{{ event.name }}</a></td>
          <td>{{ event.date_start|date:"d M H:i" }} - {{ event.date_start|date:"d M H:i" }}</td>
          <td>{{ event.num_participants }}</td>
          <td>
            {% if event.is_past %}
              <span class="label label-default">Completed</span>
            {% elif event.is_future %}
              <span class="label label-success">Planned</span>
            {% else %}
              <span class="label label-info">Ongoing</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="text-center">No events... yet!</p>
  {% endif %}

{% endblock %}
