<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Team</th>
    <th>Email</th>
    <th>Phone no.</th>
    <th>Type</th>
  </tr>
  </thead>
  {% for participant in participants %}
    <tr>
      <td>{{ participant.assigned_name }}</td>
      <td>{{ participant.teammember_set.first.team.name }}</td>
      <td>{{ participant.assigned_email }}</td>
      <td>{{ participant.assigned_phone_number }}</td>
      <td>
        {% if participant.user_cr %}
          Company rep.
        {% else %}
          Student
        {% endif %}
      </td>
    </tr>
  {% endfor %}
</table>
