<div>
	<p style="margin-top: 16px">Synchronize waiting list signees details with their KTH accounts. Only participants with 'kth_synchronize' enabled in their profiles will be updated.</p>
	<button type="button" class="btn btn-default btn-updateparticipants" id="update_participants_button"
		data-loading-text="<span class='glyphicon glyphicon-refresh glyphicon-refresh-animate'></span> Updating participants"
		data-url="{% url 'events_api:fetch_participants_details' event.id %}">
		Update participants
	</button>
</div>

<div class="table-responsive">
	<table class="table" id="participants_table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Sign-up</th>
				<th>Team</th>
				<th style="white-space: nowrap;">E-mail address</th>
				<th style="white-space: nowrap;">Phone number</th>
				<th>Type</th>
				{% for question in questions %}
					<th style="white-space: nowrap; text-align: right;">{{ question.question }}</th>
				{% endfor %}
			</tr>
		</thead>
	
		<tbody>
			{% for participant in participants %}
				{% if participant.in_waiting_list %}
					<tr>
						<td style="white-space: nowrap;">
							{% if participant.user_s %} <a href="{% url 'people:profile' fair.year participant.user_s.pk %}">{{ participant.assigned_name }}</a>
							{% else %}{{ participant.assigned_name }}{% endif %}
						</td>
						<td style="white-space: nowrap;">{% if participant.timestamp %}<span style="display: none;">{{ participant.timestamp|date:"U" }}</span>{{ participant.timestamp }}{% endif %}</td>
						<td>{{ participant.teammember_set.first.team.name }}</td>
						<td><a href="mailto:{{ participant.assigned_email }}">{{ participant.assigned_email }}</a></td>
						<td>{% if participant.assigned_phone_number %}<a href="tel:{{ participant.assigned_phone_number }}">{{ participant.assigned_phone_number }}</a>{% endif %}</td>
						
						<td>
							{% if participant.user_cr %} Company rep.
							{% else %} Student {% endif %}
						</td>
						{% for answer in participant.signupquestionanswer_set.all %}
							<td style="text-align: right;">
								{% if answer.file %}
									<a href="{{ answer.file.file.url }}" target="_blank">
										Download File
									</a>
								{% else %}
									{{ answer.answer }}
								{% endif %}
							</td>
						{% endfor %}
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
</div>
